<div class="batch">
  <div class="logs">
    <div class="row top_nav_pos navbar bg-body">
      <div class="col-lg-12 col-sm-12 d-inline-flex justify-content-between">

        <div class="d-inline-flex justify-content-start align-items-center">
          <a class="pt-0 pe-0" (click)="goBack()" i18n-ngbTooltip="@@batch.logs.details.back" ngbTooltip="Back to Logs">
            <span class="material-symbols-outlined fs-3">
              door_back
            </span>
          </a>
          <div class="vr mx-2"></div>
          <a class="d-inline-block" i18n-ngbTooltip="@@batch.logs.details.fill.all"
            ngbTooltip="Fill batch with all items from the log" (click)="fillWithAll()">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </a>
          @if(failed > 0) {
          <a class="d-inline-block ms-3" i18n-ngbTooltip="@@batch.logs.details.fill.errors"
            ngbTooltip="Fill batch with errors only" (click)="fillWithFailed()">
            <span class="material-symbols-outlined">
              report_gmailerrorred
            </span>
          </a>
          }
        </div>
     
        <div class="small d-inline-flex justify-content-end align-items-center">
          <ngb-pagination class="mb-0 p-0" [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
            [pageSize]="pageSize" (pageChange)="refreshLogs()">
            <ng-template ngbPaginationFirst>
              <span class="material-symbols-outlined">
                first_page
              </span>
            </ng-template>
            <ng-template ngbPaginationPrevious>
              <span class="material-symbols-outlined">
                navigate_before
              </span>
            </ng-template>
            <ng-template ngbPaginationPages let-page let-pages="pages">
              @if (pages.length > 0) {
              <li class="ngb-custom-pages-item">
                <div class="d-flex flex-nowrap px-2">
                  <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1"
                    i18n="@@pagination.page">Page</label>
                  <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                    id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem"
                    max="collectionSize/pageSize" />
                  <span id="paginationDescription" class="col-form-label text-nowrap px-2"><span i18n="@@pagination.of">
                      of </span> {{ pages.length }} </span>
                </div>
              </li>
              }
            </ng-template>
            <ng-template ngbPaginationNext>
              <span class="material-symbols-outlined">
                navigate_next
              </span>
            </ng-template>
            <ng-template ngbPaginationLast>
              <span class="material-symbols-outlined">
                last_page
              </span>
            </ng-template>
          </ngb-pagination>

          <select class="form-select page-size ms-3" [(ngModel)]="pageSize" (ngModelChange)="refreshLogs()">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="30">30</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-sm-12 d-flex justify-content-between mt-5 mb-3 border-bottom">
        <div>
          <span i18n="@@batch.logs.details.for">Action</span>: <strong class="fw-bolder"> {{ method! | titlecase | separate }} </strong>
        </div>
        <div class="fw-light">
          <span i18n="@@batch.logs.started.on">started on</span><span> {{ started | date:'fullDate':'':getLang() }} </span><span class="material-symbols-outlined" style="cursor: auto">
            schedule</span><span> {{ started | date: "HH:mm":'':getLang() }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <table class="table table-responsive col-12 mt-0" onChange="refreshInPageCount()">
          <thead>
            @if((inPage | stateFilter:refreshFilters():'state').length > 0) {
            <tr class="border-bottom">
              <th scope="col" class="pe-2">Status</th>
              <th scope="col" class="pe-2">Title</th>
              <th scope="col">Message</th>
            </tr>
            }
          </thead>

          <tbody>
            @for (log of inPage | stateFilter:refreshFilters():'state' ; track log.item.itemObjectId) {
            <tr class="border-bottom">
              <td class="col-1">
                <span>{{ log.item.state | titlecase }}</span>
              </td>
              <td>
                <span>{{ log.title }}</span>
              </td>
              <td>
                <span>{{ localeMessages.get(log.item.message) }}</span>
              </td>
              <hr>
            </tr>
            }
            @empty {
            <tr>
              <th colspan="3" class="text-center">
                <span class="text-center">No items to see</span>
              </th>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="col-lg-2 d-none d-lg-block mt-4">
        <div class="border rounded p-3 m-1">
          @if(collectionSize > 0) {
          <span class="me-0"> {{ collectionSize-failed }}/{{ collectionSize }} <span class="me-0" i18n="@@batch.logs.details.succeded">
              success</span>
          </span>
          }
          @if(failed > 0) {
          <br>
          <span class="fw-bold"> {{ failed }} <span i18n="@@batch.logs.details.failed">
              failed</span>
          </span>
          }
        </div>
        <br>
        <form [formGroup]="filterForm">
          @if((collectionSize - failed) > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="success" formControlName="success" checked>
            <label class="form-check-label" for="success" i18n="@@batch.logs.details.filter.succeded">
              Show successful items
            </label>
          </div>
          }
          @if(failed > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fail" formControlName="fail" checked>
            <label class="form-check-label lh-lg" for="fail" i18n="@@batch.logs.details.filter.failed">
              Show failed items
            </label>
          </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>