<div class="batch">
  <div class="logs mt-5">
    <div class="fs-6">

      <div class="row">
        <div class="col-sm-6 d-flex justify-content-between py-4">
          <button class="btn btn-outline-secondary h-75 d-inline-block" i18n="@@batch.logs.details.fill.all" 
            (click)="fillWithAll()">
            Fill batch with all items from the log
          </button>
          <div *ngIf="failed > 0">
            <button class="btn btn-outline-secondary h-75 d-inline-block" i18n="@@batch.logs.details.fill.errors"
              (click)="fillWithFailed()">
              Fill batch with errors only
            </button>
          </div>
        </div>

        <div class="offset-sm-4 col-2 d-flex justify-content-between py-4">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="refreshLogs()">
            <ng-template ngbPaginationPages let-page let-pages="pages">
              @if (pages.length > 0) {
                <li class="ngb-custom-pages-item border-0">
                  <div class="mb-3 d-flex flex-nowrap px-2">
                    <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1" i18n="@@pagination.page">Page</label>
                    <input
                      #i
                      type="text"
                      inputmode="numeric"
                      pattern="[0-9]*"
                      class="form-control custom-pages-input"
                      id="paginationInput"
                      [value]="page"
                      (keyup.enter)="selectPage(i.value)"
                      (blur)="selectPage(i.value)"
                      (input)="formatInput($any($event).target)"
                      aria-labelledby="paginationInputLabel paginationDescription"
                      style="width: 2.5rem"
                      max="collectionSize/pageSize"
                    />
                    <span id="paginationDescription" class="col-form-label text-nowrap px-2"><span i18n="@@pagination.of"> of </span> {{ pages.length }} </span>
                  </div>
                </li>
              }
            </ng-template>
          </ngb-pagination>

          <!--select class="form-select w-auto d-none d-lg-block" [(ngModel)]="pageSize" (ngModelChange)="refreshLogs()">
          <option [ngValue]="15">15 logs per page</option>
          <option [ngValue]="30">30 logs per page</option>
          <option [ngValue]="45">45 logs per page</option>
        </select-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between py-4">
          <h4>{{ method }}</h4>
          <div>
            <span i18n="@@batch.logs.started.on">Started on</span><span> {{ started | date: 'short' }}</span>
          </div>
          <div>
            <span *ngIf="collectionSize - failed > 0">{{ collectionSize - failed }} <span i18n="@@batch.logs.details.succeded">
                successful</span></span>
            <span *ngIf="failed > 0" class="text-danger fw-bold ms-3">{{ failed }} <span i18n="@@batch.logs.details.failed">
                failed</span></span>
          </div>
          <button class="btn pt-0" (click)="goBack()">
            <span class="material-symbols-outlined text-secondary fs-2" style="transform: rotate(-180deg);">
              exit_to_app
            </span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-sm-12">
          <table class="table table-responsive fs-6 col-12">
            <thead>
              <tr class="border-bottom">
                <th scope="col" class="pe-2">Status</th>
                <th scope="col" class="pe-2">Title</th>
                <th scope="col">Message</th>
              </tr>
            </thead>

            <tbody>
              <!--@for (log of inPage; track log.item.itemObjectId | filter:refreshFilters():'state'") {
              -->
                <tr class="border-bottom" *ngFor="let log of inPage | stateFilter:refreshFilters():'state'">
                  <td class="col-1">
                    <span>{{ log.item.state | titlecase }}</span>
                  </td>
                  <td>
                    <span>{{ log.title }}</span>
                  </td>
                  <td>
                    <span>{{ localeMessages.get(log.item.message) }}</span>
                  </td>
                </tr>
              <!--}
              -->
            </tbody>
          </table>
        </div>

        <div class="col-lg-2 d-none d-lg-block">
          <form [formGroup]="filterForm">
            <div class="form-check" *ngIf="(collectionSize - failed) > 0">
              <input class="form-check-input" type="checkbox" id="success" formControlName="success" checked>
              <label class="form-check-label" for="success" i18n="@@batch.logs.details.filter.succeded">
                Show successful items
              </label>
            </div>
            <div class="form-check" *ngIf="failed > 0">
              <input class="form-check-input" type="checkbox" value="" id="faile" formControlName="fail" checked>
              <label class="form-check-label" for="fail" i18n="@@batch.logs.details.filter.failed">
                Show failed items
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>