<div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
  <div class="col-sm">
    <pure-language-autosuggest [iso]="'iso639-3'"[formForLanguage]="language_form"></pure-language-autosuggest>
  </div>
  @if (multi) {
  <div class="col-sm-1">
    <pure-add-remove-buttons [index]="index" (notice)="add_remove_identifier($event)"></pure-add-remove-buttons>
  </div>
  } @else {
  <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
  </div>
  }
</div>