<div [formGroup]="abstract_form">
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <div class="col-sm">
            <label for="abstract_language" class="col-sm-2 col-form-label">{{ 'MetadataFields.language' | translate }}</label>
            <pure-language-autosuggest [iso]="'iso639-3'"[formForLanguage]="abstract_language"></pure-language-autosuggest>
        </div>
        <div class="col-sm-1">
            <pure-add-remove-buttons [index]="index" (notice)="add_remove_abstract($event)"></pure-add-remove-buttons>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <div class="col-sm">
            <label for="abstract_value" class="col-sm-2 col-form-label">{{ 'MetadataFields.abstract' | translate }}</label>
            <textarea class="form-control" id="abstract_value" name="abstract_value" formControlName="value" [ngClass]="abstract_form.get('value')?.hasError(error_types.NO_UTF8_CHAR_IN_ABSTRACT.toString()) ? 'is-invalid' : ''"></textarea>
            @if (abstract_form.get('value')?.hasError(error_types.NO_UTF8_CHAR_IN_ABSTRACT.toString())) {
            <div class="pure-invalid">{{ 'validation.invalidCharacters' | translate }}</div>
            }
        </div>
        <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 d-none" [ngClass]="{'d-sm-none': index == index_length -1}">
        <div class="col-sm">
            <hr>
        </div>
        <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
        </div>
    </div>
</div>
