<form [formGroup]="changeKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="mb-3 row">
    <div class="col-sm-3">
      <label class="col-form-label">Keywords to be replaced</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsFrom">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">Replacing keywords</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsTo">
    </div>
  </div>
  <div class="mb-2 row">
    <div class="offset-sm-3 col-sm-6">
      @if(validSvc.notValidField(changeKeywordsForm.controls['keywordsTo'])) {
      <span class="form-text text-danger small">
        Previous and new keywords {{ validSvc.getFieldError(changeKeywordsForm.controls['keywordsTo']) }}
      </span>
      } @else {
      <span>&nbsp;</span>
      }
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-9 col-sm-3">
      <button type="submit" [disabled]="!changeKeywordsForm.valid" class="btn btn-outline-secondary col-4 float-end">
        Replace
      </button>
    </div>
  </div>
</form>