@if(aaSvc.isLoggedIn) {
<div class="batch col-lg-12 col-sm-12">
  <pure-batch-nav />
  
  @if (batchSvc.areItemsSelected() && !batchSvc.isProcessRunning()) {
  <div class="actions mt-5">
    <span i18n="@@batch.actions">
      The selected action will be applied to all publications currently stored in the workspace. Most actions involve a regular 'save' operation. Please note that this will change the state of each item accordingly.
    </span>

    <div class="mt-5">
      <div class="accordion accordion-flush" id="accordionActions">
        <div class="accordion-item">
          <h3 class="accordion-header border-0" id="headingItemState">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItemState"
              aria-expanded="true" aria-controls="collapseItemState">
              <span class="float-start ps-2" i18n="@@batch.actions.item.state">Item State</span>
            </button>
          </h3>
          <div id="collapseItemState" class="accordion-collapse collapse show" aria-labelledby="headingItemState"
            data-bs-parent="#accordionActions">
            <div class="accordion-body p-0 my-3">
              <pure-batch-actions-item-state />
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h3 class="accordion-header border-0" id="headingContext">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseContext" aria-expanded="false" aria-controls="collapseContext">
              <span class="float-start ps-2" i18n="@@batch.actions.context">Context</span>
            </button>
          </h3>
          <div id="collapseContext" class="accordion-collapse collapse" aria-labelledby="headingContext"
            data-bs-parent="#accordionActions">
            <div class="accordion-body p-0 my-3">
              <pure-batch-change-context />
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h3 class="accordion-header border-0" id="headingTags">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
              <span class="float-start ps-2" i18n="@@batch.actions.localTags">Local Tags</span>
            </button>
          </h3>
          <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="headingTags"
            data-bs-parent="#accordionActions">
            <div class="accordion-body p-0 my-3">
              <pure-batch-actions-local-tags />
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h3 class="accordion-header border-0" id="headingGenre">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">
              <span class="float-start ps-2" i18n="@@batch.actions.genre">Genre</span>
            </button>
          </h3>
          <div id="collapseGenre" class="accordion-collapse collapse" aria-labelledby="headingGenre"
            data-bs-parent="#accordionActions">
            <div class="accordion-body p-0 my-3">
              <pure-batch-change-genre />
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h3 class="accordion-header border-0" id="headingMetadata">
            <button class="accordion-button collapsed w-100 p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMetadata" aria-expanded="false" aria-controls="collapseMetadata">
              <span class="float-start ps-2" i18n="@@batch.actions.metadata">Metadata</span>
            </button>
          </h3>
          <div id="collapseMetadata" class="accordion-collapse collapse" aria-labelledby="headingMetadata"
            data-bs-parent="#accordionActions">
            <div class="accordion-body p-0 my-3">
              <pure-batch-actions-metadata />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  }
</div>
}