@if (item) {

  <pure-topnav>


    <div class="navbar-nav" start>
      @let buttonExists = false;
      @if(authorizationInfo && authorizationInfo.actions['EDIT'] && isLatestVersion) {
        <a [routerLink]="['/edit/'+ item.objectId]" class="nav-link px-2" ngbTooltip="{{'common.edit' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">edit</span>
        </a>
        @let buttonExists = true;
      }
      @if(authorizationInfo && authorizationInfo.actions['RELEASE'] && isLatestVersion) {
        <button class="nav-link" (click)="openActionsModal('release')" ngbTooltip="{{'common.release' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">public</span>
        </button>
        @let buttonExists = true;

      }
      @if(authorizationInfo && authorizationInfo.actions['SUBMIT'] && isLatestVersion) {
        <button class="nav-link" (click)="openActionsModal('submit')" ngbTooltip="{{'common.submit' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">workspace_premium</span>
        </button>
        @let buttonExists = true;

      }
      @if(authorizationInfo && authorizationInfo.actions['REVISE'] && isLatestVersion) {
        <button class="nav-link" (click)="openActionsModal('revise')" ngbTooltip="{{'common.revise' | translate}}" placement="bottom-left">
          <svg fill="currentColor" height="24px" width="24px">
            <use href="assets/icons/icons.svg#revise"></use>
          </svg>
        </button>
        @let buttonExists = true;

      }
      @if(authorizationInfo && authorizationInfo.actions['WITHDRAW'] && isLatestVersion) {
        <button class="nav-link" (click)="openActionsModal('withdraw')" ngbTooltip="{{'common.withdraw' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">public_off</span>
        </button>
        @let buttonExists = true;
      }

      @if(authorizationInfo && authorizationInfo.actions['DELETE'] && isLatestVersion) {
        <button class="nav-link" (click)="openActionsModal('delete')" ngbTooltip="{{'common.delete' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">delete_forever</span>
        </button>
        @let buttonExists = true;

      }

      @if(authorizationInfo && authorizationInfo.actions['ADD_NEW_DOI'] && isLatestVersion) {
        <button class="nav-link svg-icon" (click)="openActionsModal('addDoi')" ngbTooltip="{{'common.addDoi' | translate}}" placement="bottom-left">
          <svg fill="currentColor" height="24px" width="24px">
            <use href="assets/icons/icons.svg#doi"></use>
          </svg>
        </button>
        @let buttonExists = true;

      }

      @if(aaService.principal.value.isDepositor) {
        <button class="nav-link" (click)="useAsTemplate()" ngbTooltip="{{'common.useAsTemplate' | translate}}" placement="bottom-left">
          <span class="material-symbols-outlined">copy_all</span>
        </button>
        @let buttonExists = true;

      }

      @if (buttonExists) {
        <div start class="vr"></div>
      }

      <button class="nav-link" (click)="openExportModal()" ngbTooltip="{{'common.export' | translate}}" placement="bottom-left">
        <span class="material-symbols-outlined">upload</span>
      </button>
      <div start class="vr"></div>
      <pure-topnav-cart [resetSelectionAfterAction]="false" start/>
      <div start class="vr"></div>
      <pure-topnav-batch [resetSelectionAfterAction]="false" start/>


    </div>

    @if(listStateService.currentFullQuery && listStateService.page > 0) {
      <pure-paginator end [totalNumberOfItems]="listStateService.currentNumberOfRecords" [size]=1 [(pageNumber)]="listStateService.page" (paginatorChanged)="listStateService.paginatorChanged()"/>
    }
  </pure-topnav>


  <div class="row mt-5">
    <div class="col-lg-9 col-sm-12 p-3 bg-light rounded">
      <div class="row">
        <div class="col-2 text-center">

          @let thumbUrl = thumbnailUrl ? thumbnailUrl : 'assets/images/DefaultMPGv2.png';

          @if(thumbnailUrl) {
            <a href="{{ingeUri + firstPublicPdfFile?.content}}" target="_blank">
              <img id="thumbnail" src="{{thumbnailUrl}}" class="img-thumbnail">
            </a>
          }
          @else {
            <img id="thumbnail" src="assets/images/DefaultMPGv2.png" class="img-thumbnail">
          }




          <!--
              <pure-thumbnail-pdf pdfUrl="{{url}}"></pure-thumbnail-pdf>
              -->

        </div>
        <div class="col-10">
          <!-- badges -->
          <pure-item-badges [item]="item" [showVersion]="true"/>
          <!-- title -->
          <h3 class="mt-3" [innerHTML]="item.metadata.title | sanitizeHtml">{{ item.metadata.title }}</h3>
          <!-- alternative titles -->
          @for (altTitle of item.metadata.alternativeTitles; track altTitle.value) {
            <h5>{{ altTitle.value }}</h5>
          }
          <!-- author -->
          <div class="d-flex flex-wrap mt-2 align-content-stretch">
            @for (author of firstAuthors; track author; let i = $index) {
              <div class="me-5 mb-1">
                {{ (author?.person?.familyName || 'n/a') + ', ' + (author?.person?.givenName || 'n/a') }}
                @if (author?.person?.orcid) {
                  <span class="me-2">
                  <sup>
                    <a [href]="author?.person?.orcid" target="_blank">
                      <img alt="ORCID logo"
                           src="assets/images/ORCID-iD_icon_vector.svg"
                           width="16" height="16"/>
                    </a>
                  </sup>
                  </span>
                }
                @if (author?.person?.identifier?.id) {
                  <span class="me-2">
                    <sup>
                    <a [href]="'/cone'+author?.person?.identifier?.id" target="_blank">
                        <img alt="CoNE logo"
                             src="assets/icons/CoNE_icon.svg"
                             width="16" height="16"/>
                    </a>
                      </sup>
                  </span>

                }
              </div>
            }
            @if (item.metadata.creators && item.metadata.creators.length > 10) {
              <div class="me-5">
                <button type="button" class="btn btn-link p-0 align-baseline"
                        (click)="scrollToCreators()">{{ (item.metadata.creators.length - 10) + ' more authors ...' }}
                </button>
              </div>
            }
          </div>

          <!--citation-->
          <div class="mt-4">
            <p><i class="bi bi-quote"></i>
              <span [innerHTML]="citation | sanitizeHtmlCitation"></span>
            </p>
          </div>


        </div>


        <!-- Tab navigation -->
        <div class="row mt-5" id="item-view-subnav">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <button type="button" class="nav-link {{currentSubMenuSelection === 'abstract' ? 'active' : ''}}" href="#"
                      (click)="changeSubMenu('abstract')">{{'MetadataFields.abstract' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link {{currentSubMenuSelection === 'metadata' ? 'active' : ''}}"
                      (click)="changeSubMenu('metadata')">{{'common.metadata' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link {{currentSubMenuSelection === 'versions' ? 'active' : ''}}" href="#"
                      (click)="changeSubMenu('versions')">{{'common.versions' | translate }}
              </button>
            </li>
            @if (aaService.principal.value.loggedIn) {
              <li class="nav-item">
                <button type="button" class="nav-link {{currentSubMenuSelection === 'admin' ? 'active' : ''}}" href="#"
                        (click)="changeSubMenu('admin')">Admin
                </button>
              </li>
            }
          </ul>
        </div>
      </div>

      <hr/>
      <!-- Metadata -->
      <div class="row mt-3">

        <!--Sub content-->
        @if (currentSubMenuSelection === 'metadata') {

          <pure-item-view-metadata [item]="item"/>
        }
        @else if (currentSubMenuSelection === 'abstract') {
          @if (item.metadata.abstracts) {
            @for (abs of item.metadata.abstracts; track abs; ) {
              <pure-item-view-metadata-element>
                <span label>{{'MetadataFields.abstract' | translate }} {{ abs.language ? '(' + abs.language + ')' : '' }}</span>
                <span content [innerHTML]="abs.value | sanitizeHtml">

        </span>
              </pure-item-view-metadata-element>
            }
          } @else {
            <pure-item-view-metadata-element>
              <span label>{{'MetadataFields.abstract' | translate }}</span>
              <span content>-</span>
            </pure-item-view-metadata-element>
          }

        } @else if (currentSubMenuSelection === 'versions') {

          @if (versionMap$ | async; as versionMap) {

            @for (vm of versionMap; track vm[0]; ) {
              <pure-item-view-metadata-element>
                <span label>
                  <a
                  [routerLink]="'/view/' + vm[1][0].pubItem.objectId + '_' + vm[0]">Version {{ vm[0] }}</a></span>
                <span content>
                  @for(auditEntry of vm[1]; track auditEntry; let last = $last) {
                    <pure-item-view-metadata-element [sub]="true">
                 <span label>Date</span>
                 <span content>{{auditEntry.modificationDate | date:'medium':'+0000'}}</span>
               </pure-item-view-metadata-element>
                    <pure-item-view-metadata-element [sub]="true">
                 <span label>Event</span>
                 <span content>{{ auditEntry.event }}</span>
               </pure-item-view-metadata-element>
                    <pure-item-view-metadata-element [sub]="true" [hl]="!last">
                 <span label>Comment</span>
                 <span content>{{ auditEntry.comment }}</span>
               </pure-item-view-metadata-element>
                  }

             </span>
              </pure-item-view-metadata-element>

            }
          }
          @else {
          <pure-loading/>
          }
        } @else if (currentSubMenuSelection === 'admin') {
          <pure-item-view-metadata-element>
            <span label>ID</span>
            <span content>
            {{ item.objectId + '_' + item.versionNumber }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Context</span>
            <span content>
            {{ item.context.name }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Created</span>
            <span content>
            {{ item.creationDate }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Created by</span>
            <span content>
            {{ item.creator?.name }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Modifier</span>
            <span content>
            {{ item.modificationDate }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Modified by</span>
            <span content>
            {{ item.modifier?.name }}
          </span>
          </pure-item-view-metadata-element>
          <pure-item-view-metadata-element>
            <span label>Last comment</span>
            <span content>
            {{ item.message }}
          </span>
          </pure-item-view-metadata-element>

        }

      </div>


    </div>

    <!-- Files and references -->
    <div class="col-lg-3">

      <div class="container mt-2">
        <h5>{{ 'common.files' | translate }}</h5>
        <pure-item-view-file [files]="storedFiles" [item]="item"/>
      </div>

      <div class="container mt-5">
        <h5>Links</h5>
        <pure-item-view-file [files]="externalReferences" [item]="item"/>
      </div>


      <div class="container mt-5">
      <h5>{{ 'common.item' | translate }} Information</h5>

      @if(item.objectPid | empty) {
      <div class="mt-3">
        <h6>{{ 'common.item' | translate }} {{'common.handle' | translate}}</h6>
        <div class="row">
          <a class="icon-link" href="https://hdl.handle.net/{{item.objectPid?.substring(4)}}" target="_blank">
            <i class="bi-link"></i>
            <span class="text-truncate">{{ item.objectPid }}</span>
          </a>
        </div>
      </div>
      }

      @if(item.versionPid | empty) {
      <div class="mt-3">

        <h6>{{ 'common.version' | translate }} {{ item.versionNumber }} {{'common.handle' | translate}}</h6>
        <div class="row">
        <a class="icon-link" href="https://hdl.handle.net/{{item.versionPid?.substring(4)}}" target="_blank">
          <i class="bi-link"></i>
          <span class="text-truncate">{{ item.versionPid }}</span>
        </a>
      </div>

      </div>
      }


      @if((item.latestRelease | empty) && item.versionNumber !== item.latestRelease?.versionNumber) {
      <div class="mt-3">
        <h6>{{ 'common.latestRelease' | translate}}</h6>
        <div>
          <a class="icon-link" href="/view/{{item.objectId +'_' + item.latestRelease?.versionNumber}}" target="_blank">
            <i class="bi-link"></i>
            <span class="text-truncate">Version {{item.latestRelease?.versionNumber}}</span>
          </a>
        </div>

      </div>
      }

      @if((item.latestVersion | empty) && item.versionNumber !== item.latestVersion?.versionNumber &&
      latestVersionAuthorizationInfo && latestVersionAuthorizationInfo.actions['GET'] &&
      !((item.latestRelease | empty) && item.latestVersion?.versionNumber === item.latestRelease?.versionNumber)  ) {
        <div class="mt-3">
          <h6>{{ 'common.latestVersion' | translate}}</h6>
          <div>
            <a class="icon-link" href="/view/{{item.objectId +'_' + item.latestVersion?.versionNumber}}" target="_blank">
              <i class="bi-link"></i>
              <span class="text-truncate">Version {{item.latestVersion?.versionNumber}}</span>
            </a>
          </div>

        </div>
      }

    </div>
    </div>
  </div>

}
@else {
  <pure-loading/>
}




