<div class="imports">
  <div class="logs">
    @if(this.import.anzImportedItems || filteredSize > 25) {
    <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">

      <div class="col-lg-12 col-sm-12 d-inline-flex" [ngClass]="this.import.anzImportedItems ? 'justify-content-between': 'justify-content-end' ">
        @if(this.import.anzImportedItems) {
        <div class="d-inline-flex justify-content-start align-items-center">
          <a class="ms-3" i18n-ngbTooltip="@@imports.list.details.delete" ngbTooltip="Delete" placement="bottom-left" (click)='doDelete();'>
            <span class="material-symbols-outlined">
              delete_forever
            </span>
          </a>
          @if(caseSubmit()) {
          <a id="submit" role="button" class="btn border-0 ms-3" i18n-ngbTooltip="@@imports.list.details.submit" ngbTooltip="Submit" placement="bottom-left" (click)='doSubmit();'>
            <span class="material-symbols-outlined">
              workspace_premium
            </span>
          </a>
          }
          @if(caseSubmitAndRelease() || caseRelease()) {
          <a id="release" role="button" class="btn border-0 ms-3" i18n-ngbTooltip="@@imports.list.details.release" ngbTooltip="Release" placement="bottom-left" (click)='doRelease();'>
            <span class="material-symbols-outlined">
              public
            </span>
          </a>
          }
        </div>
        }
        @if(filteredSize > 25) {
        <div class="small d-inline-flex justify-content-end align-items-center py-1">
          <pure-paginator [totalNumberOfItems]="filteredSize" [(pageNumber)]="currentPage" [(size)]="pageSize" (paginatorChanged)="refreshLogs()" />
        </div>
        }
      </div>
      
    </div>
    }

    <div class="row">
      <div class="col-lg-9 col-sm-12 d-flex justify-content-between mt-5 mb-3 border-bottom">
        <div>
          <span i18n="@@imports.list.items.for">Import</span>: <strong class="fw-bolder">{{ import.name }}
          </strong><span class="fw-light">(  {{ getImportFormatTranslation(import.format) }} )</span>
        </div>
        <div class="fw-light">
          <span i18n="@@imports.list.started.on">started on</span><span> {{ import.startDate | date:'fullDate'}} </span><span
            class="material-symbols-outlined" style="cursor: auto">
            schedule</span><span> {{ import.startDate | date: "HH:mm" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <table class="table table-responsive col-12 mt-1">
          <thead>
            @if(inPage.length > 0) {
            <tr class="border-bottom">
              <th scope="col" class="pe-2">Status</th>
              <th scope="col" class="pe-2" i18n="@@imports.list.header.title">Item ID</th>
              <th scope="col" class="pe-2" i18n="@@imports.list.header.finished">Finished</th>
              <th scope="col" class="pe-2" i18n="@@imports.list.header.message">Report</th>
              <th scope="col">Log</th>
            </tr>
          }
          </thead>

          <tbody>
            @if(inPage.length > 0) {
              @for (item of inPage; track item.id) {                                
              <tr class="border-bottom" id="{{ item.id }}">
                <td class="col-2 text-nowrap">
                  {{ getImportStatusTranslation(item.status) }} 
                </td>
                <td class="col-3">
                  @if(item.itemId) {                 
                    <span class="nav-link text-decoration-underline" [routerLink]="['view', item.itemId]">{{ item.itemId }} </span>
                  } @else {
                    {{ getImportMessageTranslation(item.message) }}
                  }
                </td>
                <td class="col-5">
                  <span>{{ item.endDate | date:'fullDate' }}</span>
                  <div class="float-end">
                    <span class="material-symbols-outlined text-secondary" style="cursor: auto">schedule</span>&nbsp;
                    <span class="me-3">{{ item.endDate | date: "HH:mm" }}</span>
                  </div>
                </td>
                <td class="col-2">
                  {{ getImportErrorLevelTranslation(getAssorted(item.errorLevel)) }}
                </td>
                <td class="col-1">
                  @if(item.anzDetails) {
                  <a [routerLink]="['log']"
                    [state]="{ item: item }">     
                      <span class="material-symbols-outlined my-0">
                        integration_instructions
                      </span>
                  </a>
                  } 
                </td>
              </tr>
              }
              @empty {
                <tr>
                  <th colspan="4" class="text-center">
                    <span class="text-center" i18n="@@batch.logs.details.empty">No details to show</span>
                  </th>
                </tr>
                }
            }
          </tbody>
        </table>
      </div>

      <div class="col-lg-3 d-none d-lg-block mt-4">
        <div class="border rounded p-3 m-1">
          @if(unfilteredSize > 0) {
          <span class="me-0"> {{ this.import.anzImportedItems }}/{{ this.import.anzFrom }} <span class="me-0" i18n="@@imports.list.details.count">
            items imported</span>
          </span>
          }
        </div>
        <br>
        <span i18n="@@imports.list.details.filter">Reports to show</span>
        <br>
        <form [formGroup]="filterForm" (change)="onFilterChange()">
          @if(fine > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fine" formControlName="fine">
            <label class="form-check-label" for="fine">
              {{ getImportErrorLevelTranslation('FINE') }}
            </label>
          </div>
          }
          @if(warning > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="warning" formControlName="warning">
            <label class="form-check-label" for="warning">
              {{ getImportErrorLevelTranslation('WARNING') }}
            </label>
          </div>
          }
          @if(problem > 0 || error > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="error" formControlName="error">
            <label class="form-check-label" for="error">
              {{ getImportErrorLevelTranslation('ERROR') }}
            </label>
          </div>
          }
          @if(fatal > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fatal" formControlName="fatal">
            <label class="form-check-label" for="fatal">
              {{ getImportErrorLevelTranslation('FATAL') }}
            </label>
          </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>