<div [formGroup]="alt_title_form">
    <div class="d-sm-flex flex-sm-row gap-1 align-items-start" [ngClass]="{'mb-1': index !== index_length -1}">
        <div class="col-sm">
            <label for="alt_title_type" class="visually-hidden">type</label>
            <select id="alt_title_type" class="form-select" formControlName="type">
                <option [ngValue]="null" selected disabled>type</option>
                @for (t of alt_title_types; track t) {
                <option [ngValue]="t">{{t}}</option>
                }
            </select>
        </div>
        <!--
        <div class="col-sm">
            <label for="alt_title_lang" class="visually-hidden">language</label>
            <select id="alt_title_lang" class="form-select" formControlName="language">
                <option [value]="null" selected disabled>language</option>
                @for (l of alt_title_langs; track l) {
                <option [value]="l">{{l}}</option>
                }
            </select>
        </div>
        -->
        <div class="col-sm-8">
            <input type="text" class="form-control" id="alt_title_value" formControlName="value">
            @if (alt_title_form.get('value')?.hasError(error_types.NO_UTF8_CHAR_IN_ABSTRACT.toString())) {
            <div class="text-danger">Invalid UTF-8 Character</div>
            }
        </div>
        <div class="col-sm-1">
            <pure-add-remove-buttons [index]="index" (notice)="add_remove_alt_title($event)"></pure-add-remove-buttons>
        </div>
    </div>
</div>