<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Export Item(s)</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">

    <div class="mb-3">
      <label for="formatSelect">Format</label>
      <select class="form-select" [(ngModel)]="selectedExportType" (change)="handleFormatChange($event)" id="formatSelect" name="selectFormat">
        <optgroup label="Format Exports">
        <option [ngValue]="exportTypes.ENDNOTE">
          {{ exportTypes.ENDNOTE }}
        </option>
        <option [ngValue]="exportTypes.BIBTEX">
          {{ exportTypes.BIBTEX }}
        </option>
        <option [ngValue]="exportTypes.JSON">
          {{ exportTypes.JSON }}
        </option>
        <option [ngValue]="exportTypes.ESCIDOC_ITEMLIST_XML">
          {{ exportTypes.ESCIDOC_ITEMLIST_XML }}
        </option>
        <option [ngValue]="exportTypes.MARC_XML">
          {{ exportTypes.MARC_XML }}
        </option>
        </optgroup>
        <optgroup label="Citation Exports">
          <option [ngValue]="exportTypes.PDF">
            {{ exportTypes.PDF }}
          </option>
          <option [ngValue]="exportTypes.DOCX">
            {{ exportTypes.DOCX }}
          </option>
          <option [ngValue]="exportTypes.HTML_PLAIN">
            {{ exportTypes.HTML_PLAIN }}
          </option>
          <option [ngValue]="exportTypes.HTML_LINKED">
            {{ exportTypes.HTML_LINKED }}
          </option>
          <option [ngValue]="exportTypes.JSON_CITATION">
            {{ exportTypes.JSON_CITATION }}
          </option>
          <option [ngValue]="exportTypes.ESCIDOC_SNIPPET">
            {{ exportTypes.ESCIDOC_SNIPPET }}
          </option>

        </optgroup>

      </select>
    </div>

    @if(!isFormat) {
    <div class="mb-3">
      <label for="citationSelect">Citation</label>
      <select class="form-select" [(ngModel)]="selectedCitationType" (change)="handleCitationChange($event)" id="citationSelect" name="selectFormat">

        <option value="{{citationTypes.APA}}">
          {{ citationTypes.APA }}
        </option>
        <option value="{{citationTypes.APA_CJK}}">
          {{ citationTypes.APA_CJK }}
        </option>
        <option value="{{citationTypes.AJP}}">
          {{ citationTypes.AJP }}
        </option>
        <option value="{{citationTypes.JUS}}">
          {{ citationTypes.JUS }}
        </option>
        <option value="{{citationTypes.CSL}}">
          {{ citationTypes.CSL }}
        </option>


      </select>
    </div>

      @if(selectedCitationType===citationTypes.CSL) {
        <div class="mb-3">
          <pure-csl-autosuggest (selectedEvent)="selectCsl($event)"/>
        </div>
      }


      <h6>Citation Example</h6>
      <p [innerHTML]="currentCitation"></p>
    }
</div>

<div class="modal-footer">
  <a class="btn btn-outline-primary" href="{{downloadLink}}" target="_blank">Download</a>
  <!--<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Download</button>-->
</div>
