<div class="batch">
  <div class="logs">
    <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">
      <div class="col-lg-12 col-sm-12 d-inline-flex justify-content-between">

        <div class="d-inline-flex justify-content-start align-items-center">
          <a ngbTooltip="{{ 'batch.logs.details.fill.all' | translate }}" placement="bottom-left"
            (click)="fillWithAll()">
            <span class="material-symbols-outlined" style="cursor:pointer">
              list_alt
            </span>
          </a>
          @if(failed > 0) {

          <a class="ms-3" ngbTooltip="{{ 'batch.logs.details.fill.errors' | translate }}" placement="bottom-left"
            (click)="fillWithFailed()">
            <span class="material-symbols-outlined" style="cursor:pointer">
              breaking_news_alt_1
            </span>
          </a>

          }
        </div>

        @if(filteredSize > 25) {

        <div class="small d-inline-flex justify-content-end align-items-center py-1">
          <pure-paginator [totalNumberOfItems]="filteredSize" [(pageNumber)]="currentPage" [(size)]="pageSize"
            (paginatorChanged)="refreshLogs()" />
        </div>

        }
      </div>
    </div>

    <div class="row">
      <div class="d-flex flex-column flex-lg-row col-12 col-xl-9 justify-content-between mt-5 mb-3 border-bottom">
        <div class="text-nowrap text-truncate">
          <span>{{ 'batch.logs.details.for' | translate }}</span>: <strong class="fw-bolder"> {{
            'BatchProcessMethod.' + batchLogHeader!.method | translate }} </strong>
        </div>
        <div class="fw-light text-nowrap text-truncate">
          <span>{{ 'batch.logs.started.on' | translate }}</span>
          <span> {{ batchLogHeader.startDate | localizeDate:'fullDate' }}</span>
          <span class="material-symbols-outlined text-secondary pt-1" style="cursor: auto">
            schedule</span>&nbsp;
          <span> {{ batchLogHeader.startDate | date: "HH:mm" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-9">
        <table class="table table-responsive col-12 mt-0">
          <thead>
            @if(inPage.length > 0) {

            <tr>
              <th scope="col" class="d-flex d-none d-md-table-cell col-1 col-lg-2 text-nowrap text-truncate">Status</th>
              <th scope="col" class="d-flex d-none d-md-table-cell col-sm-6">{{ 'batch.logs.header.title' | translate }}
              </th>
              <th scope="col" class="d-flex d-none d-md-table-cell col-sm-5 col-lg-4">{{ 'batch.logs.header.message' |
                translate }}</th>
            </tr>

            }
          </thead>
        </table>
        <table class="table table-responsive col-12" onChange="refreshInPageCount()">
          <tbody>
            @if(inPage.length > 0) {
            <ng-container>
              @for (log of inPage; track log.itemObjectId) {
              @defer (on viewport) {

              <pure-batch-action-dataset-log [log]="log"></pure-batch-action-dataset-log>

              }
              @placeholder {
              <div>...</div>
              }
              }
              @empty {

              <tr>
                <th colspan="3" class="text-center col-19">
                  <span class="text-center">{{ 'batch.logs.details.empty' | translate }}</span>
                </th>
              </tr>

              }
            </ng-container>
            }
          </tbody>
        </table>
      </div>

      <div class="d-flex d-none col-0 col-xl-3 d-xl-block mt-4">
        @if(unfilteredSize > 0) {

        <div class="border rounded p-3 m-1">
          <span class="me-0"> {{ batchLogHeader!.numberOfItems - failed }}/{{ batchLogHeader!.numberOfItems }}
            <span class="me-0">{{ 'common.succeded' | translate }}</span>
          </span>
        </div>

        }
        <br>
        <form [formGroup]="filterForm" (change)="onFilterChange()">
          @if((unfilteredSize - failed) > 0) {

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="success" formControlName="success" checked>
            <label class="form-check-label" for="success">
              {{ 'batch.logs.details.filter.succeded' | translate }}
            </label>
          </div>

          }
          @if(failed > 0) {

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fail" formControlName="fail" checked>
            <label class="form-check-label" for="fail">
              {{ 'batch.logs.details.filter.failed' | translate }}
            </label>
          </div>

          }
        </form>
      </div>
    </div>
  </div>
</div>