<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
    <h3 class="m-0 mb-4" i18n="@@imports.fileImport">File Import</h3>
  
    <form [formGroup]="importForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <label class="col-sm-3 col-form-label" i18n="@@imports.fileImport.upload">Upload</label>
        <div class="col-sm-4">
          <div class="d-sm-flex flex-sm-row gap-1 mb-1">
            <div class="dropzone col-sm" pureFileImport (dropFiles)="onDropFiles($event)">
              <i class="bi bi-cloud-upload" style="font-size: 3rem"></i>
              <p>Drag and drop file here</p>
              <div class="mb-3">
                <input class="form-control" formControlName="file" type="file" id="file" (change)="onChange($event)">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="context" class="col-sm-3 col-form-label" i18n="@@imports.context">Context</label>
        <div class="col-sm-9">
          <select id="context" class="form-select" formControlName="contextId">
            <option [value]='' selected disabled i18n="@@imports.context">Context</option>
            @for (contextObject of user_contexts; track contextObject) {
            <option [value]="contextObject.objectId">{{contextObject.name}}</option>
            }
          </select>
        </div>
      </div>
  
      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="col-form-label">Format</label>
        </div>
        <div class="col-sm-2">
          <select class="form-select" formControlName="format">
            <option [value]='' selected disabled>Format</option>
            @for (format of importFormat; track format) {
              <option [value]="format">{{ format }}</option>
            }
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="col-form-label">Name</label>
        </div>
        <div class="col-sm-9">
          <input class="form-control" formControlName="importName">
        </div>
      </div>

      @if(hasConfig()) {
    
        @if(hasSelect()) {
        <div class="mb-3 row">
          <div class="col-sm-3">
            <label class="col-form-label">{{ getSelectName() | separate | titlecase }}</label>
          </div>
          <div class="col-sm-9">
            <select id="formatConfig" class="form-select" formControlName="formatConfig" size="1">
              <option [value]='' selected disabled>{{ getSelectName() }}</option>
              @for (option of getOptionList(); track option) {
              <option [value]="option">{{ option }}</option>
              }
            </select>
          </div>
        </div>
        }

      <div class="mb-3 row">
        <div class="offset-md-3 col-sm-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="cone" [checked]="isCoNE()">
            <label class="form-check-label" for="cone">CoNE</label>
          </div>
        </div>
      </div>
      }

      <div class="row">
        <div class="offset-sm-9 col-sm-3">
          <button type="submit" [disabled]="importForm.invalid || importForm.pristine" 
            class="btn btn-outline-secondary col-4 float-end">
            GO
          </button>
        </div>
      </div>
    </form>
  
</div>