<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h3 class="m-0 mb-4">{{ 'imports.fileImport' | translate }}</h3>

  <div class="d-sm-flex flex-sm-row gap-1 mb-3">
    <label class="col-sm-3 col-form-text">{{ 'imports.fileImport.upload' | translate }}</label>
    <div class="col-sm-4">
      <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <div class="dropzone col-sm" pureFileImport (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
          [ngClass]="{'border-danger': importForm.get('fileName')?.invalid && importForm.get('fileName')?.touched || importForm.get('fileName')?.pending}">
          <i class="bi bi-cloud-upload" style="font-size: 3rem"></i>
          <p class="mb-1">{{ 'common.dragAndDrop' | translate }}</p>
          <p class="mb-2">{{ 'common.or' | translate }}</p>
          <div>
            <label for="fileChoose" class="btn btn-outline-secondary px-4" 
              data-test="file-upload-label">
              {{ 'common.choose.file' | translate }}
            </label>
            <input type="file" id="fileChoose" class="form-control d-none" (change)="onFileChange($event)"  
              data-test="file-upload-input">      
          </div>
          <div>
            @if (importForm.get('fileName')?.invalid && importForm.get('fileName')?.touched || importForm.get('fileName')?.pending){
            <i class="float-end bi bi-exclamation-circle text-danger text-end fs-6 mt-3"></i>   
            } @else {
              <p>&nbsp;</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="importForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'common.file' | translate }}</label>
      </div>
      <div class="col-sm-8">
        <input id="fileName" formControlName="fileName" readonly placeholder="{{ 'common.choose.noFileChosen' | translate }}"
          class="form-control disabled placeholder-glow" 
          data-test="file-name">
      </div>
      <div class="col-sm-1">
        <pure-add-remove-buttons [index]="0" [del_val]="(!importForm.get('fileName')?.value) ? 'hidden' : ''"
          [hiddenAddButton]="true" [disableAdd]="true" (click)="onFileRemove()">
        </pure-add-remove-buttons>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="importForm.get('fileName')"/>
      </div>
    </div>

    <div class="row">
      <label for="context" class="col-sm-3 col-form-label">{{ 'imports.context' | translate }}</label>
      <div class="col-sm-9">
        <select id="context" class="form-select" formControlName="contextId"
          [class.is-invalid]="importForm.get('contextId')?.invalid && importForm.get('contextId')?.touched || importForm.get('contextId')?.pending"
          data-test="import-context">
          <option [value]="null" selected disable hidden>{{ 'imports.context' | translate }}</option>
          @for (contextObject of user_contexts; track contextObject) {
          <option [value]="contextObject.objectId">{{contextObject.name}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="importForm.get('contextId')"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">Format</label>
      </div>
      <div class="col-sm-2">
        <select class="form-select" formControlName="format"
          [class.is-invalid]="importForm.get('format')?.invalid && importForm.get('format')?.touched || importForm.get('format')?.pending" 
          (change)="onFormatChange($event)" 
          data-test="import-format">
          <option [value]="null" selected disabled hidden>Format</option>
          @for (format of importFormat; track format) {
          <option [value]="format">{{ 'ImportFormat.' + format | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="importForm.get('format')"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">Name</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" formControlName="importName"
          [class.is-invalid]="importForm.get('importName')?.invalid && importForm.get('importName')?.touched || importForm.get('importName')?.pending"
          data-test="import-name">
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">       
        <pure-validation-error [control]="importForm.get('importName')"/>        
      </div>
    </div>

    @if(hasConfig()) {
      @if(hasSelect()) {
      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="col-form-label">{{ getSelectName() | separate | titlecase }}</label>
        </div>
        <div class="col-sm-9">
          <select id="formatConfig" class="form-select" formControlName="formatConfig" size="1">
            @for (option of getSelectOptionList(); track option) {
            <option [value]="option">{{ option }}</option>
            }
          </select>
        </div>
      </div>
      }

    <div class="mb-3 row">
      <div class="offset-md-3 col-sm-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="cone">
          <label class="form-check-label" for="cone"
            ngbTooltip="{{ 'imports.CoNE.note' | translate }}" placement="bottom-left">CoNE</label>
        </div>
      </div>
    </div>
    }

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!importForm.valid" class="btn btn-outline-primary float-end"
          data-test="import-button">
          GO
        </button>
      </div>
    </div>
  </form>

</div>