<!--div class="d-flex flex-column justify-content-center pt-5 text-success">
    <hr>
    <p class="d-flex justify-content-center text-success">new-fetch works!</p>
    <div>
        <img class="float-start" src="/assets/images/mocks/Screenshot_fetch.png" aria-hidden="true" width="60%">
        <img class="float-end" src="/assets/images/mocks/Screenshot_fetch_new.png" aria-hidden="true" width="20%">
    </div>
    <hr>
</div-->

<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
    <h3 class="m-0 mb-4" i18n="@@batch.actions.context.change">ID Fetch</h3>
  
    <form [formGroup]="fetchForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3 row">
        <label for="context" class="col-sm-3 col-form-label" i18n="@@batch.actions.context">Context</label>
        <div class="col-sm-9">
          <select id="context" class="form-select" formControlName="contextId">
            <option [value]='' selected disabled i18n="@@batch.actions.context">Context</option>
            @for (contextObject of user_contexts; track contextObject) {
            <option [value]="contextObject.objectId">{{contextObject.name}}</option>
            }
          </select>
        </div>
      </div>
  
      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="col-form-label">Source</label>
        </div>
        <div class="col-sm-2">
          <select class="form-select" formControlName="source">
            <option value="crossref" selected>Crossref-DOI</option>
            <option value="arxiv">arXiv</option>
          </select>
        </div>
        <div class="col-sm-7">
            <input class="form-control" formControlName="identifier" placeholder="Id">
          </div>
      </div>
  
      <div class="row">
        <div class="offset-sm-9 col-sm-3">
          <button type="submit" [disabled]="fetchForm.invalid || fetchForm.pristine" 
            class="btn btn-outline-secondary col-4 float-end">
            GO
          </button>
        </div>
      </div>
    </form>
  
  </div>