<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
  <h2 class="m-0" i18n="@@batch.actions.metadata.publication.keywordsAdd">Add Keywords</h2>
  <div class="mt-2 mb-5">
    <span i18n="@@batch.actions.metadata.publication.keywordsAdd.info">    
      New keywords will be added to any existing values
    </span>
  </div>

  <form [formGroup]="addKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" i18n="@@batch.actions.metadata.publication.keywordsAdd.to">Additional keywords</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="keywords"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="addKeywordsForm.invalid || addKeywordsForm.pristine" class="btn btn-outline-secondary col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>