<!--Authors-->
<hr/>
<pure-item-view-metadata-element>
    <span label>Creators</span>
    <span content>
@if (item) {
    <pure-item-view-creators [creators]="item.metadata?.creators"/>
}
    </span>
</pure-item-view-metadata-element>

<pure-item-view-metadata-element>
    <span label>Content</span>
    <span content>
    <pure-item-view-metadata-element [sub]="true">
        <span label>Free keywords</span>
        <span content>
          {{ item.metadata?.freeKeywords }},
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
        <span label>DDC</span>
        <span content>
            @for (sub of item.metadata?.subjects; track sub; let i = $index) {
                <div> {{ sub.value }}</div>
            }
        </span>
    </pure-item-view-metadata-element>
        @for (abs of item.metadata?.abstracts; track abs; ) {
            <pure-item-view-metadata-element [sub]="true" >
        <span label>Abstract ({{ abs.language }})</span>
        <span content>
            {{ abs.value }}
        </span>
    </pure-item-view-metadata-element>
        }
  </span>
</pure-item-view-metadata-element>

<pure-item-view-metadata-element>
    <span label>Details</span>
    <span content>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Language</span>
        <span content>
          @for (lang of item.metadata?.languages; track lang) {
              <div>{{ lang }}</div>
          }
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Dates</span>
        <span content>
          <div class="d-inline-flex">
            @if (item.metadata?.dateCreated) {
                <div class="me-3">
              Created: {{ item.metadata?.dateCreated }}
              </div>
            }
              @if (item.metadata?.dateModified) {
                  <div class="me-3">
                Modified: {{ item.metadata?.dateModified }}
              </div>
              }
              @if (item.metadata?.dateSubmitted) {
                  <div class="me-3">
                Submitted: {{ item.metadata?.dateSubmitted }}
              </div>
              }
              @if (item.metadata?.dateAccepted) {
                  <div class="me-3">
                Accepted: {{ item.metadata?.dateAccepted }}
              </div>
              }
              @if (item.metadata?.datePublishedOnline) {
                  <div class="me-3">
                Published Online: {{ item.metadata?.datePublishedOnline }}
              </div>
              }
              @if (item.metadata?.datePublishedInPrint) {
                  <div class="me-3">
                Published in print: {{ item.metadata?.datePublishedInPrint }}
              </div>
              }
        </div>
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Publication Status</span>
        <span content>
          {{ publicationState }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Pages</span>
        <span content>
          {{ item.metadata?.totalNumberOfPages }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Publishing Info</span>
        <span content>
          {{ item.metadata?.publishingInfo?.place }} :
            {{ item.metadata?.publishingInfo?.publisher }},
            {{ item.metadata?.publishingInfo?.edition }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Table of Contents</span>
        <span content>
          {{ item.metadata?.tableOfContents }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Review Type</span>
        <span content>
          {{ item.metadata?.reviewMethod }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Identifiers</span>
        <span content>
          @for (id of item.metadata?.identifiers; track id) {
              <div>{{ id.type }}: {{ id.id }}</div>
          }
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Degree</span>
        <span content>
          {{ item.metadata?.degree }}
        </span>
    </pure-item-view-metadata-element>

  </span>
</pure-item-view-metadata-element>

<pure-item-view-metadata-element>
    <span label>Event</span>
    <span content>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Title</span>
            <span content>
                {{ item.metadata?.event?.title }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Place of Event</span>
            <span content>
                {{ item.metadata?.event?.place }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Start / End Date</span>
            <span content>
                {{ item.metadata?.event?.startDate }} - {{ item.metadata?.event?.endDate }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Invited</span>
            <span content>
                {{ item.metadata?.event?.invitationStatus === 'INVITED' ? 'Yes' : 'No' }}
            </span>
        </pure-item-view-metadata-element>
    </span>
</pure-item-view-metadata-element>

<pure-item-view-metadata-element>
    <span label>Legal Case</span>
    <span content>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Title</span>
            <span content>
                {{ item.metadata?.legalCase?.title }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Court Name</span>
            <span content>
                {{ item.metadata?.legalCase?.courtName }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Date Published</span>
            <span content>
                {{ item.metadata?.legalCase?.datePublished }}
            </span>
        </pure-item-view-metadata-element>
        <pure-item-view-metadata-element [sub]="true">
            <span label>Identifier</span>
            <span content>
                {{ item.metadata?.legalCase?.identifier }}
            </span>
        </pure-item-view-metadata-element>
    </span>
</pure-item-view-metadata-element>


<pure-item-view-metadata-element>
    <span label>Project Information</span>
    <span content>
        @for (pi of item.metadata?.projectInfo; track pi) {
            <pure-item-view-metadata-element [sub]="true">
                <span label>Project name</span>
                <span content>
                    {{ pi.title }}
                </span>
            </pure-item-view-metadata-element>
            <pure-item-view-metadata-element [sub]="true">
                <span label>Grant ID</span>
                <span content>
                    {{ pi.grantIdentifier.id }}
                </span>
            </pure-item-view-metadata-element>
            <pure-item-view-metadata-element [sub]="true">
                <span label>Funding program</span>
                <span content>
                    {{ pi.fundingInfo.fundingProgram.title }} {{ pi.fundingInfo.fundingProgram.identifiers ? '(' + pi.fundingInfo.fundingProgram.identifiers![0].id + ')' : '' }}
                </span>
            </pure-item-view-metadata-element>
            <pure-item-view-metadata-element [sub]="true">
                <span label>Funding organization</span>
                <span content>
                    {{ pi.fundingInfo.fundingOrganization.title }} {{ pi.fundingInfo.fundingOrganization.identifiers ? '(' + pi.fundingInfo.fundingOrganization.identifiers![0].id + ')' : '' }}
                </span>
            </pure-item-view-metadata-element>
            <hr/>
        }

    </span>
</pure-item-view-metadata-element>

<!--Sources -->
@for (source of item.metadata?.sources; track source; let i = $index) {
    <pure-item-view-metadata-element>
        <span label>Source {{ i + 1 }}</span>
        <span content>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Title</span>
      <span content>
        {{ source.title }}
      </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Abbreviation</span>
      <span content>
          @for(altTitle of source.alternativeTitles; track altTitle) {
            @if(altTitle.type==='ABBREVIATION') {
              {{ altTitle.value}}
            }
          }
      </span>
    </pure-item-view-metadata-element>
      <pure-item-view-metadata-element [sub]="true">
      <span label>Genre</span>
      <span content>
        {{ source.genre }}
      </span>
    </pure-item-view-metadata-element>

        <pure-item-view-creators [creators]="source.creators"/>


    <pure-item-view-metadata-element [sub]="true">
        <span label>Publishing Info</span>
        <span content>
          {{ source.publishingInfo.place }} :
            {{ source.publishingInfo.publisher }},
            {{ source.publishingInfo.edition }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
        <span label>Pages</span>
        <span content>
          {{ source.totalNumberOfPages }}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
        <span label>Volume / Issue</span>
        <span content>
          {{ source.volume }} ({{source.issue}})
        </span>
    </pure-item-view-metadata-element>
     <pure-item-view-metadata-element [sub]="true">
        <span label>Sequence Number</span>
        <span content>
          {{ source.sequenceNumber }}
        </span>
    </pure-item-view-metadata-element>
     <pure-item-view-metadata-element [sub]="true">
        <span label>Start / End Page</span>
        <span content>
          {{ source.startPage }} - {{source.endPage}}
        </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true">
      <span label>Identifiers</span>
        <span content>
          @for (id of source.identifiers; track id) {
              <div>{{ id.type }}: {{ id.id }}</div>
          }
        </span>
    </pure-item-view-metadata-element>


        </span>
    </pure-item-view-metadata-element>


}


