@if(message.text || message.title) {
<div [ngClass]="{'collapsed': !collapsed}" class="m-0">
  <div class="rounded-1 p1" [ngClass]="[bg_color, fg_color]">
    <div class="d-flex justify-content-between align-top">
      <span class="material-symbols-outlined type">
        {{ severity_icon }}
      </span>

      @if(message.title) {
      <span class="title pt-1 text-break">
        {{ message.title }}
      </span>
      <div>
        @if(collapsed) {
        <span class="material-symbols-outlined expand_content" (click)="slide()">expand_content</span>
        } @else {
        <span class="material-symbols-outlined collapse_content" (click)="slide()">collapse_content</span>
        }
      </div>
      } @else {
      <span class="title pt-1 text-break">
        {{ message.text }}
      </span>
      }
      <span class="material-symbols-outlined close" (click)="close()">close</span>
    </div>

    @if(message.title && !collapsed) {
    <div class="d-flex justify-content-center align-bottom p-1">
      <span [ngClass]="[bg_color, fg_color]" class="text-break" [innerHTML]="message.text | sanitizeHtml:['br','b','i','small']"></span>
    </div>
    }
  </div>
</div>
}
