<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadataExtReferences">

    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingContentCategory">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseContentCategory" aria-expanded="false" aria-controls="collapseContentCategory">
          <span class="float-start ps-2 m-3">Content Category</span>
        </button>
      </h5>
      <div id="collapseContentCategory" class="accordion-collapse collapse" aria-labelledby="headingContentCategory"
        data-bs-parent="#accordionMetadataExtReferences">
        <div class="accordion-body">
          <pure-change-external-reference-content-category-form></pure-change-external-reference-content-category-form>
        </div>
      </div>
    </div>

  </div>
</div>

