<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.publication.keywordsAdd' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.publication.keywordsAdd.info' | translate }}
    </span>
  </div>

  <form [formGroup]="addKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <label class="col-sm-3 col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsAdd.to' | translate }}</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="keywords"
        [ngClass]="{'border border-danger': addKeywordsForm.get('keywords')?.pending}"></textarea>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="addKeywordsForm.get('keywords')"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="addKeywordsForm.invalid || addKeywordsForm.pristine"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>