.batch {

    .batch-nav {     

        .nav-bottom-10 {
            position: fixed !important;
            bottom: 10%;
            z-index: 9999;
        }

        .nav {
            width: 43.5vw;
            background-color: var(--bs-body-bg) !important;
            box-shadow: 0 0 10px 0 gray;
            border-radius: 0.4rem;
            font-family: Merriweather;
            font-size: 1.1rem;

            li:hover {
                text-decoration: underline ;
                text-decoration-thickness: 0.2rem; 
            }
        }
    }

    .datasets {
        #topnav {
            nav:nth-child(1),
            .nav-link:nth-of-type(2n),
            .nav-link:nth-of-type(3n),
            .nav-link:nth-of-type(4n),
            .nav-link:nth-of-type(7n)
            {
                display: none;
            }
        }

        pure-item-list {       
            .row:nth-of-type(2n) {
                .col-lg-3 {
                    display: none !important;
                }

            }
        }

        .top_nav_pos {
            z-index: 1000;
        }
    }

    .actions {

        .accordion {

            .accordion-item {

                /*
                .accordion-button {
                    color: var(--accent-color-contrast);
                    background-color: var(--accent-color) !important;
                }
                */
                .accordion-body {
                    background-color: var(--main-content-bg-color);
                }
            }

            .header_second_color {

                .accordion-button {
                    background-color: color-mix(in hsl, var(--accent-bg-color), white 10%) !important;
                }
            }

            .header_third_color {

                .accordion-button {
                    background-color: color-mix(in hsl, var(--accent-bg-color), white 20%) !important;
                }
            }

            h3 {
                font-size: 0.9em;
            }

            h4 {
                font-size: 0.91em;
            }

            h5 {
                font-size: 0.92em;
            }

        }

        // DEV
        h1 {
            color: var(--main-title-text-color);
            line-height: 2em;
            font-size: 1.8em;
        }

        h2 {
            color: var(--main-title-text-color);
            line-height: 1.5em;
            font-size: 1.2em;
        }

        .form-control::placeholder {
            color: color-mix(in srgb, var(--main-title-text-color), white 15%);
            font-style: italic;
        }
    }

    .logs {

        table {
            border-spacing: 4em !important;

            th, td {
                padding: 1em;
            }

            tbody {
                background-color: #{$body-tertiary-bg};
            }
        }
    }
}