.batch {

    .batch-nav {
        .nav-bottom-10 {
            bottom: 8%;
        }
    }

    .actions {

        .accordion {

            .accordion-item {
                /*
                .accordion-button {
                    color: var(--accent-color-contrast);
                    background-color: var(--accent-color) !important;
                }
                */
                .accordion-body {
                    background-color: var(--main-content-bg-color);
                }
            }

            .header_second_color {
 
                .accordion-button {
                    background-color: color-mix(in hsl,var(--accent-bg-color),white 10%) !important;
                }
            }

            .header_third_color {

                .accordion-button {
                    background-color: color-mix(in hsl,var(--accent-bg-color),white 20%) !important;
                }
            }

            h3 {
                font-size: 0.9em;
            }

            h4 {
                font-size: 0.91em;
            }

            h5 {
                font-size: 0.92em;
            }

        }

        // DEV
        h1 {
            color: var(--main-title-text-color);
            line-height: 2em;
            font-size: 1.8em;
        }

        h2 {
            color: var(--main-title-text-color);
            line-height: 1.5em;
            font-size: 1.2em;
        }

        .form-control::placeholder {
            color: color-mix(in srgb,var(--main-title-text-color),white 15%);
            font-style: italic;
          }
    }

    .logs {
        tr {
            height: 3em;
          }
    }
}