.batch {

    .batch-nav {

        .nav-bottom-10 {
            position: fixed !important;
            bottom: 10%;
            z-index: 9999;
        }

        .nav {
            width: 43.5vw;
            background-color: var(--bs-body-bg) !important;
            opacity: 0.9;
            box-shadow: 0 1px 8px 0 lightgray;
            border-radius: 0.4rem;
            font-family: Merriweather;
            font-size: 1.1rem;
        }

        .current {
            text-decoration: underline;
            text-decoration-thickness: 0.2rem;
        }

        li {
            cursor: pointer;
        }

        .disabled {
            text-decoration: none;
            color: color-mix(in srgb, var(--bs-body-color), transparent 40%);
            cursor: not-allowed;
        }
    }

    .datasets {

        #topnav {

            nav:nth-child(1),
            .nav-link:nth-of-type(2n),
            .nav-link:nth-of-type(3n),
            .nav-link:nth-of-type(4n),
            .nav-link:nth-of-type(7n) {
                display: none;
            }
        }

        pure-item-list {
            .row:nth-of-type(2n) {
                .col-lg-3 {
                    display: none !important;
                }

            }
        }
    }

    .actions {

        .accordion {

            .accordion-item {

                .accordion-body {
                    background-color: var(--bs-body-bg);
                }
            }

            .accordion-button {
                box-shadow: none !important;
            }

            .header_second_color {

                .accordion-button {
                    background-color: color-mix(in hsl, var(--accent-bg-color), white 10%) !important;
                }
            }

            h3 {
                font-size: 0.9em;
            }

            h4 {
                font-size: 0.91em;
            }

            h5 {
                font-size: 0.92em;
            }
        }

        // DEV
        h1 {
            line-height: 2em;
            font-size: 1.8em;
        }

        h2 {
            line-height: 1.5em;
            font-size: 1.2em;
        }

        .form-control::placeholder {
            color: color-mix(in srgb, var(--accent-bg-color), white 15%);
            font-style: italic;
        }
    }

    .logs {

        .pagination {
            --bs-pagination-padding-x: 0; //0.75rem;
            --bs-pagination-padding-y: 0.2rem; //0.375rem;
            --bs-pagination-font-size: 0.875rem; //1rem;
            --bs-pagination-bg: transparent; //var(--bs-body-bg);
            --bs-pagination-border-width: 0; //var(--bs-border-width);
            --bs-pagination-hover-bg: transparent; //var(--bs-tertiary-bg);
            --bs-pagination-focus-bg: transparent; //var(--bs-secondary-bg);
            --bs-pagination-focus-box-shadow: none; //0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            --bs-pagination-active-bg: transparent; //#0d6efd;
            --bs-pagination-active-cursor: pointer;
            --bs-pagination-active-border-width: 0;
            --bs-pagination-disabled-bg: transparent; //var(--bs-secondary-bg);
            --bs-pagination-disabled-border-width: 0;

            input {
                padding: 0.1rem 0.1rem;
                width: 3em;
                display: inline;
                text-align: center;
            }

            .page-item::not(:disabled) {
                cursor: pointer;
            }

        }

        .form-select-sm {
            width: 4rem;
            height: 2rem;
            border-radius: 0.375rem;
        }

        table {
            border-spacing: 4em !important;

            th,
            td {
                padding: 1em;
            }

            tbody {
                background-color: var(--accent-color-contrast);
            }

            tr {
                border-color: var(--bs-body-bg) !important;
            }
        }
    }
}