.btn:focus {
    box-shadow: none !important;
}

pre {
    white-space: pre-wrap;
}

.bi {
    font-size: 1.0rem;
}

.custom-popover {
    --bs-popover-max-width: 44vw;
    // --bs-popover-header-bg: whitesmoke;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}