pure-breadcrumb {
  background: none;
  font-size: 0.9em;

  a,
  span,
  .material-symbols-outlined {
    text-decoration: none;
    color: var(--bs-body-color);
    margin: auto 0.3rem;

    &:hover {
      color: black !important;
      text-decoration: none;
    }
  }

  .last {
    font-weight: bold !important;
    cursor: not-allowed;
  }
}