pure-breadcrumb {
  background: none;
  font-size: 0.9em;

  span {
    text-wrap: nowrap;
    text-decoration: none;
    color: var(--bs-body-color);
    margin: auto 0.3rem;

    &:hover:not(.last) {
      color: black !important;
      text-decoration: none;
    }
  }

  .material-symbols-outlined {
    margin-left: 0;
  }

  .last {
    font-weight: bold !important;
  }

}