.pure-dialog .cdk-dialog-container {
    overflow-y: hidden;
    overflow-x: hidden;

    .modal-body {
        margin: $spacer;
        input {
            margin-bottom: $spacer * .25;
        }
    }

    .modal-header {
        margin: $spacer $spacer 0 $spacer;
    }
    
    .modal-footer {
        margin: $spacer;
    }
}