.pure-dialog .cdk-dialog-container {
    overflow-y: hidden;
    overflow-x: hidden;

    
    .modal-body {
        margin: $spacer;
        input {
            margin-bottom: $spacer * .25;
        }
    }

    .modal-header {
        margin: $spacer $spacer 0 $spacer;
    }
    
    .modal-footer {
        margin: $spacer;
    }
    

    //border-radius: 0.5rem;

    animation: pure-dialog-open 0.2s ease-in-out;
    @keyframes pure-dialog-open {
        from {
          transform: scale(0) {opacity:0.5};
        }
      
        to {
          transform: none;
        }
    }   

}