.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    opacity: 10%;
    box-sizing: border-box;
    border-radius: 4px;
}

.drag-list.cdk-drop-list-dragging .drag-list-box {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-list-box {
    box-sizing: border-box;
    cursor: move;
}

.custom-drag-placeholder {
    background: white;
    border: dotted 3px #999;
    min-height: 3rem;
    min-width: 100%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}