.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    background: #{$mpdl-iseo1};
    opacity: 10%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
}

.drag-list.cdk-drop-list-dragging .drag-list-box {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-list-box {
    box-sizing: border-box;
    cursor: move;
}