.header {
    min-height: 8vh;

    .material-symbols-outlined {
        vertical-align: text-bottom;
        // font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
        font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
    }

    img {
      vertical-align: middle;
    }
}