.header {
  height: 100px;
  transition: all 0.3s ease;

  #logo {
    height: 140px;
    width: 140px;
  }

  &.scrolled {
    height: 50px;

    #logo {
      width: 80px;
      height: 80px;
      margin-left: 60px;
      margin-top: -10px;
    }

    .navbar {
      transform: translateY(-50px);
    }
  }

  #brand {
    font-size: 2.2rem; 
    font-family: "Roboto", "Tahoma", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--bs-body-color);
  }

  #search {
    
    .input-group-text {
      height: 2.2rem;
    }
  }

  .material-symbols-outlined,
  i,
  .bi,
  span {
    color: var(--bs-body-color);
  }

  .material-symbols-outlined:hover,
  i:hover,
  .bi:hover {
    border-radius: 40%; 
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    color: black !important;
  }

}
