.imports {

    .material-symbols-outlined,
    .nav-link {
        cursor: pointer;
    }

    .top_nav_pos {
        overflow: visible;
    }

    .tooltip-inner {
        background-color: #{$mpdl-light};
        color: #{$mpdl-dark};
    }

    .bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: #{$mpdl-light};
    }

    .action-card {
        background-color: var(--accent-color-contrast);
    }

    .form-control::placeholder {
        color: color-mix(in srgb, var(--accent-bg-color), white 15%);
        font-style: italic;
    }

    .logs {

        .pagination {
            --bs-pagination-padding-x: 0; //0.75rem;
            --bs-pagination-padding-y: 0.1rem; //0.375rem;
            --bs-pagination-font-size: 0.875rem; //1rem;
            --bs-pagination-bg: transparent; //var(--bs-body-bg);
            --bs-pagination-border-width: 0; //var(--bs-border-width);
            --bs-pagination-hover-bg: transparent; //var(--bs-tertiary-bg);
            --bs-pagination-focus-bg: transparent; //var(--bs-secondary-bg);
            --bs-pagination-focus-box-shadow: none; //0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            --bs-pagination-active-bg: transparent; //#0d6efd;
            --bs-pagination-active-cursor: pointer;
            --bs-pagination-active-border-width: 0;
            --bs-pagination-disabled-bg: transparent; //var(--bs-secondary-bg);
            --bs-pagination-disabled-border-width: 0;

            a {
                padding-top: 0.3rem;
            }

            input {
                padding: 0.1rem 0.1rem;
                width: 3em;
                display: inline;
                text-align: center;
            }

            .page-item::not(:disabled) {
                cursor: pointer;
            }

            li.page-item.disabled a.page-link{
                opacity: 40%;
            }
            
        }

        .page-size {
            width: 4rem;
            height: 2rem;
            border-radius: 0.375rem;
            font-size: 1rem;
            padding: 0 0.5em;
            margin-top: 0;
        }

        table {

            th {
                padding: 0.2em 1em;
            }

            td {
                padding: 0.8em 1em;
            }

            tbody {
                background-color: var(--accent-color-contrast);
            }

            tr {
                border-color: var(--bs-body-bg) !important;
            }
        }

        .spinner-border {
            cursor: wait;
        }

        a {
            
            .material-symbols-outlined {
                font-size: 160%;

                &:hover {
                    border-radius: 40%;
                    //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
                    box-shadow: color-mix(in srgb, var(--bs-body-color), transparent 80%) 0 0 6px 0;
                    background-color: rgba(0, 0, 0, 0.05);
                    color: var(--bs-body-color) !important;
                }
            }

            .mat-badge-content {
                position: absolute;
                text-align: center;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                pointer-events: none;
                border-radius: 50%;
                //opacity: 0.7;
                box-shadow: 0 1px 6px 0 #{$mpdl-pale-purple};
                --mat-badge-background-color:  var(--bs-body-bg) !important;
                --mat-badge-text-color: var(--bs-body-color);
                --mat-badge-text-font: var(--bs-body-font-family);
                --mat-badge-text-size: x-small;
                --mat-badge-text-weight: bolder;
                --mat-badge-container-size:1.4rem;
                --mat-badge-container-overlap-offset:-0.8rem -0.4rem;
                --mat-badge-container-padding:0 0.3rem;
            }
        }
    }
}