.imports {

    .top_nav_pos {
        overflow: visible;
    }

    .logs {

        a {
            
            .material-symbols-outlined {
                font-size: 160%;

                &:hover {
                    border-radius: 25%;
                    background-color: color-mix(in srgb, var(--bs-dark), transparent 75%); 
                }
            }

        }

        /* anchor focus */
        :target {
            display: block;
            position: relative;
            top: -200px; 
        }
    }
}