pure-info-panel {
    height: 30px;
    
    .row {
        position: fixed;
        top: 115px;
        z-index: 1032;
    
        &.scrolled {
            //visibility: hidden;
            position: fixed;
            top: 55px;
            transition: all 0.3s ease;
        }
    }
}