pure-messaging {
    background: none;
    font-size: 0.9em;

    .material-symbols-outlined {
        margin: 0.2em;
        color: var(--bs-body-color);
    }

    .type {
        opacity: 0.5;
        animation: blinker 2s ease infinite;
    }

    @keyframes blinker {
        100% {
            opacity: 0.3;
        }
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        width: 80%;
    }

    .collapsed {
        height: 2em;
    }

    .expand_content,
    .collapse_content,
    .close {
        cursor: pointer;

        &:hover {
            border-radius: 40%;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
            background-color: rgba(0, 0, 0, 0.05);
            color: #{$mpdl-dark} !important;
        }
    }

}