pure-messaging {
    background: none;
    font-size: 0.9em;

    .msg-header {
        display: inline-block !important;
        max-height: 2em;
        overflow: hidden;

        padding: 0.2em;
        border-radius: 0.5rem;
        background-color: color-mix(in srgb, #{$mpdl-apricot}, transparent 60%);
    }

    .material-symbols-outlined {
        font-weight: var(--bs-body-font-weight);
        padding-top: 0.2em;
        text-decoration: none;
        color: var(--bs-body-color);
    }

    .type {
        position: absolute;
        margin-right: 1em;
        opacity: 0.5;
        animation: blinker 1s ease infinite;
        cursor: not-allowed;
    }

    @keyframes blinker {
        100% {
            opacity: 0.4;
        }
    }

    .title {
        display: inline-block;
        margin-left: 3em;
        margin-right: 3em;
        max-height: 1.6em;
        overflow-y: scroll;
        max-width: 90%;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .tooltip-inner {
        background-color: #{$mpdl-light};
        color: #{$mpdl-dark};
        min-width: fit-content;
        max-width: 40em;
        padding: 1em;
        margin: 1em;
        box-shadow: color-mix(in srgb, var(--bs-body-color), transparent 80%) 0.4em 0.5em 1em 0;
    }

    .bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: #{$mpdl-light};
        --bs-tooltip-arrow-width: 2em;
        --bs-tooltip-arrow-height: 1em;
        margin: -1em;
    }

    .close {
        position: absolute;
        margin-left: -1em;
        cursor: pointer;

        &:hover {
            border-radius: 40%;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
            background-color: rgba(0, 0, 0, 0.05);
            color: #{$mpdl-dark} !important;
        }
    }
}