
// Overlay panel styling
.overlay-panel {
    padding: 10%;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // background-color: lightyellow;
    // border: solid 1px orange;
    // padding: 20px;
}