.scroll-to-top {
    position: fixed;
    bottom: 5%;
    right: 15%;
    opacity: 0;
    z-index: 8;
    transition: all .2s ease-in-out;
}

.scroll-to-top .bi {
    font-size: 2.5rem;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}