.side_nav {
  left: 10%;
  position: fixed;
  top: 14%;
  width: 12em;
  z-index: 16;
  overflow: hidden;

  /*
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    */
  .material-symbols-outlined {
    vertical-align: middle;
    // font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
    font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
  }
}

.side_nav.collapsed {
  width: 60px;
}

.side_nav.collapsed .bi {
  font-size: 1.25rem;
}

.side_nav.collapsed .nav-label {
  display: none;
}

.side_nav_mobile {
  left: 0.5vh;
  position: fixed;
  top: 2vh;
  width: 12em;
  z-index: 16;
  overflow: hidden;
  margin-left: 0px;

  /*
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    */
  .material-symbols-outlined {
    vertical-align: middle;
    // font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
    font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
  }
}

.side_nav_mobile.collapsed {
  width: 75px;
}

.side_nav_mobile.collapsed .bi {
  font-size: 1.25rem;
}

.side_nav_mobile.collapsed .nav-label {
  display: none;
}