.side_nav {
  left: 9.7%;
  position: fixed;
  top: 150px;
  width: 16.6rem;
  z-index: 1032;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: color-mix(in srgb, var(--bs-body-color), transparent 80%) 0.4rem
    1rem 2rem 0;
  transition: all 0.1s ease;
  white-space: nowrap;

  .nav-link {
    max-width: 13.6rem;
    overflow: visible;

    &:not(disabled):hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;

      span,
      path {
        color: var(--accent-bg-color) !important;
      }
    }
  }

  ul li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 3.5rem !important;

    &:last-of-type {
      margin-bottom: 1rem;
    }

    &:hover {
      color: var(--accent-bg-color) !important;
    }
  }

  .matBadge {
    top: -1.5em;
  }

}

.navbar-toggler:focus {
  box-shadow: none;
}

.side_nav.collapsed {
  width: 6.5rem;
}

.side_nav.collapsed .bi {
  font-size: 1.25rem;
}

.side_nav.collapsed .nav-label {
  display: none;
}

.side_nav_mobile {
  right: 0.5vh;
  position: fixed;
  top: 1.5vh;
  width: 100%;
  z-index: 16;
  overflow: hidden;

  .mat-badge {
    top: -1.5rem;
  }

  @media (max-width: 1399.98px) {
    .matBadge {
      top: -1em;
      left: -1em;
    }
  }
}

.show-more {
  &:not(:hover) {
    .more-to-show {
      display: none;
    }
  }

  &:hover {
    .more-to-show {
      display: block;
    }
  }
}
