.side_nav {
  left: 9.7%;
  position: fixed;
  top: 14%;
  width: 16.6rem;
  z-index: 16;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: color-mix(in srgb, var(--bs-body-color), transparent 80%) 0.4rem 1rem 2rem 0;
  transition: all 0.1s ease;
  white-space: nowrap;

  .nav-link {

    &:not(disabled):hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor:pointer;

      span, path {
        color: var(--accent-bg-color) !important;
      }
    }
  }

  ul li {
    padding-top: .2rem;
    padding-bottom: .2rem;

    &:last-of-type {
      margin-bottom: 1rem;
    }

    &:hover {
      color: var(--accent-bg-color) !important;
    }
  }
}

.side_nav.collapsed {
  width: 6.5rem;
}

.side_nav.collapsed .bi {
  font-size: 1.25rem;
}

.side_nav.collapsed .nav-label {
  display: none;
}

.side_nav .matBadge {
  top: -1.3rem;
}

.side_nav .mat-badge-content {
  position: absolute;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  border-radius: 50%;
  //opacity: 0.7;
  box-shadow: 0 1px 6px 0 #{$mpdl-pale-purple};
  --mat-badge-background-color: var(--bs-body-background) !important;
  --mat-badge-text-color: color-mix(in srgb, var(--bs-body-color), transparent 20%);
  --mat-badge-text-font: var(--bs-body-font-family);
  --mat-badge-text-size: x-small;
  --mat-badge-text-weight: bolder;
  --mat-badge-container-size:1.4rem;
  --mat-badge-container-overlap-offset:-0.8rem 0.1rem;
  --mat-badge-container-padding:0 0.3rem; 
}

.side_nav_mobile {
  left: 0.5vh;
  position: fixed;
  top: 2vh;
  width: 12em;
  z-index: 16;
  overflow: hidden;
  margin-left: 0px;

  /*
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    */
  /*
  .material-symbols-outlined {
    vertical-align: middle;
    // font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
    font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
  }

   */
}

.side_nav_mobile.collapsed {
  width: 75px;
}

.side_nav_mobile.collapsed .bi {
  font-size: 1.25rem;
}

.side_nav_mobile.collapsed .nav-label {
  display: none;
}
