.top_nav_pos {
    position: sticky;
    top: 8vh;
    z-index: 15;
    overflow: hidden;
    box-shadow: 0 2px 10px #40404029;

    svg {
        vertical-align: middle;
    }

    .material-symbols-outlined {
        top: 0px;
    }

    &.scrolled {
        z-index: 1031;
    }
}
