.top_nav_pos {
    position: sticky;
    top: 8vh;
    z-index: 1031;
    overflow: hidden;

    svg {
        vertical-align: middle;
    }

    .material-symbols-outlined {
        top: 0px;
      }
}
