.top_nav_pos {
    position: sticky;
    top: 8vh;
    z-index: 1031;
    overflow: hidden;

    .material-symbols-outlined {
        vertical-align: top;
        // font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
        font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
    }

    svg {
        vertical-align: top;
    }
}