<ng-template #personAutosuggestTemplate let-r="result" let-t="term">
  <div [class]="(r.type==='alt') ? 'ms-3 small' : ''" class="text-wrap">
    <ngb-highlight [result]="r.value" [term]="t"></ngb-highlight>
  </div>

</ng-template>

<div class="input-group" >
  @if(formForPersonsCompleteName) {
  <input class="form-control" type="text" [formControl]="formForPersonsCompleteName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsIdValue && formForPersonsIdValue.value" placeholder="Start typing..." [ngClass]="{'is-invalid': validationError}"/>
  } @else if (formForPersonsGivenName && formForPersonsFamilyName) {
    <input class="form-control" type="text" [formControl]="formForPersonsFamilyName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsIdValue && formForPersonsIdValue.value" placeholder="Start typing..." [ngClass]="{'is-invalid': validationError}"/>
  }
  @if (validationError) {
    <div class="text-danger">Creator family name is required</div>
  }
  

  @if(searching) {

  <button class="btn btn-outline-dark btn-sm" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }
  @if(formForPersonsIdValue && formForPersonsIdValue.value) {
  <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
    <span class="bi bi-x"></span>
  </button>
  }
</div>
