<ng-template #personAutosuggestTemplate let-r="result" let-t="term">
  <div [class]="(r.type==='alt') ? 'ms-3 small' : ''" class="text-wrap">
    <ngb-highlight [result]="r.value" [term]="t"></ngb-highlight>
  </div>

</ng-template>

<div class="input-group">
  @if(formForPersonsCompleteName) {
  <input class="form-control" type="text" [formControl]="formForPersonsCompleteName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsIdValue && formForPersonsIdValue.value" [placeholder]="'common.autosuggestPlaceholder' | translate" container="body"
    [ngClass]="{'border border-danger': formForPersonsCompleteName.parent?.pending || formForPersonsCompleteName.parent?.invalid && (formForPersonsCompleteName.parent?.touched || formForPersonsCompleteName.parent?.dirty)}"/>
  } @else if (formForPersonsGivenName && formForPersonsFamilyName) {
    <input class="form-control {{formForPersonsFamilyName.value ? 'fw-bold' : ''}}" type="text" [formControl]="formForPersonsFamilyName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsIdValue && formForPersonsIdValue.value" [placeholder]="'common.autosuggestPlaceholder' | translate" container="body"
    [ngClass]="{'border border-danger': formForPersonsFamilyName.parent?.pending || formForPersonsFamilyName.parent?.invalid && (formForPersonsFamilyName.parent?.touched || formForPersonsFamilyName.parent?.dirty)}"/>
  }

  <!--
  @if (validationError) {
    <div class="text-danger">Creator family name is required</div>
  }
  -->



  @if(searching) {

  <button class="btn btn-outline-dark btn-sm" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }
  @if(formForPersonsIdValue && formForPersonsIdValue.value) {

    @if(showConeAndOrcid) {

      @if(formForPersonsIdValue?.value) {
        <span class="btn btn-outline-dark btn-sm">
        <pure-cone-icon [coneId]="formForPersonsIdValue.value" [button]="true"/>
      </span>
      }

      @if(formForPersonsOrcid?.value) {
        <span class="btn btn-outline-dark btn-sm">
          <pure-cone-icon [orcid]="formForPersonsOrcid?.value" [button]="true"/>
        </span>
      }

      <!--
      <a class="btn btn-outline-dark btn-sm" href="/cone{{formForPersonsIdValue.value}}" target="_blank">
      <img alt="CoNE logo" src="assets/icons/CoNE_icon.svg" width="16" height="16"/>
      </a>

      @if(formForPersonsOrcid && formForPersonsOrcid.value) {

        <a class="btn btn-outline-dark btn-sm" href="{{formForPersonsOrcid.value}}" target="_blank">
          <img alt="ORCID logo" src="assets/images/ORCID-iD_icon_vector.svg" width="16" height="16"/>
        </a>


      }
      -->

    }
  <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
    <span class="bi bi-x"></span>
  </button>


  }
</div>
