<div class='footer-wrapper no-index mt-1'>
    <footer class="container-full-width hidden-print">
        <div class="footer trngl-footer">
            <svg viewBox="0 0 1 1" preserveAspectRatio="none">
                <path class="footer-triangle" d="M 0 1 L 1 0 L 1 1.1 L 0 1.1"></path>
            </svg>
        </div>
        <div class="subfooter">
            <div class="container d-flex flex-wrap-reverse p-0">
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <a class="" target="_blank" [href]="linkMpdl">
                    <img class="mpdl-logo" src="assets/footer/logo-mpdl-singlecolor-white.svg" alt="MPDL"
                         aria-hidden="true">
                  </a>

                  <a class="" target="_blank" [href]="linkPubman">
                    <img class="pubman-logo" src="assets/footer/PUBMAN_weiss.png" alt="PubMan" aria-hidden="true">
                  </a>

                </div>

                <div class="d-flex flex-sm-grow-1"></div>

                <div class="d-flex align-items-start align-items-sm-center flex-column flex-sm-row me-5 mt-5 mt-sm-1">
                    <a class="footer-link align-middle" target="_blank" [href]="linkDisclaimer">
                      {{'footer.disclaimer' | translate}}
                    </a>
                    <a class="footer-link align-middle" target="_blank" [href]="linkPrivacy">
                      {{'footer.privacy' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
