<div class="form-control border-0 rounded-0 px-4 py-3 mb-2">
  <h2 class="m-0" i18n="@@batch.actions.localTags.add">Add</h2>
  <div class="mt-2 mb-5">
    The following tags will be added to all items
  </div>

  <form [formGroup]="addLocalTagsForm" (ngSubmit)="onSubmit()" autocomplete="off" (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="col-sm-2">
        <label class="col-form-label">New tag</label>
      </div>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" [formControl]="localTag" placeholder="Add a new local tag">
          <button (click)="onAddToNewTags()" class="input-group-text" type="button">
            <span class="material-symbols-outlined">add</span>
          </button>
        </div>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-2 col-sm-6">
        <span *ngIf="vs.notValidField(localTag)" class="form-text text-danger small">
          Local tag {{ vs.getFieldError(localTag) }}
        </span>
        &nbsp;
      </div>
    </div>

    <div class="mb-3 row">
      <label *ngIf="tagsToAdd.length" class="col-sm-2 col-form-label">Tags to add</label>
      <div class="col-sm-10" formArrayName="localTags">
        <div class="mb-1" *ngFor="let tag of tagsToAdd.controls; let i = index">
          <div class="input-group">
            <input [formControlName]="i" class="form-control" readonly>
            <button (click)="onDeleteTag( i )" class="input-group-text" type="button">
              <span class="material-symbols-outlined">remove</span>
            </button>
          </div>

          <span *ngIf="vs.notValidFieldInArray(tagsToAdd, i)" class="form-text text-danger small">
            {{ vs.getFieldError(addLocalTagsForm.controls[i]) }}
          </span>
        </div>
      </div>
    </div>

    <div class="mb-1 row">
      <div class="offset-sm-9 col-sm-3">
        <button type="submit" [disabled]="!addLocalTagsForm.valid" class="btn btn-outline-secondary col-4 float-end">
          Add
        </button>
      </div>
    </div>
  </form>

</div>