<div [formGroup]="event_form">
    <label class="col-sm-2 col-form-label">Event</label>
    <div class="col-sm">
        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
            <div class="col-sm">
                <label class="col-form-label">Title</label>
                <input type="text" class="form-control" formControlName="title">
                <span>Event valid: {{event_form.valid}} | Event errors: {{event_form.errors | json}} | Title errors: {{event_form.get('title')?.errors | json}} </span>
                <span *ngIf="event_form.errors?.['invalidEvent']">
                    Event title is required.
                </span>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-end">
            <div class="col-sm-2">
                <label class="col-form-label">Start Date</label>
                <input type="text" class="form-control" formControlName="startDate">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">End Date</label>
                <input type="text" class="form-control" formControlName="endDate">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Place</label>
                <input type="text" class="form-control" formControlName="place">
            </div>
            <div class="col-sm-2 form-check">
                <input id="invitation-status" class="form-check-input mt-2 mx-1" type="checkbox"
                    [formControl]="invitationBoolean" (change)="change_invitation_status($event)">
                <label class="form-check-label" for="invitation-status">Invited</label>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
    </div>
</div>