<div [formGroup]="event_form">
    <div class="col-sm">
        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
            <div class="col-sm">
                <label class="col-form-label">Title</label>
                <input type="text" class="form-control" formControlName="title" [ngClass]="event_form.errors?.[EventValidatorErrorType.EVENT_TITLE_NOT_PROVIDED] || event_form.errors?.[EventValidatorErrorType.EVENT_TITLE_NOT_PROVIDED] ? 'is-invalid' : ''">
                <div class="invalid-feedback">Event title is required if any other field is not</div>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-end">
            <div class="col-sm-2">
                <label class="col-form-label">Start Date</label>
                <input type="text" class="form-control" formControlName="startDate" [ngClass]="event_form.errors?.[EventValidatorErrorType.EVENT_START_DATE_REQUIRED] ? 'is-invalid' : ''">
                <div class="invalid-feedback">Event start date is required</div>
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">End Date</label>
                <input type="text" class="form-control" formControlName="endDate" [ngClass]="event_form.errors?.[EventValidatorErrorType.EVENT_END_DATE_REQUIRED] ? 'is-invalid' : ''">
                <div class="invalid-feedback">Event end date is required</div>
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Place</label>
                <input type="text" class="form-control" formControlName="place" [ngClass]="event_form.errors?.[EventValidatorErrorType.EVENT_PLACE_REQUIRED] ? 'is-invalid' : ''">
                <div class="invalid-feedback">Event end date is required</div>
            </div>
            <div class="col-sm-2 form-check">
                <input id="invitation-status" class="form-check-input mt-2 mx-1" type="checkbox"
                    [formControl]="invitationBoolean" (change)="change_invitation_status($event)">
                <label class="form-check-label" for="invitation-status">Invited</label>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
    </div>
</div>