<!--<div class="form-check form-switch">
    <input id="switch" class="form-check-input" type="checkbox" role="switch"
        (click)="switch_theme()">
</div>-->
<div>
    <a [routerLink]="[]" class="nav-link" (click)="switch_theme()">
        @if (icon.localeCompare('moon') === 0) {
            <span class="material-symbols-outlined">
                dark_mode
                </span>
        } @else {
            <span class="material-symbols-outlined" title="turn off the dark">
                light_mode
                </span>
        }
    </a>
</div>