<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">
    {{ 'batch.actions.metadata.publication.reviewType' | translate }}
  </h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.publication.reviewType.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeReviewMethodForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class=" col-form-label">
          {{ 'batch.actions.metadata.publication.reviewType.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodFrom"
          [class.is-invalid]="changeReviewMethodForm.get('reviewMethodFrom')?.invalid && changeReviewMethodForm.get('reviewMethodFrom')?.touched || changeReviewMethodForm.get('reviewMethodFrom')?.pending">
          <option [value]="null" selected disabled hidden>
            {{ 'batch.actions.metadata.publication.reviewType' | translate }}
          </option>
          <option [value]=''>---</option>
          @for (method of reviewMethods; track method) {
          <option [value]="method"> {{ 'ReviewMethod.' + method | translate}} </option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeReviewMethodForm.get('reviewMethodFrom')"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.publication.reviewType.to' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodTo"
          [class.is-invalid]="changeReviewMethodForm.get('reviewMethodTo')?.invalid && changeReviewMethodForm.get('reviewMethodTo')?.touched || changeReviewMethodForm.get('reviewMethodTo')?.pending">
          <option [value]="null" selected disabled hidden>
            {{ 'batch.actions.metadata.publication.reviewType' | translate }}
          </option>
          <option [value]=''>---</option>
          @for (method of reviewMethods; track method) {
          <option [value]="method"> {{ 'ReviewMethod.' + method | translate}} </option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeReviewMethodForm.get('reviewMethodTo')"/>
        <pure-validation-error [control]="changeReviewMethodForm"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeReviewMethodForm.valid" class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>