<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0" i18n="@@batch.actions.metadata.publication.reviewType">Review Type</h4>
  <div class="mt-2 mb-5">
    <span i18n="@@batch.actions.metadata.publication.reviewType.info">
      The review type in all items will be changed as follows
    </span>
  </div>

  <form [formGroup]="changeReviewMethodForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class=" col-form-label" i18n="@@batch.actions.metadata.publication.reviewType.from">Review types to be replaced</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodFrom">
          <option [value]='' selected disabled i18n="@@batch.actions.metadata.publication.reviewType">Review type</option>
          <option [value]=''>---</option>
          @for (method of reviewMethodssOptions; track method) {
            <option [value]="method.value"> {{method.option}}</option>
          }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label" i18n="@@batch.actions.metadata.publication.reviewType.to">Replacing review types</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodTo">
          <option [value]='' selected disabled i18n="@@batch.actions.metadata.publication.reviewType">Review type</option>
          <option [value]=''>---</option>
          @for (method of reviewMethodssOptions; track method) {
            <option [value]="method.value"> {{method.option}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeReviewMethodForm.controls['reviewMethodTo'])) {
        <span class="form-text text-danger small">
          Previous and new review types {{ valSvc.getFieldError(changeReviewMethodForm) }}
        </span>
        } @else {
          <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="changeReviewMethodForm.invalid || changeReviewMethodForm.pristine"
          class="btn btn-outline-secondary border-2 col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>