<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">
    {{ 'batch.actions.metadata.publication.reviewType' | translate }}
  </h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.publication.reviewType.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeReviewMethodForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class=" col-form-label">
          {{ 'batch.actions.metadata.publication.reviewType.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodFrom">
          <option [value]='' selected disabled>
            {{ 'batch.actions.metadata.publication.reviewType' | translate }}
          </option>
          <option [value]=''>---</option>
          @for (method of reviewMethods; track method) {
            <option [value]="method"> {{ 'ReviewMethod.' + method | translate}} </option>
          }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.publication.reviewType.to' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="reviewMethodTo">
          <option [value]='' selected disabled>
            {{ 'batch.actions.metadata.publication.reviewType' | translate }}
          </option>
          <option [value]=''>---</option>
          @for (method of reviewMethods; track method) {
            <option [value]="method"> {{ 'ReviewMethod.' + method | translate}} </option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeReviewMethodForm.controls['reviewMethodTo'])) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.publication.reviewType.invalid' | translate }} {{ valSvc.getErrorMsg(changeReviewMethodForm) }}
        </span>
        } @else {
          <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div>
        <button type="submit" [disabled]="changeReviewMethodForm.invalid || changeReviewMethodForm.pristine"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>