<nav id="header" class="navbar navbar-light navbar-expand-xxl p-0 fixed-top header bg-light"
  [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container-fluid d-flex justify-content-start" id="header_container">
    <div class="d-block d-xxl-none align-middle">
      <pure-sidenav></pure-sidenav>
    </div>

    <div id="brand" class="offset-0 offset-xxl-1 col-2 col-xxl-4 navbar-brand d-flex align-items-xxl-center">
      <div class="d-none d-sm-flex">
        <a [routerLink]="['/']">
          <img id="logo" src="assets/images/mpg_blue.svg" />
        </a>
      </div>
      <div>
        <a id="brand_name" [routerLink]="['/']">
          <span class="ms-3 mt-3">{{'header.brand.name'| translate}}</span>
        </a>
      </div>
    </div>

    <div class="d-none d-xxl-flex row col-7">
      <div class="col-7 d-flex align-items-center">
        <pure-search></pure-search>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        <!--<pure-switch-bs-theme class="me-4"></pure-switch-bs-theme>-->
        <div class="me-4">
          <a ngbTooltip="{{ 'common.help' | translate }}" placement="bottom-left" [routerLink]="['/help']"
            class="nav-link">
            <span class="material-symbols-outlined">help</span>
          </a>
        </div>

        <pure-toolsnav class="me-4"></pure-toolsnav>

        <pure-aa class="me-4"></pure-aa>

        <pure-lang-switch></pure-lang-switch>

      </div>
    </div>

    <div class="colspan-1"></div>

  </div>
</nav>

<!--
<ng-template #rt let-r="result" let-t="term">
  @if(r.type === 'person') {
    <i class="bi bi-person-fill me-1"></i>
  }
  @else if (r.type === 'org') {
    <i class="bi bi-building-fill me-1"></i>
  }
  @else if (r.type === 'title') {
    <i class="bi bi-file-text-fill me-1"></i>
  }
  <span [innerHTML]="r.value | sanitizeHtmlCitation"></span>
</ng-template>
-->