<nav id="header" class="navbar navbar-light navbar-expand-xl p-0 fixed-top header bg-light"
  [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container-fluid d-flex justify-content-start" id="header_container">

    <div class="d-block d-xl-none align-middle">
      <pure-sidenav></pure-sidenav>
    </div>

    <div class="row offset-0 col-12 offset-xxl-1 col-xxl-11">

      <div class="d-flex align-items-center justify-content-between">

        <div id="brand" class="col-4 col-xxl-3 d-flex align-items-xl-center navbar-brand">
          <div class="d-none d-sm-flex">
            <a [routerLink]="['/']">
              <img id="logo" src="assets/images/mpg_blue.svg" />
            </a>
          </div>
          <div>
            <a id="brand_name" [routerLink]="['/']">
              <span class="ms-3 mt-3">{{'header.brand.name'| translate}}</span>
            </a>
          </div>
        </div>

        <div class="d-none d-xl-flex col-xl-4 col-xxl-4">
          <pure-search class="col-9 col-xxl-10"></pure-search>
        </div>


        <div class="col-4 d-flex align-items-center me-2">
          <!--<pure-switch-bs-theme class="me-4"></pure-switch-bs-theme>-->
          <div class="me-4">
            <a ngbTooltip="{{ 'common.help' | translate }}" placement="bottom-left" [routerLink]="['/help']"
              class="nav-link">
              <span class="material-symbols-outlined">help</span>
            </a>
          </div>

          <pure-toolsnav class="me-4"></pure-toolsnav>

          <div class="me-4">
            <a role="button" [ngbPopover]="ipInfo" class="nav-link"
              [ngbTooltip]="aa.principal.value.matchedIpName ? 'On Campus' : 'Off Campus'">
              <span class="material-symbols-outlined">{{aa.principal.value.matchedIpName ? 'location_on' :
                'location_off'
                }}</span>
            </a>
            <ng-template #ipInfo>
              @if(aa.principal.value.matchedIpName) {
              <span class="fw-bold text-success">{{aa.principal.value.matchedIpName}}</span>
              }
              @else {
              <span class="text-warning">IP is not affiliated to MPG</span>
              }
              <p class="small">IP: {{aa.principal.value.ipAddress}}</p>
            </ng-template>
          </div>

          <pure-aa class="me-4"></pure-aa>
          <pure-lang-switch class="me-4"></pure-lang-switch>

        </div>
      </div>
    </div>

  </div>
</nav>

<!--
<ng-template #rt let-r="result" let-t="term">
  @if(r.type === 'person') {
    <i class="bi bi-person-fill me-1"></i>
  }
  @else if (r.type === 'org') {
    <i class="bi bi-building-fill me-1"></i>
  }
  @else if (r.type === 'title') {
    <i class="bi bi-file-text-fill me-1"></i>
  }
  <span [innerHTML]="r.value | sanitizeHtmlCitation"></span>
</ng-template>
-->