@if(log) {

<tr class="bg-light border-bottom border-white d-flex py-3" id="{{ log.id }}">
  @if( !isFinished(log.status) ) {

    <td class="col-2 px-1 d-flex justify-content-between">
      <span>{{ 'ImportStatus.' + log.status | translate }}</span>
      <div class="my-0 pe-1">
        {{ log.percentage }} &percnt; <span class="mx-1 spinner-border spinner-border-sm text-secondary"
          aria-hidden="true"></span>
      </div>
    </td>

  } @else {

    <td class="col-1 col-sm-2 d-flex flex-column flex-xl-row justify-content-md-between ps-1">
      <span class="d-flex d-none d-lg-inline">{{ 'ImportStatus.' + log.status | translate }}</span>
      <div class="my-0 pe-xl-2">

        @switch (log.errorLevel) {
          @case (importErrorLevel.FINE) {
            <span class="material-symbols-outlined text-success" style="cursor: default"
              ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
              placement="bottom-left">check_circle</span>
          }
          @case (importErrorLevel.WARNING) {
            <span class="material-symbols-outlined text-black-50" style="cursor: default"
              ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
              placement="bottom-left">error</span>
          }
          @default {
            <span class="material-symbols-outlined text-danger" style="cursor: default"
              ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
              placement="bottom-left">cancel</span>
          }
        }

      </div>
    </td>

  }

  <td class="d-flex flex-column col-7 col-sm-6 col-xl-4 pe-xxl-2">
    @if( isFinished(log.status) ) {

      <span class="nav-link text-decoration-underline text-nowrap text-truncate" style="cursor: pointer" (click)='toDatasets(log.id);'>
        {{ log.name }}
      </span>
      <span class="d-flex d-inline d-xl-none">
        {{ 'ImportFormat.' + log.format | translate }}
      </span>

    } @else {
      {{ log.name }}
    }

  </td>

  <td class="d-flex d-none col-0 d-xl-table-cell col-xl-2 text-nowrap text-truncate">
    {{ 'ImportFormat.' + log.format | translate }}
  </td>

  <td class="d-flex flex-column flex-xl-row col-2 col-xl-3 justify-content-lg-between">
    <span>{{ log.startDate | localizeDate }}</span>
    <div class="ps-lg-1 pe-lg-5 d-flex flex-nowrap">
      <span class="material-symbols-outlined text-secondary pt-1" style="cursor: auto">schedule</span>&nbsp;
      <span>{{ log.startDate | date: 'HH:mm'}}</span>
    </div>
  </td>

  <td class="d-flex d-none col-0 col-sm-1 d-sm-table-cell justify-content-center">
    <a [routerLink]="['/imports/myimports/', log.id]">
      <span class="material-symbols-outlined ms-2 my-0 matBadge"
        matBadge='{{ log.anzImportedItems > 0 ? log.anzImportedItems : null }}'>
        list
      </span>
    </a>
  </td>

  <td class="d-flex d-none col-0 col-xxl-1 d-xxl-table-cell">
      <span class="material-symbols-outlined my-0 ms-4"
        ngbTooltip="{{ 'imports.list.remove' | translate }}" placement="bottom-left" style="cursor: pointer" (click)="deleteImportLog(log)">
        delete
      </span>
  </td>
</tr>

}
