@if(log) {

<tr class="bg-light border-bottom border-white d-flex py-3" id="{{ log.id }}">
  @if( !isFinished(log.status) ) {

    <td class="col-2 px-1 d-flex justify-content-between">
      <span>{{ 'ImportStatus.' + log.status | translate }}</span>
      <div class="my-0 pe-1">
        {{ log.percentage }} &percnt; <span class="mx-1 spinner-border spinner-border-sm text-secondary"
          aria-hidden="true"></span>
      </div>
    </td>

  } @else {

    <td class="col-2 px-1 d-flex justify-content-between">
      <span>{{ 'ImportStatus.' + log.status | translate }}</span>
      <div class="my-0">

        @switch (log.errorLevel) {
          @case (importErrorLevel.FINE) {
            <span class="material-symbols-outlined text-success pe-1" style="cursor: default"
              ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
              placement="bottom-left">check_circle</span>
          }
          @case (importErrorLevel.WARNING) {
            <span class="material-symbols-outlined text-black-50 pe-1" style="cursor: default"
              ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
              placement="bottom-left">error</span>
          }
          @default {
          <span class="material-symbols-outlined text-danger pe-1" style="cursor: default"
            ngbTooltip="{{ 'ImportErrorLevel.' + getAssorted(log.errorLevel)| translate }}"
            placement="bottom-left">cancel</span>
          }
        }

      </div>
    </td>

  }

  <td class="col-4">
    @if( isFinished(log.status) ) {

      <span class="nav-link text-decoration-underline text-nowrap" style="cursor: pointer" (click)='toDatasets(log.id);'>
        {{ log.name }}
      </span>

    } @else {
      {{ log.name }}
    }

  </td>

  <td class="col-2">
    {{ 'ImportFormat.' + log.format | translate }}
  </td>

  <td class="col-2 d-flex justify-content-between">
    <span>{{ log.startDate | localizeDate }}</span>
    <div class="pe-3">
      <span class="material-symbols-outlined text-secondary" style="cursor: auto">schedule</span>&nbsp;
      <span>{{ log.startDate | date: 'HH:mm'}}</span>
    </div>
  </td>

  <td class="col-1 d-flex justify-content-center">
    <a [routerLink]="['/imports/myimports/', log.id]">
      <span class="material-symbols-outlined ms-2 my-0 matBadge"
        matBadge='{{ log.anzImportedItems > 0 ? log.anzImportedItems : null }}'>
        list
      </span>
    </a>
  </td>

  <td class="col-1">
      <span class="material-symbols-outlined my-0 float-end me-3"
        ngbTooltip="{{ 'imports.list.remove' | translate }}" placement="bottom-left" style="cursor: pointer" (click)="deleteImportLog(log)">
        delete
      </span>
  </td>
</tr>

}
