@if(log) {

<tr class="border-bottom d-flex" id="{{ log.id }}">
  @if( !isFinished(log.status) ) {

    <td class="col-2">
      {{ getImportStatusTranslation(log.status) }}
      <div class="float-end my-0">
        {{ log.percentage }} &percnt; <span class="mx-1 spinner-border spinner-border-sm text-secondary"
          aria-hidden="true"></span>
      </div>
    </td>

  } @else {

  <td class="col-2 d-flex justify-content-between">
    <span>{{ getImportStatusTranslation(log.status) }}</span>
    <div class="my-0">

      @switch (log.errorLevel) {
        @case (importErrorLevel.FINE) {
          <span class="material-symbols-outlined text-success" style="cursor: default"
            ngbTooltip='{{ getImportErrorLevelTranslation(getAssorted(log.errorLevel)) }}'
            placement="bottom-left">check_circle</span>
        }
        @case (importErrorLevel.WARNING) {
          <span class="material-symbols-outlined text-black-50" style="cursor: default"
            ngbTooltip='{{ getImportErrorLevelTranslation(getAssorted(log.errorLevel)) }}'
            placement="bottom-left">error</span>
        }
        @default {
        <span class="material-symbols-outlined text-danger" style="cursor: default"
          ngbTooltip='{{ getImportErrorLevelTranslation(getAssorted(log.errorLevel)) }}'
          placement="bottom-left">cancel</span>
        }
      }

    </div>
  </td>

  }

  <td class="col-3">
    @if( isFinished(log.status) ) {

      <span class="nav-link text-decoration-underline text-nowrap" (click)='toDatasets(log.id);'>
        {{ log.name }}
      </span>

    } @else {
      {{ log.name }}
    }
    
  </td>

  <td class="col-2">
    {{ getImportFormatTranslation(log.format) }}
  </td>

  <td class="col-2">
    <span>{{ log.startDate | date:'mediumDate' }}</span>
    <div class="float-end">
      <span class="material-symbols-outlined text-secondary" style="cursor: auto">schedule</span>&nbsp;
      <span>{{ log.startDate | date: "HH:mm" }}</span>
    </div>
  </td>

  <td class="col-1">
    <a [routerLink]="['/imports/myimports/', log.id]">
      <span class="material-symbols-outlined ms-2 my-0 matBadge"
        matBadge='{{ log.anzImportedItems > 0 ? log.anzImportedItems : null }}'>
        list
      </span>
    </a>
  </td>

  <td class="col-1">
    <button type="button" class="border-0 bg-transparent float-end" (click)="deleteImportLog(log)">
      <span class="material-symbols-outlined ms-2 my-0" ngbTooltip="Remove from log" placement="bottom-right">
        delete
      </span>
    </button>
  </td>
</tr>

}