<div class="imports">
  <div class="logs">
    <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">
      <div class="col-lg-12 col-sm-12 d-inline-flex justify-content-between">

        <div class="d-inline-flex justify-content-start align-items-center">
          <a class="ms-3" i18n-ngbTooltip="@@imports.list.details.delete" ngbTooltip="Delete" placement="bottom-left">
            <span class="material-symbols-outlined">
              delete_forever
            </span>
          </a>
          <a class="ms-3" i18n-ngbTooltip="@@imports.list.details.set" ngbTooltip="Set" placement="bottom-left">
            <span class="material-symbols-outlined">
              workspace_premium
            </span>
          </a>
          <a class="ms-3" i18n-ngbTooltip="@@imports.list.details.release" ngbTooltip="Release" placement="bottom-left">
            <span class="material-symbols-outlined">
              public
            </span>
          </a>
        </div>

        <div class="small d-inline-flex justify-content-end align-items-center">
          <pure-paginator [totalNumberOfItems]="collectionSize" [(pageNumber)]="page" [(size)]="pageSize" (paginatorChanged)="refreshLogs()" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-sm-12 d-flex justify-content-between mt-5 mb-3 border-bottom">
        <div>
          <span i18n="@@imports.list.details.for">Import</span>: <strong class="fw-bolder">{{ import }}
          </strong>
        </div>
        <div class="fw-light">
          <span i18n="@@imports.list.started.on">started on</span><span> {{ started | date:'fullDate' }} </span><span
            class="material-symbols-outlined" style="cursor: auto">
            schedule</span><span> {{ started | date: "HH:mm" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <table class="table table-responsive col-12 mt-1">
          <thead>
            <tr class="border-bottom">
              <th scope="col" class="pe-2">Status</th>
              <th scope="col" class="pe-2" i18n="@@imports.list.header.title">Item ID</th>
              <th scope="col" class="pe-2" i18n="@@imports.list.header.message">Report</th>
              <th scope="col">Log</th>
            </tr>
          </thead>

          <tbody>
            @if(collectionSize > 0) {
              @for (item of inPage | stateFilter:refreshFilters():'errorLevel' ; track item.id) {                
              <tr class="border-bottom">
                <td class="col-2 text-nowrap">
                  {{ item.status }}
                  @if( item.errorLevel === importErrorLevel.PROBLEM 
                    || item.errorLevel === importErrorLevel.ERROR 
                    || item.errorLevel === importErrorLevel.FATAL ) {
                  <span class="material-symbols-outlined">error</span>
                  } @else if (item.errorLevel === importErrorLevel.WARNING) {
                  <span class="material-symbols-outlined">warning</span>
                  } 
                </td>
                <td class="col-5">
                  @if(item.itemId) {                 
                    <span class="nav-link text-decoration-underline" [routerLink]="['/view', item.itemId]">{{ item.itemId }} </span>
                  } @else {
                    {{ item.message | separate | titlecase }}
                  }
                </td>
                <td class="col-3">
                  {{ item.errorLevel }}
                </td>
                <td class="col-1">
                  <a [routerLink]="['details']"
                    [state]="{ item: item }">     
                      <span class="material-symbols-outlined my-0" >
                        integration_instructions
                      </span>
                  </a>
                </td>
              </tr>
              }
              @empty {
                <tr>
                  <th colspan="3" class="text-center">
                    <span class="text-center">No items to show</span>
                  </th>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

      <div class="col-lg-2 d-none d-lg-block mt-4">
        <div class="border rounded p-3 m-1">
          @if(collectionSize > 0) {
          <span class="me-0"> {{ itemsFine }}/{{ itemsCount }} <span class="me-0">
            items fine</span>
          </span>
          }
          @if((problem + error + fatal) > 0) {
          <br>
          <span class="fw-bold"> {{ warning + problem + error + fatal }} <span>
            import notices</span>
          </span>
          }
        </div>
        <br>
        <form [formGroup]="filterForm">
          @if(fine > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fine" formControlName="fine" checked>
            <label class="form-check-label" for="fine">
              fine
            </label>
          </div>
          }
          @if(warning > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="warning" formControlName="warning" checked>
            <label class="form-check-label" for="warning">
              warning
            </label>
          </div>
          }
          @if(problem > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="problem" formControlName="problem" checked>
            <label class="form-check-label" for="problem">
              problem
            </label>
          </div>
          }
          @if(error > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="error" formControlName="error" checked>
            <label class="form-check-label" for="error">
              error
            </label>
          </div>
          }
          @if(fatal > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fatal" formControlName="fatal" checked>
            <label class="form-check-label" for="fatal">
              fatal
            </label>
          </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>