<div class="imports">
    <div class="logs">
        <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">
            <div class="col-lg-12 col-sm-12 d-inline-flex justify-content-end">

                <div class="small d-inline-flex align-items-end">
                  <pure-paginator [totalNumberOfItems]="collectionSize" [(pageNumber)]="currentPage" [(size)]="pageSize" (paginatorChanged)="refreshLogs()" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="my-3"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <table class="table table-responsive col-12 mt-1">
                    <thead>
                        <tr class="border-bottom">
                          <th scope="col" class="pe-2">Status</th>
                          <th scope="col" class="pe-2">Import</th>
                          <th scope="col" class="pe-2">Format</th>
                          <th scope="col" class="pe-2" i18n="@@imports.list.header.date">Started</th>
                          <th scope="col" i18n="@@imports.list.header.details">Items</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (log of inPage; track log.id) {
                            <tr class="border-bottom" id="{{ log.id }}" [attr.autoFocus]="log.id === 4403575">
                              <td class="col-2">
                                {{ getImportStatusTranslation(log.status) }}
                                <div class="float-end ms-1 my-0">
                                  @switch (log.errorLevel) {
                                    @case (importErrorLevel.FINE) { 
                                      <span class="material-symbols-outlined text-success" style="cursor: default">check_circle</span> }
                                    @case (importErrorLevel.WARNING) { 
                                      <span class="material-symbols-outlined text-black-50" style="cursor: default">error</span> }
                                    @default { 
                                      <span class="material-symbols-outlined text-danger" style="cursor: default">cancel</span>
                                     }
                                  }
                                  </div>
                              </td>
                              <td class="col-2 d-inline-flex">
                              @if( isFinished(log.status) ) { 
                                <span class="nav-link text-decoration-underline text-nowrap" (click)='toDatasets(log.id);'>{{ log.name }}</span>
                              } @else {
                                {{ log.name }}
                              }
                              </td>
                              <td class="col-2">
                                {{  getImportFormatTranslation(log.format) }}
                              </td>
                              <td class="col-4">
                                <span>{{ log.startDate | date:'fullDate' }}</span>
                                <div class="float-end">
                                  <span class="material-symbols-outlined" style="cursor: auto">schedule</span>&nbsp;
                                  <span class="me-3">{{ log.startDate | date: "HH:mm" }}</span>
                                </div>
                              </td>
                              <td class="col-1">
                                <a [routerLink]="['/imports/myimports/', log.id]">
                                    <span class="material-symbols-outlined ms-2 my-0 matBadge" matBadge='{{ log.anzItems > 0 ? log.anzItems : null }}'>
                                      list
                                    </span>
                                </a>
                              </td>
                              <td class="col-1">
                                <button type="button" class="border-0 bg-transparent float-end" (click)="deleteImportLog(log)">
                                  <span class="material-symbols-outlined ms-2 my-0" ngbTooltip="Remove from log" placement="bottom-right">
                                    delete
                                  </span>
                                </button>
                              </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!--div class="col-lg-2 d-none d-lg-block">

            </div-->
        </div>
    </div>
</div>