<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
  <h2 class="m-0" i18n="@@batch.actions.metadata.files.ipRanges">IP Ranges</h2>
  <div class="mt-2 mb-5">
    All files with the visibility "restricted" will be assigned to the following IP
    range(s)
  </div>

  <form [formGroup]="replaceFileAudienceForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
      <label class="col-sm-3 col-form-label" for="audienceId">Assign IP ranges</label>

      <div class="col-sm">
        <ng-container formArrayName="allowedAudienceIds">
          @for (audience of allowedAudienceIds.controls; track audience; let audienceIdx = $index) {
          <ng-container [formGroupName]="audienceIdx">
            <pure-audience-form [audienceId]="audience" [index]="audienceIdx"
              [index_length]="allowedAudienceIds.controls.length" [ous]="ous"
              (notice)="handleAudienceNotification($event)">
            </pure-audience-form>
          </ng-container>
          } 
        </ng-container>
      </div>
    </div>

    <div class="mb-2 row">
      <!--div class="offset-sm-2 col-sm-6">
        @if (validSvc.noDuplicatesValidator(allowedAudienceIds)) {
        <span class="form-text text-danger small">
          IP range {{ validSvc.getFieldError(allowedAudienceIds) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div-->
      <span>&nbsp;</span>
    </div>

    <div class="row">
      <div class="offset-sm-9 col-sm-3">
        <button type="submit" [disabled]="replaceFileAudienceForm.invalid"
          class="btn btn-outline-secondary col-4 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>