<div [formGroup]="isc_form">
    <div class="row mt-1 w-100 align-items-center">
        <div class="col-1">
            @if (array_index > 0 && !first_in_brackets) {
            <select class="form-select" formControlName="join" (change)="join(j.value)" #j>
                @for (join of joinOptions; track join) {
                <option [value]="join">
                    {{ join }}
                </option>
                }
            </select>
            }
        </div>
        @if (!brackets) {
        <div class="col-1">
            <button type="button" class="btn btn-sm" (click)="addBracketsToFormArray()">
                (
            </button>
        </div>
        <div class="col-2">
            <select class="form-select" formControlName="filter" (change)="currentField(k.value)" #k>
                @for (filter of fieldOptions; track filter) {
                <option [value]="filter.label">
                    {{ filter.label }}
                </option>
                }
            </select>
        </div>
        @if (k.value === 'Identifier') {
        <div class="col-2">
            <select class="form-select" formControlName="sub_filter" (change)="addInputValue()">
                @for (sub_filter of identifierOptions; track sub_filter) {
                <option [value]="sub_filter">
                    {{ sub_filter }}
                </option>
                }
            </select>
        </div>
        }
        @if (k.value === 'Genre') {
        <div class="col-2">
            <select class="form-select" formControlName="sub_filter">
                @for (sub_filter of genreOptions; track sub_filter) {
                <option [value]="sub_filter">
                    {{ sub_filter }}
                </option>
                }
            </select>
        </div>
        }
        @if (k.value === 'Person') {
        <div class="col-2">
            <select class="form-select" formControlName="sub_filter" (change)="addInputValue()">
                @for (sub_filter of personOptions; track sub_filter) {
                <option [value]="sub_filter">
                    {{ sub_filter }}
                </option>
                }
            </select>
        </div>
        }
        @if (isc_form.get('value') && k.value !== 'Person' && k.value !== 'Organization' && k.value !== 'Identifier') {
        <div class="col-7">
            <input type="text" class="form-control" formControlName="value">
        </div>
        }
        @if (isc_form.get('value') && k.value === 'Identifier') {
        <div class="col-5">
            <input type="text" class="form-control" formControlName="value">
        </div>
        }
        @if (isc_form.get('value') && k.value === 'Person') {
        <div class="col-5">
            <input type="text" class="form-control" formControlName="value" autocomplete="off">
            @if (cone_async) {
            <div>
                <ul class="list-group">
                    @for (cone of cone_async | async; track cone) {
                    <li pureClickOutside (clickOutside)="close_cone()"
                        class="list-group-item list-group-item-action list-group-item-secondary py-0 text-start"
                        (click)="select_person(cone)" (keyup)="select_person(cone)" tabindex="0" role="button">
                        <small>{{cone.value}}</small>
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
        }
        @if (isc_form.get('value') && k.value === 'Organization') {
        <div class="col-7">
            <pure-selector [form]="isc_form" [control_name]="'value'" purePureOus placeholder="search ous ..."
                (notice)="select_ou($event)">
                <ng-container *pureOption="let item">{{ item.text }}</ng-container>
            </pure-selector>
            <!--
            <input #ou_input type="text" class="form-control" formControlName="value" autocomplete="off">
            <div *ngIf="ous_async">
                <ul class="list-group">
                    <li pureClickOutside (clickOutside)="close_ous()" class="list-group-item list-group-item-action list-group-item-secondary py-0 text-start"
                        *ngFor="let ou of ous_async | async" (click)="select_ou(ou, array_index)"><small>{{ou.text}}</small>
                    </li>
                </ul>
            </div>
        -->
        </div>
        }
        @if (isc_form.get('from')) {
        <div class="col-2">
            <input type="text" class="form-control" formControlName="from" placeholder="YYYY-MM-DD">
        </div>
        }
        @if (isc_form.get('to')) {
        <div class="col-2">
            <input type="text" class="form-control" formControlName="to" placeholder="YYYY-MM-DD">
        </div>
        }
        }
        <div class="col-1 ms-auto">
            <!-- WARNING!!!-->
            <!-- if type is omitted, submit will trigger remove ... -->
            <button type="button" class="btn btn-sm" (click)="addFieldToFormArray()">
                <strong>+</strong>
            </button>
            <button type="button" class="btn btn-sm" (click)="removeFieldFromFormArray()">
                <strong>-</strong>
            </button>
        </div>
    </div>
</div>