<div id="privacy" class="mt-5 mb-5">

    <h2>Datenschutzhinweis</h2>
    <hr>

    <h3 class="mt-4">Auf einen Blick</h3>
    <hr>
    <p>
        Die Max Planck Digital Library (MPDL) legt großen Wert den Schutz und die Sicherheit personenbezogener Daten.
        Dabei richten wir uns nach den entsprechenden Vorgaben der Datenschutzgesetze, insbesondere der
        EU-Datenschutz-Grundverordnung (DSGVO) sowie des Bundesdatenschutzgesetzes (BDSG).
    </p>
    <p>
        Wir möchten Sie im Folgenden im Detail über die Verwendung Ihrer Daten im Rahmen des Besuchs unserer Webseiten
        aufklären und Sie über Ihre Optionen sowie Ihre Rechte aus den Datenschutzgesetzen informieren.
    </p>

    <h3 class="mt-4">Allgemeine Hinweise und Pflichtinformationen</h3>
    <hr>

    <h4 class="mt-4">Verantwortliche Stelle</h4>
    <hr>
    <p>
        Verantwortlich für die Verarbeitung Ihrer Daten ist Die
    </p>
    <p>
        Max Planck Digital Library (MPDL)<br />
        Landsberger Straße 346<br />
        80687 München
    </p>
    <p>
        Tel.: +49 89 909 311-0<br />
        Email: <a href="mailto:contact&#64;mpdl.mpg.de" class="link-info">contact&#64;mpdl.mpg.de</a>
    </p>
    <p>
        als Organisationseinheit der
    </p>
    <p>
        Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.<br />
        Hofgartenstraße 8<br />
        80539 München<br />
        Vereinsregister Nr. VR 13378 B<br />
        AG Berlin-Charlottenburg
    </p>

    <h4 class="mt-4">Datenschutzbeauftragte</h4>
    <p>
        Die Datenschutzbeauftragte der Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. kann per E-Mail
        unter <a href="mailto:datenschutz&#64;mpg.de" class="link-info">datenschutz&#64;mpg.de</a> oder telefonisch
        unter +49 89 2108-1554 erreicht werden.
    </p>

    <h3 class="mt-4">Beschreibung und Umfang der Datenverarbeitung</h3>
    <hr>

    <h4 class="mt-4">Bereitstellung der Webseite und Log-Dateien</h4>
    <hr>
    <p>Bei jedem Aufruf unserer Website erfasst unser System, d.h. der Webserver, automatisiert Informationen vom System
        Ihres aufrufenden Rechners bzw. Endgeräts.</p>
    <p>
        Folgende Daten werden hierbei von uns erhoben:
    </p>
    <ul>
        <li>
            &#x2022; Informationen über den Browsertyp und die verwendete Version
        </li>
        <li>
            &#x2022; das Betriebssystem des Endgeräts
        </li>
        <li>
            &#x2022; den Internet-Service-Provider
        </li>
        <li>
            &#x2022; die IP-Adresse
        </li>
        <li>
            &#x2022; Datum und Uhrzeit des Zugriffs
        </li>
        <li>
            &#x2022; die vorherige Website, von der der Nutzer auf unsere Website gelangt ist (Referrer-URL)
        </li>
    </ul>

    <h5 class="mt-4">Zweck der Datenverarbeitung</h5>
    <p>
        Die vorübergehende Speicherung Ihrer IP-Adresse durch unser System ist notwendig, um eine Auslieferung der
        Website an Ihr Gerät zu ermöglichen. Hierfür muss die IP-Adresse des Endgeräts zwangsläufig für die Dauer der
        Sitzung gespeichert bleiben. Die Speicherung der oben genannten Daten in sog. Log-Files erfolgt, um die
        Funktionsfähigkeit unserer Website sicherzustellen. Zudem dienen uns diese Daten zur Optimierung der Website und
        zur Gewährleistung der Sicherheit unserer informationstechnischen Systeme (z.B. zur Angriffserkennung).
    </p>

    <h5 class="mt-4">Rechtsgrundlage</h5>
    <p>
        Rechtsgrundlage für die vorübergehende Speicherung dieser Daten und der Log-Files ist Art. 6 Abs. 1 UAbs. 1 lit.
        f DSGVO (berechtigte Interessen von uns als Websitebetreiber an der sicheren, störungsfreien und rechtskonformen
        Bereitstellung der Website).
    </p>

    <h5 class="mt-4">Dauer der Speicherung</h5>
    <p>
        Die oben genannten Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
        erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die
        jeweilige Sitzung beendet ist.
    </p>
    <p>
        Im Falle der Speicherung der Daten in Log-Files ist dies nach spätestens 7 Tagen der Fall. Eine
        darüberhinausgehende Speicherung ist möglich. In diesem Fall wird die IP-Adresse des Nutzers von uns gelöscht
        oder verfremdet, so
        dass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist und die enthaltenen Daten keinen
        Personenbezug mehr aufweisen.
    </p>

    <h4 class="mt-4">Benutzerkonten</h4>
    <hr>
    <p>
        Die Einrichtung des Nutzerkontos beinhaltet die Speicherung und Verarbeitung personenbezogener Daten, nämlich
        Name,
        Vorname, Institutszugehörigkeit und E-Mailadresse. Die Daten werden ausschließlich zum Zwecke der Nutzung der
        Dienste von MPG.PuRe verwendet.
    </p>
    <p>
        MitarbeiterInnen der Max-Planck-Gesellschaft, die an ihren Instituten oder Einrichtungen für die Pflege der
        Daten
        zuständig sind, können die Erstellung eines solchen Kontos bei der Max Planck Digital Library (MPDL) per E-Mail
        an <a href="mailto:pure-support&#64;listsrv.mpg.de" class="link-info">pure-support&#64;listsrv.mpg.de</a>
        beantragen.
    </p>

    <h5 class="mt-4">Zweck der Datenverarbeitung</h5>
    <p>
        Für die Eingabe und Verwaltung von Publikationsdaten in MPG.PuRe ist die Erstellung eines Benutzerkontos
        zwingend
        erforderlich. Eine Nutzung dieser Funktionalitäten ohne die Erstellung eines Kontos und die damit verbundene
        Speicherung personenbezogener Daten ist nicht möglich.
    </p>

    <h5 class="mt-4">Rechtsgrundlage</h5>
    <p>
        Die Speicherung und Verarbeitung der Daten erfolgt auf Grundlage von berechtigtem Interesse gemäß Art. 6 Abs. 1
        f&#41; DSGVO. Unser berechtigtes Interesse ergibt sich aus dem oben genannten Zweck zur Datenerhebung.
    </p>

    <h5 class="mt-4">Dauer der Speicherung</h5>
    <p>
        Die Benutzerkonten, und die damit verbundenen personenbezogenen Daten, werden auf Ihre Anforderung spätestens
        innerhalb eines Monats gelöscht.
    </p>

    <h4 class="mt-4">Session-Cookies</h4>
    <hr>
    <p>
        Um Ihnen die Nutzung unserer Webseite zu erleichtern, verwenden wir sog. "Session-Cookies". Dabei handelt es
        sich um kleine Textdateien, die nur für die Dauer Ihres Besuchs unserer Webseite auf Ihrer Festplatte hinterlegt
        und abhängig von der Einstellung Ihres Browser-Programms beim Beenden des Browsers wieder gelöscht werden. Diese
        Cookies rufen keine auf Ihrer Festplatte über Sie gespeicherten Informationen ab und beeinträchtigen nicht Ihre
        Dateien.
    </p>
    <p>
        Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von
        Cookies jedoch deaktivieren oder ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies hinweist.
        Bitte beachten Sie, dass einzelne Funktionen unserer Website beeinträchtigt werden könnten, wenn Sie die
        Verwendung von Cookies deaktiviert haben.
    </p>

    <h4 class="mt-4">
        Analyse der Website (Matomo)
    </h4>
    <hr>
    <p>Wir nutzen den Open-Source-Webanalysedienst Matomo (ehemals Piwik).</p>

    <h5 class="mt-4">Zweck der Verarbeitung</h5>
    <p>
        Wir nutzen Matomo, um die Nutzung unserer Website zu analysieren und regelmäßige Verbesserungen durchführen zu
        können. Über die gewonnenen Statistiken können wir unser Angebot optimieren und für Sie als Nutzer interessanter
        ausgestalten
    </p>
    <p>
        Bei jedem Aufruf unserer Webseiten erfasst unser System folgende Daten und Informationen vom Computersystem des
        aufrufenden Rechners:
    </p>
    <ul>
        <li>
            &#x2022; IP-Adresse, durch Verkürzen anonymisiert
        </li>
        <li>
            &#x2022; Zwei Cookies zur Unterscheidung verschiedener Besucher (pk_id und pk_sess)
        </li>
        <li>
            &#x2022; Zuvor besuchte URL (Referrer), sofern vom Browser übermittelt
        </li>
        <li>
            &#x2022; Name und Version des Betriebssystems
        </li>
        <li>
            &#x2022; Name, Version und Spracheinstellung des Browsers
        </li>
    </ul>
    <p>
        Zusätzlich, sofern JavaScript aktiviert ist:
    </p>
    <ul>
        <li>
            &#x2022; Besuchte URLs auf dieser Webseite
        </li>
        <li>
            &#x2022; Zeitpunkte der Seitenaufrufe
        </li>
        <li>
            &#x2022; Art der HTML-Anfragen
        </li>
        <li>
            &#x2022; Bildschirmauflösung und Farbtiefe
        </li>
        <li>
            &#x2022; Vom Browser unterstützte Techniken und Formate (z. B. Cookies, Java, Flash, PDF)
        </li>
    </ul>
    <p>
        Die Speicherung und Auswertung der Daten erfolgt ausschließlich auf einem zentralen Server, der von der MPG
        betrieben wird.
    </p>
    <p>
        Es werden mit der Technologie von Matomo ausschließlich anonymisierte Daten gespeichert und verwendet. Die
        IP-Adressen werden sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Sie erlauben keine
        Identifikation der Besucher dieser Website. Eine Weitergabe Ihrer Daten an Dritte erfolgt grundsätzlich nicht.
        Matomo verwendet Cookies. Die durch das Cookie erzeugten Informationen im pseudonymen Nutzerprofil werden nicht
        dazu
        benutzt, den Besucher einer Website persönlich zu identifizieren und nicht mit personenbezogenen Daten über den
        Träger des Pseudonyms zusammengeführt.
    </p>

    <h5 class="mt-4">Rechtsgrundlage</h5>
    <p>
        Rechtsgrundlage für die Nutzung von Matomo ist Art. 6 Abs. 1 UAbs. 1 lit. a DSGVO (Ihre Einwilligung, die sie
        über unser Consent-Banner erklärt haben). Sie können diese Einwilligung jederzeit mit Wirkung für die Zukunft
        widerrufen.
    </p>

    <h5 class="mt-4">Speicherdauer</h5>
    <p>
        Die Daten werden in der Regel für 30 Tage gespeichert und nach der Bildung der abschließenden Jahressummen für
        die Zugriffsstatistik gelöscht.
    </p>

    <h5 class="mt-4">
        Widerruf der Einwilligung
    </h5>
    <p>
        Selbstverständlich haben Sie die Möglichkeit, Ihre Einwilligung zu dieser Datenerhebung mit Wirkung für die
        Zukunft zu widerrufen. Bis zum Widerruf der Einwilligung bereits rechtmäßig erfasste Daten sind hiervon nicht
        betroffen. Sie haben folgende unabhängige Möglichkeiten, eine Datenerfassung durch den zentralen Server zu
        unterbinden:
    </p>
    <ul>
        <li> &#x2022;
            Aktivieren Sie in Ihrem Browser die Einstellung „Do-Not-Track“ bzw. „Nicht folgen“. Solange diese
            Einstellung aktiv ist, wird unser zentraler Matomo-Server keinerlei Daten von Ihnen speichern. Wichtig: Die
            Do-Not-Track-Anweisung gilt in der Regel nur für das eine Gerät und den einen Browser, in dem Sie die
            Einstellung aktivieren. Sollten Sie mehrere Geräte/Browser nutzen, dann müssen Sie Do-Not-Track überall
            separat
            aktivieren.
        </li>
        <li> &#x2022;
            Nutzen Sie unsere Opt-Out-Funktion. Klicken Sie auf den Haken in der folgenden Auswahlbox, um die
            Datenerfassung zu stoppen oder wieder zu aktivieren. Solange die Auswahlbox deaktiviert ist, wird unser
            zentraler Matomo-Server keinerlei Daten von Ihnen speichern. Wichtig: Für das Opt-Out müssen wir einen
            speziellen Erkennungs-Cookie in Ihrem Browser speichern. Wenn Sie diesen löschen oder einen anderen
            PC / Browser benutzen, dann müssen Sie erneut auf dieser Seite der Datenerfassung widersprechen.
        </li>
    </ul>
    <br />
    <p>
        Sie haben die Möglichkeit zu verhindern, dass von Ihnen hier getätigte Aktionen analysiert und verknüpft werden.
        Dies wird Ihre Privatsphäre schützen, aber wird auch den Besitzer daran hindern, aus Ihren Aktionen zu lernen
        und die Bedienbarkeit für Sie und andere Benutzer zu verbessern.
    </p>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="trackVisits" id="trackVisits" checked
            onclick="if (this.checked != true) alert('Opt-Out!');" />
        <label class="form-check-label" for="trackVisits">
            <strong>
                <span id="labelOptOut">
                    Ihr Besuch dieser Webseite wird aktuell von der Matomo Webanalyse erfasst. Diese Checkbox abwählen
                    für Opt-Out.
                </span>

                <span id="labelOptIn" style="display:none;">
                    Ihr Besuch dieser Webseite wird aktuell von der Matomo Webanalyse nicht erfasst. Diese Checkbox
                    aktivieren für Opt-In.
                </span>
            </strong>
        </label>
    </div>

    <p>
        Die Speicherung und Auswertung erfolgt grundsätzlich anonymisiert. Session-Cookies werden spätestens mit dem
        Schließen Ihres Browsers gelöscht. Personenbezogene Nutzerprofile werden nicht erstellt.
    </p>

    <h3 class="mt-4">Ihre Rechte</h3>
    <hr>
    <p>Nach der Datenschutzgrundverordnung (DSGVO) haben Sie das Recht:</p>
    <ul>
        <li>&#x2022;
            gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Dies
            umfasst die Verarbeitungszwecke, die Kategorien der personenbezogenen Daten, die Kategorien von Empfängern
            der Daten, die geplante Speicherdauer, die Herkunft ihrer Daten, sowie über das Bestehen einer
            automatisierten Entscheidungsfindung einschließlich Profiling;
        </li>
        <li>&#x2022;
            gemäß Art. 16 DSGVO die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten
            personenbezogenen Daten zu verlangen;
        </li>
        <li>&#x2022;
            gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit
            nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
            einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung
            oder Verteidigung von Rechtsansprüchen erforderlich ist;
        </li>
        <li>&#x2022;
            gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, falls Sie
            die Richtigkeit der Daten bestreiten, die Verarbeitung unrechtmäßig ist und Sie die Löschung Ihrer Daten
            ablehnen sowie in Fällen, in denen wir Ihre Daten nicht länger benötigen, Sie diese aber zur Durchsetzung
            von Rechtsansprüchen benötigen. Eine Einschränkung der Verarbeitung wird auch durchgeführt, wenn Sie
            Widerspruch gegen die Verarbeitung eingelegt haben, aber noch nicht feststeht, ob unsere berechtigten
            Interessen die Ihrigen überwiegen;
        </li>
        <li>&#x2022;
            gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten,
            gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen
            zu verlangen;
        </li>
        <li>&#x2022;
            gemäß Art. 7 Abs. 3 DSGVO eine uns gegenüber erteilte Einwilligung jederzeit zu widerrufen. Die
            Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt;
        </li>
        <li>&#x2022;
            GEMÄß ART. 21 DSGVO WIDERSPRUCH GEGEN DIE DIE VERARBEITUNG IHRER PERSONENBEZOGENEN DATEN EINZULEGEN. BERUHT
            DIE VERARBEITUNG IHRER DATEN AUF BERECHTIGTEM INTERESSE DER MPDL ODER DRITTER UND IHR WIDERSPRUCH BEGRÜNDET
            SICH AUS IHRER BESONDEREN SITUATION, WERDEN WIR DEM NACHKOMMEN, SOFERN NICHT SCHUTZWÜRDIGE GRÜNDE FÜR DIE
            VERARBEITUNG BESTEHEN, DIE IHRE INTERESSEN ÜBERWIEGEN, ODER WIR IHRE DATEN ZUR DURCHSETZUNG VON
            RECHTSANSPRÜCHEN BENÖTIGEN.
        </li>
        <li>&#x2022;
            gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. Sollten Sie der Ansicht sein, dass wir
            Ihren Rechten und unseren Pflichten aus der Datenschutzgrundverordnung nicht ausreichend nachgekommen sind,
            haben Sie das Recht, eine Beschwerde bei einer Datenschutzbehörde einzureichen. Die für uns zuständige
            Behörde ist das Bayerische Landesamt für Datenschutzaufsicht (BayLDA), Promenade 18, 91522 Ansbach
        </li>
    </ul>
</div>