<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.files.visibility' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.files.visibility.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeFileVisibilityForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'batch.actions.metadata.files.visibility.from' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="fileVisibilityFrom" [ngClass]="{'border border-danger': changeFileVisibilityForm.get('fileVisibilityFrom')?.pending}">
          <option [value]="null" selected disabled hidden>{{ 'batch.actions.metadata.files.visibility' | translate }}</option>
          @for (fileVisibility of visibility; track fileVisibility) {
          <option [value]="fileVisibility"> {{ 'Visibility.' + fileVisibility | translate }}</option>
          }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'batch.actions.metadata.files.visibility.to' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="fileVisibilityTo" [ngClass]="{'border border-danger': changeFileVisibilityForm.get('fileVisibilityTo')?.pending}">
          <option [value]="null" selected disabled hidden>{{ 'batch.actions.metadata.files.visibility' | translate }}</option>
          @for (fileVisibility of visibility; track fileVisibility) {
          <option [value]="fileVisibility"> {{ 'Visibility.' + fileVisibility | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeFileVisibilityForm.controls['fileVisibilityTo'])) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.files.visibility.invalid' | translate }} {{
          valSvc.getErrorMsg(changeFileVisibilityForm.controls['fileVisibilityTo']) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeFileVisibilityForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>
</div>