
<div class="form-control mb-1 border-0 p-4 mb-2">
  <h2 class="m-0">Change context</h2>
  <div class="mt-2 mb-5">
    The items will be connected with a new context, if their genre is admitted there, too
  </div>

  <form [formGroup]="changeContextForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" for="contextFrom">Previous context</label>
      <div class="col-sm-9">
        <pure-selector id="contextFrom" [form]="contextFrom" [control_name]="'name'"
          (notice)="updateContextFrom($event)" purePureCtxs placeholder="search contexts ...">
          <ng-container *pureOption="let item">{{ item.text }}</ng-container>  
        </pure-selector>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" for="contextTo">New context</label>
      <div class="col-sm-9">
        <pure-selector id="contextTo" [form]="contextTo" [control_name]="'name'"
          (notice)="updateContextTo($event)" purePureCtxs placeholder="search contexts ..." >
          <ng-container *pureOption="let item">{{ item.text }}</ng-container>
        </pure-selector>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-3 col-sm-6">
					<div *ngIf="changeContextForm.controls['contextTo'].hasError('fieldsMatch')" class="form-text text-danger">
						Both fields can't have the same value.
					</div>
      </div>
      <div class="col-sm-3">
        <button type="submit" [disabled]="!changeContextForm.valid" class="btn btn-outline-secondary col-4 float-end">
          Change
        </button>
      </div>
    </div>
  </form>

</div>