<div class="row align-items-center top_nav_pos bg-body">
  <div class="col-sm-6 ps-0 d-flex justify-content-between">
  </div>
</div>

<div class="row">
  <div class="col-sm-5 d-flex justify-content-between py-4">
    <h4>Log</h4>
  </div>

  <div class="offset-sm-5 col-2 d-flex justify-content-between p-4 ">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshLogs()">
    </ngb-pagination>

    <!--select class="form-select w-auto d-none d-lg-block" [(ngModel)]="pageSize" (ngModelChange)="refreshLogs()">
      <option [ngValue]="15">15 logs per page</option>
      <option [ngValue]="30">30 logs per page</option>
      <option [ngValue]="45">45 logs per page</option>
    </select-->
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-sm-12">
    <table class="table table-responsive fs-6 col-12">
      <thead>
        <tr class="border-bottom">
          <th scope="col" class="pe-2">Status</th>
          <th scope="col" class="pe-2">Action</th>
          <th scope="col" class="pe-2">Date</th>
          <th scope="col">Details</th>
        </tr>
      </thead>

      <tbody>
        @for (log of inPage; track log.batchLogHeaderId) {
          <tr class="border-bottom">
            <td>
              {{ log.state | titlecase }}
            </td>
            <td>
              {{ log.method | titlecase }}
            </td>
            <td>
              {{ log.endDate | date: 'short' }}
            </td>
            <td>
              <a [routerLink]="['/batch/logs/', log.batchLogHeaderId]" [state]="{ method: log.method, started: log.startDate }">
                <span class="material-symbols-outlined text-secondary">
                  info
                </span>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="col-lg-2 d-none d-lg-block">

  </div>
</div>