
<div class="input-group">
  <input class="form-control" type="text" [formControl]="form" [ngbTypeahead]="suggest" [resultFormatter]="resultFormatter"
         (selectItem)="suggestSelector($event)" [readonly]="lockIfFilled && selected"
         [placeholder]="'common.autosuggestPlaceholder' | translate"/>

  @if(searching) {

    <button class="btn btn-outline-dark btn-sm" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="visually-hidden">Loading...</span>
    </button>
  }
  @if(lockIfFilled && selected) {
    <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
      <span class="bi bi-x"></span>
    </button>
  }
</div>
