


<ng-template #coneAutosuggestTemplate let-r="result" let-t="term">
  <div class="text-wrap">
    <ngb-highlight [result]="r.value" [term]="t"></ngb-highlight>
  </div>

</ng-template>


<div class="input-group">
  <input class="form-control" type="text" [formControl]="form" [ngbTypeahead]="suggest" [resultFormatter]="resultFormatter"
         (selectItem)="suggestSelector($event)" [readonly]="lockIfFilled && selected"
         [placeholder]="'common.autosuggestPlaceholder' | translate" container="body"/>

  @if(searching) {

    <button class="btn btn-outline-dark btn-sm" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="visually-hidden">Loading...</span>
    </button>
  }
  @if(lockIfFilled && selected) {
    <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
      <span class="bi bi-x"></span>
    </button>
  }
</div>
