<div id="disclaimer" class="mt-5 mb-5" style="text-align: justify; hyphens: auto;">

    <h2>Impressum / Diensteanbieterkennzeichnung</h2>
    <hr>
    <p>
        Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur
        Diensteanbieterkennzeichnung, zu den datenschutzrechtlichen Informationspflichten sowie weitere 
        wichtige rechtliche Hinweise zur Internetpräsenz des MPG Publication Repositories MPG.PuRe
        <a href="https://pure.mpg.de" class="link-info">(https://pure.mpg.de)</a>.
    </p>

    <h3 class="mt-4">Anbieter</h3>
    <hr>
    <p>Anbieter dieser Internetpräsenz ist im Rechtssinne die Max-Planck-Gesellschaft zur Förderung der Wissenschaften
        e.V.
    </p>

    <h3 class="mt-4">Adresse</h3>
    <hr>
    <p>
        Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.<br />
        Hofgartenstraße 8<br />
        80539 München<br />
        Telefon: +49 (89) 2108 - 0<br />
        Internet: <a href="https://www.mpg.de" class="link-info">https://www.mpg.de</a><br />
    </p>

    <h3 class="mt-4">Vereinsregister</h3>
    <hr>
    <p>
        Die Max-Planck-Gesellschaft ist im Vereinsregister des Amtsgerichts Berlin-Charlottenburg unter der
        Registernummer VR 13378 B eingetragen.
    </p>

    <h3 class="mt-4">Vertreter</h3>
    <hr>
    <p>
        Die Max-Planck-Gesellschaft wird gesetzlich vertreten durch den Vereinsvorstand, und dieser wiederum durch den
        Präsidenten, Prof. Dr. Patrick Cramer und die Generalsekretärin, Dr. Simone Schwanitz.
    </p>

    <h3 class="mt-4">Umsatzsteueridentifikationsnummer</h3>
    <hr>
    <p>Die Umsatzsteueridentifikationsnummer der Max-Planck-Gesellschaft lautet: DE 129517720</p>

    <h3 class="mt-4">Redaktionsverantwortlicher</h3>
    <hr>
    <p>
        Redaktionsverantwortlicher für die Internetpräsenz des MPG Publication Repositories MPG.PuRe
        (<a href="https://pure.mpg.de" class="link-info">https://pure.mpg.de</a>) im Sinne des Presserechts:<br />
        Martin Boosen<br />
        Max Planck Digital Library<br />
        Landsberger Straße 346<br />
        80687 München <br />
        Email <a href="mailto:boosen&#64;mpdl.mpg.de" class="link-info">boosen[at]mpdl.mpg.de</a><br />
    </p>

    <h3 class="mt-4">Rechtliche Hinweise zur Organisationsform</h3>
    <hr>
    <p>
        Die Max-Planck-Gesellschaft ist eine gemeinnützige Forschungseinrichtung, die in der Rechtsform eines
        eingetragenen Vereins organisiert ist. Die Institute und Einrichtungen der Max-Planck-Gesellschaft sind
        organisatorisch weitgehend selbständig und haben in der Regel keine eigene Rechtspersönlichkeit.
    </p>

    <h3 class="mt-4">Fremdsprachige Seiten</h3>
    <hr>
    <p>
        Soweit Teile des Internetauftritts auch in anderen Sprachen als deutsch angeboten werden, ist dies
        ausschließlich ein Service für Mitarbeiter und Gäste der Max-Planck-Gesellschaft, die der deutschen Sprache
        nicht mächtig sind.
    </p>

    <h3 class="mt-4">Rechtliche Hinweise zur Haftung für eigene Inhalte</h3>
    <hr>
    <p>
        Die Max-Planck-Gesellschaft ist als Dienstanbieterin nach § 7 Abs. 1 Digitale-Dienste-Gesetz für die eigenen
        Inhalte, die sie zur Nutzung bereithält, nach den allgemeinen Gesetzen verantwortlich. Die Max-Planck-Gesellschaft 
        ist um Richtigkeit und Aktualität der auf dieser Internetpräsenz bereitgestellten Informationen bemüht. Trotzdem 
        können Fehler und Unklarheiten nicht vollständig ausgeschlossen werden. Die Max-Planck-Gesellschaft übernimmt 
        deshalb keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
        Für Schäden materieller oder immaterieller Art, die durch die Nutzung oder Nichtnutzung der dargebotenen
        Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen unmittelbar oder mittelbar
        verursacht werden, haftet die Max-Planck-Gesellschaft nicht, sofern ihr nicht nachweislich vorsätzliches oder grob
        fahrlässiges Verschulden zur Last fällt. Gleiches gilt für kostenlos zum Download bereitgehaltene Software. Die
        Max-Planck-Gesellschaft behält es sich vor, Teile des Internetangebots oder das gesamte Angebot ohne gesonderte
        Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>

    <h3 class="mt-4">Rechtliche Hinweise zu Verknüpfungen auf externe Seiten</h3>
    <hr>
    <p>
        Auf dieser Internetpräsenz befinden sich Verknüpfungen zu externen Seiten. Für die Inhalte der verlinkten
        externen Seiten ist stets der jeweilige Anbieter verantwortlich. Die Max-Planck-Gesellschaft hat bei der
        erstmaligen Verknüpfung den fremden Inhalt daraufhin überprüft, ob durch ihn eine mögliche zivilrechtliche 
        oder strafrechtliche Verantwortlichkeit ausgelöst wird. Eine permanente inhaltliche Kontrolle der verknüpften
        externen Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Wenn die 
        Max-Planck-Gesellschaft feststellt oder von anderen darauf hingewiesen wird, dass ein externes Angebot, auf das 
        sie per Link verknüpft hat, eine zivil- oder strafrechtliche Verantwortlichkeit auslöst, wird sie den Link auf 
        dieses Angebot unverzüglich aufheben. Die Max-Planck-Gesellschaft distanziert sich ausdrücklich von derartigen Inhalten.
    </p>

    <h3 class="mt-4">Rechtliche Hinweise zum Urheberrecht</h3>
    <hr>
    <p>
        Das Layout der Homepage, die verwendeten Grafiken sowie die sonstigen Inhalte der Internetpräsenz der
        Max-Planck-Gesellschaft sind urheberrechtlich geschützt.
    </p>
    <p>
        © Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V., München. Alle Rechte vorbehalten.
    </p>
</div>