<div class="container-fluid d-flex flex-column px-0 py-2" style="min-height: 200px;"
     [ngClass]="{'border-bottom': !last_item}">
  <!-- Badges -->
  <div class="row mt-1 mb-3">
    <div class="col">
      <span class="form-check float-start">
          <input [formControl]="check_box" class="form-check-input" type="checkbox" value=""
                 id="form_check1" chan>
      </span>

      <pure-item-badges [item] = "item" [showVersion]="true" [showPublicStatusIcon]="true"/>

    </div>
  </div>

  <!-- Title -->
  <div class="row my-0">
    <div class="col">
      <!--
      <a class="nav-link d-none d-lg-block" routerLink="/edit/{{item?.objectId}}" ngbTooltip="{{item?.metadata?.title}}">
        <h4 class="text-truncate" style="font-weight: bold; font-size: 1.4rem" [innerHTML]="item?.metadata?.title | sanitizeHtml"
          ></h4>
      </a>
      <a class="nav-link d-lg-none d-block" routerLink="/edit/{{item?.objectId}}" ngbTooltip="{{item?.metadata?.title}}">
        <h4 class="" style="font-weight: bold; font-size: 1.4rem" [innerHTML]="item?.metadata?.title | sanitizeHtml"
        ></h4>
      </a>
      -->
      <a class="nav-link" routerLink="/view/{{item?.objectId + '_' + item?.versionNumber}}">
        <h3 class="" style="font-weight: normal; font-size: 1.4rem;" [innerHTML]="item?.metadata?.title | sanitizeHtml" data-test="item-title"
        ></h3>
      </a>

    </div>
  </div>

  <div class="row my-0">
    <div class="col-sm-9">
      <div class="d-inline-flex">
        @for (author of first_three_authors; track author; let i = $index) {
          <div class="me-3">

            {{ (author?.person?.familyName || no_name) + ', ' + (author?.person?.givenName || no_name) }}

            @if (author?.person?.orcid) {
              <sup>
                <a [href]="author?.person?.orcid" target="_blank">
                  <img alt="ORCID logo"
                       src="assets/images/ORCID-iD_icon_vector.svg"
                       width="16" height="16"/>
                </a>
              </sup>
            }
          </div>
        }
        @if (creators_length && creators_length > 3) {
          <div class="">
            <i>{{ (creators_length - 3) }} {{'ItemList.moreCreators' | translate }}...</i>
          </div>
        }
      </div>
      @if (sourceCitation) {
        <div class="row my-3">
          <div class="col">
            {{ 'ItemList.publishedIn' | translate }}: {{ sourceCitation }}
          </div>
        </div>
      }
    </div>

    <div class="col-sm-3">

      @if(files.length > 0) {
      <div class="d-flex flex-sm-row align-items-start mt-2 font-weight">
        <i>{{files.length}} {{ 'ItemList.files' | translate }}</i>
      </div>

      @for (file of publicFiles.slice(0,2); track file) {
        <div class="d-flex flex-sm-row align-items-start" [ngbTooltip]="file.metadata.title">
            <i class="bi-file-earmark-text"></i>
          <a class="btn btn-sm" href="{{ingeUri + file.content}}" target="_blank"
             style="overflow-wrap: break-word;"> {{'ContentCategories.' + file.metadata.contentCategory | translate}}</a>
        </div>
      }
        @if(files.length > 2 || (publicFiles.length < files.length)) {
          <i><small><a class="nav-link" routerLink="/view/{{item?.objectId + '_' + item?.versionNumber}}">{{ 'ItemList.showAll' | translate }}...</a></small></i>
        }
      }

      @if(locators.length > 0) {
        <div class="d-flex flex-sm-row align-items-start  mt-3">
          <i>{{locators.length}} {{ 'ItemList.links' | translate }}</i>
        </div>
      @for (file of locators.slice(0,2); track file) {
        <div class="d-flex flex-sm-row align-items-start" [ngbTooltip]="file.metadata.title">
            <i class="bi-link"></i>
          <a class="btn btn-sm" href="{{file.content}}" target="_blank"
             style="overflow-wrap: break-word;"> {{'ContentCategories.' + file.metadata.contentCategory | translate}}</a>
        </div>

      }
        @if(locators.length > 2) {
          <i><small><a class="nav-link" routerLink="/view/{{item?.objectId + '_' + item?.versionNumber}}">{{ 'ItemList.showAll' | translate }}...</a></small></i>
        }
      }

  </div>

    <!-- Preparation for highlighting fulltexts
    @if(highlightHits.length>0) {
      <b>Hits in files:</b>
      <div class="small">
          @for(hlh of (highlightHits); track $index) {
            <div class="mb-2">
            File: <a href="{{hlh.file.content}}" target="_blank">{{hlh.file.name}}</a>
            @for(hl of hlh.highlights; track $index) {
              <p class="m-1" [innerHTML]="hl"></p>
            }
            </div>
          }
      </div>
    }
    -->

  <div class="row flex-grow-1 align-content-end">
    <div class="d-inline-flex">

      <!--
      <ng-template #exportPopOver>
        <pure-export-items [item]="item"/>
      </ng-template>
      <button class="btn" [ngbPopover]="exportPopOver" [autoClose]="false"><i class="bi bi-quote"></i></button>
      -->

      @if(abstract) {
      <a class="btn btn-sm" tabindex="0"
          ngbTooltip="Abstract" [ngbPopover]="abstract" [popoverTitle]="item?.metadata?.title" popoverClass="custom-popover"
         ><i class="bi bi-card-text"></i></a>
      }
    </div>

  </div>

</div>
</div>
