
<nav>

  <div class="mpdl-pagination">
    @if(totalNumberOfPages > 0) {
    <button type="button" class="btn btn-sm border border-0" (click)="first()"
            [disabled]="isFirst">
                <span class="material-symbols-outlined">
                    first_page
                </span>
    </button>
    <button type="button" class="btn btn-sm border border-0" (click)="prev()"
            [disabled]="isFirst">
                <span class="material-symbols-outlined">
                    navigate_before
                </span>
    </button>
    <span i18n="@@pagination.page">Page</span>
    <input type="text" class="form-control mx-2" [formControl]="pageNumberField"
           (keyup.enter)="jumpToPage()">
    <span i18n="@@pagination.of">of</span><span> {{totalNumberOfPages}}</span>
    <button type="button" class="btn btn-sm border border-0" (click)="next()"
            [disabled]="isLast">
                <span class="material-symbols-outlined">
                    navigate_next
                </span>
    </button>
    <button type="button" class="btn btn-sm border border-0" (click)="last()"
            [disabled]="isLast">
                <span class="material-symbols-outlined">
                    last_page
                </span>
    </button>
    }
    <select class="form-select" [formControl]="sizeField"
            (change)="itemPerPageChange($event)" size="1">
      @for (pages of itemPerPageOptions; track pages) {
        <option [value]="pages.value">{{pages.label}}</option>
      }
    </select>
  </div>
</nav>