<div [formGroup]="publishing_info_form" class="d-sm-flex flex-sm-row gap-1 mb-1">
    <div class="col-sm">
        <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
            <div class="col-sm">
                <label class="col-form-label">Publisher</label>
                <input type="text" class="form-control" formControlName="publisher">
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
            <div class="col-sm-4">
                <label class="col-form-label">Place</label>
                <input type="text" class="form-control" formControlName="place">
            </div>
            <div class="col-sm-4">
                <label class="col-form-label">Edition</label>
                <input type="text" class="form-control" formControlName="edition">
            </div>
        </div>
    </div>
    <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
    </div>
</div>