<!--
    <div class="d-none d-lg-block">hide on screens smaller than lg</div>
    see: https://getbootstrap.com/docs/5.3/utilities/display/

    alternative: use navbar-expand-lg (requires navbar-toggler and collapse navbar-collapse d-lg-flex)
-->
@if (!mobile) {
<nav id="sidenav" #sidenav class="navbar bg-body side_nav" (mouseenter)="expand()" (mouseleave)="collapse()">
  <div class="container-fluid px-0">

    <div class="collapse navbar-collapse d-xxl-flex" id="side_nav">
      <nav class="nav flex-column ps-4 py-2">
        <ng-container *ngTemplateOutlet="options"></ng-container>
      </nav>
    </div>

  </div>
</nav>
} @else {
<nav id="sidenav" #sidenav class="navbar side_nav_mobile" (click)="expand()">
  <div class="container-fluid">
    
    <button class="navbar-toggler d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#side_nav_mobile"
      aria-controls="side_nav_mobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="side_nav_mobile">
      <nav class="nav flex-column ps-0 py-2">
        <ng-container *ngTemplateOutlet="options"></ng-container>
      </nav>
    </div>

  </div>
</nav>
}

<ng-template #options>

  @if (aaService.principal.getValue().isDepositor) {
  <a class="nav-link border-bottom py-3" [routerLink]="['edit']" (click)="collapse()" data-test="sidenav-entry">
    <span class="material-symbols-outlined">note_add</span>
    <span class="nav-label ms-3">{{'common.addItem'| translate }}</span>
  </a>

  <a class="nav-link border-bottom py-3" [routerLink]="['my']" (click)="collapse()" data-test="sidenav-my-datasets">
    <span class="material-symbols-outlined">folder_shared</span>
    <span class="nav-label ms-3">{{'common.my'| translate }}</span>
  </a>
  }

  @if (aaService.principal.getValue().isModerator) {
  <a class="nav-link border-bottom py-3" [routerLink]="['qa']" (click)="collapse()" data-test="sidenav-qa-area">
    <span class="material-symbols-outlined">workspace_premium</span>
    <span class="nav-label ms-3">{{'common.qa'| translate }}</span>
  </a>
  }

  @if (aaService.principal.getValue().isDepositor || aaService.principal.getValue().isModerator) {
  <div class="border-bottom show-more">
    <a class="nav-link py-3" [routerLink]="['imports']" [ngClass]="{'disabled' : importsSvc.hasImports()}"
      (click)="collapse()" data-test="sidenav-import">
      <span class="material-symbols-outlined">get_app</span>
      <span class="nav-label ms-3">{{'imports.name'| translate }}</span>
    </a>
    @if ( importsSvc.hasImports() ) {
    @defer {
      <pure-imports-nav class="more-to-show"></pure-imports-nav>
      }
    }
  </div>
  }

  @if (aaService.principal.getValue().isDepositor || aaService.principal.getValue().isModerator) {
  <div class="border-bottom show-more">
    <a class="nav-link py-3" [routerLink]="['batch']" [ngClass]="{'disabled pb-2' : batchSvc.areItemsSelected()}"
      (click)="collapse()" data-test="sidenav-batch">
      <span class="material-symbols-outlined">web_stories</span>
      <span class="nav-label ms-3">{{'batch.name'| translate }}</span>
      @if ( batchSvc.areItemsSelected() ) {
      <div class="matBadge" matBadge='{{ batchSvc.getItemsCount() }}' data-test="batch-badge"></div>
      }
    </a>
    @if ( batchSvc.areItemsSelected() ) {
    @defer {
      <pure-batch-nav class="more-to-show"></pure-batch-nav>
      }
    }
  </div>
  }

  <a class="nav-link border-bottom py-3" [routerLink]="['cart']" (click)="collapse()" data-test="sidenav-basket">
    <svg fill="currentColor" height="24px" width="24px">
      <use href="assets/icons/icons.svg#cart"></use>
    </svg>
    @if(cartService.objectIds.length > 0) {
    <div class="matBadge" matBadge='{{ cartService.objectIds.length }}'></div>
    }
    <span class="nav-label ms-3">{{'common.basket'| translate }}</span>
  </a>

  <a class="nav-link border-bottom py-3" [routerLink]="['ou_tree']" (click)="collapse()"
    data-test="sidenav-organizational-units">
    <span class="material-symbols-outlined">account_tree</span>
    <span class="nav-label ms-3">{{'common.ouTree'| translate }}</span>
  </a>
  <a class="nav-link py-3" [routerLink]="['']" (click)="collapse()" data-test="sidenav-place">
    <span class="material-symbols-outlined">place</span>
  </a>
</ng-template>