<div class="imports">
    <div class="border-bottom nav-toggler pb-2">
        <a class="nav-link pt-2 pt-xl-3" (click)="showMore()" data-test="sidenav-import">
            <span class="material-symbols-outlined">get_app</span>
            <span class="nav-label ms-3">{{'imports.name'| translate }}
                @if (!isMoreShown) {
                <span class="material-symbols-outlined">arrow_drop_down</span>
                } @else {
                <span class="material-symbols-outlined">arrow_drop_up</span>
                }
            </span>
        </a>

        <ul [ngClass]="isMoreShown ? 'd-block' : 'd-none'" id="imports-options">
            <li class="pt-0 pb-0 mx-0">
                <a class="nav-link nav-label" [routerLink]="[ '/imports/new' ]"
                (click)="whenReady('/imports/new')" data-test="sidenav-import-new">
                    <span> {{'common.new' | translate}}</span>
                </a>
            </li>
            <li class="pt-0 pb-0">
                <a class="nav-link nav-label" [routerLink]="[ '/imports/myimports' ]"
                    (click)="whenReady('/imports/myimports')"
                    [ngClass]="{'disabled' : !importsSvc.hasImports()}" data-test="sidenav-import-myimports">
                    <span> {{'common.myimports' | translate}}</span>
                </a>
            </li>
        </ul>

    </div>
</div>
