// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    // text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-control {
  padding: 0.25rem 0.5rem;
}

.form-select {
  padding: 0.25rem 2.25rem 0.25rem 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 500, 'GRAD' 0, 'opsz' 48;
  vertical-align: middle;
  /*line-height: 0 !important;*/
  position: relative;
  top: -1px;
}

button > .material-symbols-outlined {
  top: 0px;
}


