// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
/* Merriweather */
@font-face {
    font-family: 'Merriweather700';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather600';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather500';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather300';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Merriweather/Merriweather-Light.ttf');
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto/Roboto-Light.ttf');
}

/*
Material Icons
We are using a subset of material icons which can be created via GOOGLE API, because the complete set is > 3MB.
You can use the script "update-material-icons.ts" in the root folder to add icons and create a new font file.
*/

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/material-icons/material_icons_subset.woff') format('woff');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
