// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
/* Merriweather */
@font-face {
    font-family: 'Merriweather700';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather600';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather500';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather300';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Merriweather/Merriweather-Light.ttf');
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto/Roboto-Light.ttf');
}
