<form [formGroup]="changeKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.from' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsFrom" [ngClass]="{'border border-danger': changeKeywordsForm.get('keywordsFrom')?.pending}">
    </div>
  </div>
  <div class="mb-2 row">
    <div class="offset-sm-3 col-sm-6">
      @if(valSvc.notValidField(changeKeywordsForm.controls['keywordsFrom'])) {
      <span class="form-text text-danger small">
        {{ valSvc.getErrorMsg(changeKeywordsForm.controls['keywordsFrom']) }}
      </span>
      } @else {
      <span>&nbsp;</span>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.to' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsTo" [ngClass]="{'border border-danger': changeKeywordsForm.get('keywordsTo')?.pending}">
    </div>
  </div>
  <div class="mb-2 row">
    <div class="offset-sm-3 col-sm-6">
      @if(valSvc.notValidField(changeKeywordsForm.controls['keywordsTo'])) {
      <span class="form-text text-danger small">
        {{ valSvc.getErrorMsg(changeKeywordsForm.controls['keywordsTo']) }}
      </span>
      } @else if(changeKeywordsForm.hasError('notEquals')) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.publication.keywordsReplace.invalid' | translate }} {{ valSvc.getErrorMsg(changeKeywordsForm) }}
        </span>
      } @else {
      <span>&nbsp;</span>
      }
    </div>
  </div>

  <div class="row">
    <div (click)="checkIfAllRequired()">
      <button type="submit" [disabled]="!changeKeywordsForm.valid" 
        class="btn btn-outline-primary float-end">
        GO
      </button>
    </div>
  </div>
</form>