<form [formGroup]="changeKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="mb-3 row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.from' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsFrom">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.to' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsTo">
    </div>
  </div>
  <div class="mb-2 row">
    <div class="offset-sm-3 col-sm-6">
      @if(valSvc.notValidField(changeKeywordsForm.controls['keywordsTo'])) {
      <span class="form-text text-danger small">
        {{ 'batch.actions.metadata.publication.keywordsReplace.invalid' | translate }} {{ valSvc.getFieldError(changeKeywordsForm.controls['keywordsTo']) }}
      </span>
      } @else {
      <span>&nbsp;</span>
      }
    </div>
  </div>

  <div class="row">
    <div>
      <button type="submit" [disabled]="changeKeywordsForm.invalid || changeKeywordsForm.pristine" 
        class="btn btn-outline-primary float-end">
        GO
      </button>
    </div>
  </div>
</form>