<form [formGroup]="changeKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.from' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsFrom"
        [class.is-invalid]="changeKeywordsForm.get('keywordsFrom')?.invalid && changeKeywordsForm.get('keywordsFrom')?.touched || changeKeywordsForm.get('keywordsFrom')?.pending"> 
    </div>
  </div>
  <div class="mb-2 row validation-error">
    <div class="offset-sm-3 col-sm-6">
      <pure-validation-error [control]="changeKeywordsForm.get('keywordsFrom')"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="col-form-label">
        {{ 'batch.actions.metadata.publication.keywordsReplace.to' | translate }}
      </label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywordsTo" 
        [class.is-invalid]="changeKeywordsForm.get('keywordsTo')?.invalid && changeKeywordsForm.get('keywordsTo')?.touched || changeKeywordsForm.get('keywordsTo')?.pending"> 
    </div>
  </div>
  <div class="mb-2 row validation-error">
    <div class="offset-sm-3 col-sm-6">
      <pure-validation-error [control]="changeKeywordsForm.get('keywordsTo')"/>
      <pure-validation-error [control]="changeKeywordsForm"/>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
      <button type="submit" [disabled]="!changeKeywordsForm.valid" 
        class="btn btn-outline-primary float-end">
        GO
      </button>
    </div>
  </div>
</form>