@if (genreSpecificResource.hasValue()) {
<div [formGroup]="file_form" [ngClass]="{'d-none' : !genreSpecificResource.value().properties.files.display}">

    <div class="custom-drag-placeholder" *cdkDragPlaceholder></div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1" cdkDragHandle>
        <div class="py-1">
            <span class="material-symbols-outlined containerShowOnSort">
                drag_indicator
            </span>
        </div>
        @if(file_form.get('storage')?.value == 'INTERNAL_MANAGED') {
        <label for="file" class="col-sm col-form-label fw-semibold">{{index + 1}}. {{ 'common.file' | translate }} -
            {{file_form.get('name')?.value}}</label>
        } @else if (file_form.get('storage')?.value == 'EXTERNAL_URL') {
        <label for="file" class="col-sm col-form-label fw-semibold">{{index + 1}}. {{ 'common.link' | translate }}
            {{file_form.get('metadata')?.get('title')?.value}}</label>
        }
      <!-- MAYBE
        @if(file_form.errors?.[error_types.COMPONENT_CONTENT_NOT_PROVIDED]) {
        <div class="pure-invalid">Content is required</div>
        }
        -->
    </div>
    <div class="containerHideOnSort"><!-- #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed"> -->
        <ng-container formGroupName="metadata">
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm">

                    <label for="contentCategory" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.contentCategory' | translate }}</label>
                    <select id="contentCategory" class="form-select" formControlName="contentCategory">
                        (change)="contentCategory_change($event)">
                        <option [ngValue]="null" selected>-</option>
                        @for (contentCategoryType of contentCategory_types; track contentCategoryType) {
                        <option [value]="contentCategoryType">{{'ContentCategories.' + contentCategoryType | translate}}</option>
                        }
                    </select>
                  <!--
                    @if(file_form.errors?.[error_types.COMPONENT_CONTENT_CATEGORY_NOT_PROVIDED]) {
                    <div class="pure-invalid">{{ 'validation.required' | translate}}</div>
                    }
                    -->
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm">
                    <label for="file_title" class="col-sm-2 col-form-label">{{ 'MetadataFields.title' | translate }}</label>
                    <input type="text" class="form-control" id="file_title" name="title" formControlName="title">
                    <!--
                  @if (file_form.errors?.[error_types.COMPONENT_FILE_NAME_NOT_PROVIDED]) {
                    <div class="pure-invalid">{{ 'validation.required' | translate}}</div>
                    }
                    @if (metadata.controls.title.errors?.['pattern']) {
                    <div class="pure-invalid">File Title pattern does not allow '/'</div>
                    }
                    -->
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>

        </ng-container>
        @if (file_form.get('storage')?.value == 'EXTERNAL_URL') {
        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
            <div class="col-sm">
                <label for="file_content" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.url' | translate }}</label>
                <input type="text" class="form-control" id="file_content" name="content" formControlName="content">
              <!--
              @if (file_form.errors?.[error_types.COMPONENT_CONTENT_NOT_PROVIDED]) {
                <div class="pure-invalid">{{ 'validation.required' | translate}}</div>
                }
                @if (file_form.errors?.[error_types.LOCATOR_IS_NO_URI]) {
                <div class="pure-invalid">{{ 'validation.invalidUrlFormat' | translate }}</div>
                }
                -->
            </div>
            <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
            </div>
        </div>
        }
        @if(file_form.get('storage')?.value == 'INTERNAL_MANAGED') {
        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
            <div class="col-sm">
                <label for="visibility" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.visibility' | translate }}</label>
                <select id="visibility" class="form-select" formControlName="visibility"
                    (change)="visibility_change($event)">
                    <option [ngValue]="null" selected>-</option>
                    @for (visibility of visibility_types; track visibility) {
                    <option [value]="visibility">{{'Visibility.' + visibility | translate}}</option>
                    }
                </select>
              <!--
                @if (file_form.errors?.[error_types.COMPONENT_VISIBILITY_NOT_PROVIDED]) {
                <div class="pure-invalid">{{ 'validation.required' | translate}}</div>
                }
                -->
            </div>
            <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
            </div>
        </div>

        @if (file_form.get('visibility')?.value == 'AUDIENCE') {

        <ng-container formArrayName="allowedAudienceIds">
          <!--MAYBE
          @if (file_form.errors?.[error_types.COMPONENT_IP_RANGE_NOT_PROVIDED]) {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="pure-invalid">IP-Range is required</div>
            </div>
            }
            -->
            @for (audienceId of allowedAudienceIds.controls; track audienceId; let audienceIdIndex = $index) {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm-2">
                    <label class="col-smcol-form-label">{{audienceIdIndex + 1}}. IP-Range</label>
                </div>
                <div class="col-sm">
                    <select id="audienceId" class="form-select" name="audienceIp[audienceIdIndex]"
                        [formControl]="audienceId">
                        <option [ngValue]="null" selected>-</option>
                        <optgroup label="Most used">
                            @for (ipEntry of ipRangeCompleteList; track ipEntry) {
                            @if (audiencePriorityList.includes(ipEntry.id)) {
                            <option [value]="ipEntry.id">{{ipEntry.name}}</option>
                            }}
                        </optgroup>
                        <optgroup label="Alphabetically sorted">
                            @for (ipEntry of ipRangeCompleteList; track ipEntry) {
                            @if (!audiencePriorityList.includes(ipEntry.id)) {
                            <option [value]="ipEntry.id">{{ipEntry.name}}</option>
                            }}
                        </optgroup>
                    </select>
                </div>
                <div class="col-sm-1">
                    <pure-add-remove-buttons [index]="audienceIdIndex"
                        (notice)="handleAllowedAudienceIdsNotification($event)"></pure-add-remove-buttons>
                </div>
            </div>
            }
            @empty {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm">
                    <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'common.add' | translate"
                        (notice)="handleAllowedAudienceIdsNotification($event)"></pure-add-remove-buttons>
                </div>
            </div>
            }
        </ng-container>
        }}
        <ng-container formGroupName="metadata">
            @if (file_form.get('visibility')?.value == 'PRIVATE' && file_form.get('storage')?.value ==
            'INTERNAL_MANAGED') {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm-2">
                    <label for="file_embargoUntil" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.embargoDate' | translate }}</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="file_embargoUntil" name="embargoUntil"
                        formControlName="embargoUntil" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            }
            @if (file_form.get('visibility')?.value == 'PUBLIC' || file_form.get('storage')?.value == 'EXTERNAL_URL') {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm-2">
                    <label for="oaStatus" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.oaStatus' | translate }}</label>
                </div>
                <div class="col-sm">
                    <select id="oaStatus" class="form-select" formControlName="oaStatus">
                        <option [ngValue]="null" selected>-</option>
                        @for (oaStatusType of oaStatus_types; track oaStatusType) {
                            @if(file_form.get('storage')?.value == 'INTERNAL_MANAGED' && oaStatusType !== 'CLOSED_ACCESS') {
                            <option [value]="oaStatusType">{{'OAStatus.' + oaStatusType | translate}}</option>
                            } @else if(file_form.get('storage')?.value == 'EXTERNAL_URL'){
                                <option [value]="oaStatusType">{{'OAStatus.' + oaStatusType | translate}}</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            }
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm">
                    <label for="file_description" class="col-sm-2 col-form-label">{{ 'FileMetadataFields.description' | translate }}</label>
                    <textarea type="text" class="form-control" id="file_description" name="description"
                              formControlName="description"></textarea>
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            @if(file_form.get('storage')?.value == 'INTERNAL_MANAGED') {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">

                <div class="col-sm-2"><!--NEEDED to keep the layout (first collumn for lable)-->
                </div>
                <div class="col-sm">
                    <label for="file_license" class="col-sm col-form-label">{{ 'FileMetadataFields.license' | translate }}</label>
                    <input type="text" class="form-control" id="file_license" name="license" formControlName="license">
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="col-sm-2">
                    <label class="col-sm-2 col-form-label">{{ 'FileMetadataFields.copyright' | translate }}</label>
                </div>
                <div class="col-sm">
                    <label for="file_rights" class="col-sm col-form-label">{{ 'FileMetadataFields.copyright' | translate }}</label>
                    <input type="text" class="form-control" id="file_rights" name="rights" formControlName="rights">
                </div>
                <div class="col-sm">
                    <label for="file_copyrightDate" class="col-sm col-form-label">{{ 'FileMetadataFields.copyrightDate' | translate }}</label>
                    <input type="text" class="form-control" id="file_copyrightDate" name="copyrightDate"
                        formControlName="copyrightDate" placeholder="YYYY-MM-DD">
                    <!--
                  @if (metadata.controls.copyrightDate.errors?.['pattern']) {
                    <div class="pure-invalid">{{ 'validation.invalidDateFormat' | translate }}</div>
                    }
                    -->
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            }
        </ng-container>

        <div class="d-sm-flex flex-sm-row gap-1 mb-1 d-none" [ngClass]="{'d-sm-none': index == index_length -1}">
            <div class="col-sm">

            </div>
            <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
            </div>
        </div>
    </div>
</div>
} @else if (!genreSpecificResource.value()) {
<pure-loading></pure-loading>
}
