<div [formGroup]="project_info_form" class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
    <div class="col-sm">
        <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
            <div class="col-sm">
                <label class="col-sm-2 col-form-label">{{ 'MetadataFields.projectInfoName' | translate }}</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="col-sm-1">
                <pure-add-remove-buttons [index]="index"
                    (notice)="add_remove_projectInfo($event)"></pure-add-remove-buttons>
            </div>
        </div>
        <div formGroupName="grantIdentifier" class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
            <div class="col-sm">
                <label class="col-form-label">{{ 'MetadataFields.projectInfoGrantId' | translate }}</label>
                <input type="text" class="form-control" id="grant_identifier_type" formControlName="type" hidden>
                <input type="text" class="form-control" id="grant_identifier_value" formControlName="id">
            </div>
            <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
            </div>
        </div>
        <ng-container formGroupName="fundingInfo">
            <div formGroupName="fundingProgram" class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm-7">
                    <label class="col-form-label">{{ 'MetadataFields.projectInfoFundingProgram' | translate }}</label>
                  <pure-cone-autosuggest coneType="funding-programs" [form]="$any(fundingProgram.get('title'))" (valueSelected)="fundingProgramConeSelected($event)"/>
                </div>
                <div [formGroup]="fundingProgramIdentifier" class="col-sm">
                    <label class="col-sm col-form-label">{{ 'MetadataFields.projectInfoFundingProgramId' | translate }}</label>
                    <input type="text" class="form-control" id="progam_identifier_type" formControlName="type" hidden>
                    <input type="text" class="form-control" id="progam_identifier_value" formControlName="id" readonly="true">
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
            <div formGroupName="fundingOrganization" class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm-7">
                    <label class="col-form-label">{{ 'MetadataFields.projectInfoFundingOrganization' | translate }}</label>
                  <pure-cone-autosuggest coneType="funding-organizations" [form]="$any(fundingOrganization.get('title'))" (valueSelected)="fundingOrganizationConeSelected($event)" #fundingOrgAutosuggest/>
                </div>
                <div [formGroup]="fundingOrganizationIdentifier" class="col-sm">
                    <label class="col-sm col-form-label">{{ 'MetadataFields.projectInfoFundingOrganizationId' | translate }}</label>
                    <input type="text" class="form-control" id="progam_identifier_type" formControlName="type" hidden >
                    <input type="text" class="form-control" id="progam_identifier_value" formControlName="id"readonly="true">
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
        </ng-container>
    </div>
</div>
