<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h3 class="m-0 mb-4">{{ 'imports.fetch' | translate }}</h3>

  <form [formGroup]="fetchForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <label for="context" class="col-sm-3 col-form-label">{{ 'imports.context' | translate }}</label>
      <div class="col-sm-9">
        <select id="context" class="form-select" formControlName="contextId"
          [class.is-invalid]="fetchForm.get('contextId')?.invalid && fetchForm.get('contextId')?.touched || fetchForm.get('contextId')?.pending" 
          data-test="fetch-context">
          <option [value]="null" selected disable hidden>{{ 'imports.context' | translate }}</option>
          @for (contextObject of user_contexts; track contextObject) {
          <option [value]="contextObject.objectId">{{contextObject.name}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error" >
      <div class="offset-sm-3 col-sm-6">
       <pure-validation-error [control]="fetchForm.get('contextId')"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'imports.fetch.source' | translate }}</label>
      </div>
      <div class="col-sm-2">
        <select class="form-select" formControlName="source">
          <option value="crossref" selected>Crossref-DOI</option>
          <option value="arxiv">arXiv-ID</option>
        </select>
      </div>
      <div class="col-sm-7">
        <input id="identifier" class="form-control" formControlName="identifier" placeholder="{{ dinamicPlaceholder }}" 
          [class.is-invalid]="fetchForm.get('identifier')?.invalid && fetchForm.get('identifier')?.touched || fetchForm.get('identifier')?.pending">
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-5 col-sm-6">
        <pure-validation-error [control]="fetchForm.get('identifier')"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button id="go" type="submit" [disabled]="!fetchForm.valid" class="btn btn-outline-primary float-end"
          data-test="fetch-button">
          GO
        </button>
      </div>
    </div>
  </form>

</div>