<div class="row">
<div class="col-9">

  <span class="badge bg-primary me-2">{{'MdsPublicationGenre.' + item?.metadata?.genre | translate}}</span>
  @if (publicationState) {
    <span class="badge bg-success me-2">{{'PublicationState.' + publicationState | translate}}: {{publicationStateDate | dateToYear}}</span>
  }
  @if (doi) {
    <a class="badge bg-warning me-2" href="https://doi.org/{{doi}}" target="_blank">DOI: {{doi}}</a>
  }
</div>
<div class="col-3">

  <div class="float-end">
    @if(showVersion) {
    <span class="badge bg-dark me-2">v{{item?.versionNumber}}</span>
    }
    @if(aaService.principal.value.loggedIn || state==='WITHDRAWN') {
  <span class="badge {{state==='WITHDRAWN' ? 'badge-red' : 'bg-dark' }} me-2">{{'ItemState.' + state | translate}}</span>
    }
</div>

</div>
</div>

