<!--
    <div class="d-none d-lg-block">hide on screens smaller than lg</div>
    see: https://getbootstrap.com/docs/5.3/utilities/display/

    alternative: use navbar-expand-lg (requires navbar-toggler and collapse navbar-collapse d-lg-flex)
-->
@if (!mobile) {
<nav id="sidenav" #sidenav class="navbar bg-body side_nav" (mouseenter)="expand()" (mouseleave)="collapse()">
  <div class="container px-0">

    <div class="collapse navbar-collapse d-flex" id="side_nav">
      <nav class="nav flex-column ps-4 py-2">
        <ng-container *ngTemplateOutlet="options"></ng-container>
      </nav>
    </div>

  </div>
</nav>
} @else {
<div class="side_nav_mobile" #sidenav (mouseenter)="expand()">
  <div class="container-fluid">

    <nav class="d-flex flex-column align-items-end mt-3 me-3">
      <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#side_nav_mobile_options" aria-controls="side_nav_mobile_options" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div id="side_nav_mobile_options" class="collapse">
      <div class="d-flex flex-column py-4 px-4 border-bottom border-white border-4">

        <pure-aa class="d-flex justify-content-end mb-2 d-sm-none"></pure-aa>

        <div class="row d-flex justify-content-sm-between">
          <div class="col-12 col-sm-7 d-sm-flex align-items-sm-center">
            <pure-search></pure-search>
          </div>

          <pure-toolsnav class="col-sm-2 d-sm-flex mt-1"></pure-toolsnav>

          <pure-aa class="col-sm-3 d-none d-sm-flex mt-1"></pure-aa>
        </div>

        <div class="my-3 border-top border-bottom border-light-subtle">
          <ng-container *ngTemplateOutlet="options"></ng-container>
        </div>

        <div class="d-flex justify-content-evenly mb-3">
          <a ngbTooltip="{{ 'common.help' | translate }}" placement="bottom-left" [routerLink]="['/help']"
            class="nav-link" (click)="collapse()">
            <span class="material-symbols-outlined">help</span>
          </a>

          <div>
            <a role="button" [ngbPopover]="ipInfo" class="nav-link"
              [ngbTooltip]="aaService.principal.value.matchedIpName ? 'On Campus' : 'Off Campus'">
              <span class="material-symbols-outlined">{{aaService.principal.value.matchedIpName ? 'location_on' :
                'location_off'
                }}</span>
            </a>
            <ng-template #ipInfo>
              @if(aaService.principal.value.matchedIpName) {
              <span class="fw-bold text-success">{{aaService.principal.value.matchedIpName}}</span>
              }
              @else {
              <span class="text-warning">IP is not affiliated to MPG</span>
              }
              <p class="small">IP: {{aaService.principal.value.ipAddress}}</p>
            </ng-template>
          </div>

          <pure-lang-switch class="d-flex justify-content-center"></pure-lang-switch>
        </div>
      </div>
    </div>

  </div>
</div>

}

<ng-template #options>

  @if (aaService.principal.getValue().isDepositor) {
  <a class="nav-link border-bottom py-2 py-xl-3" [routerLink]="['edit']" (click)="collapse()" data-test="sidenav-entry">
    <span class="material-symbols-outlined">note_add</span>
    <span class="nav-label ms-3">{{'common.addItem'| translate }}</span>
  </a>

  <a class="nav-link border-bottom py-2 py-xl-3" [routerLink]="['my']" (click)="collapse()"
    data-test="sidenav-my-datasets">
    <span class="material-symbols-outlined">folder_shared</span>
    <span class="nav-label ms-3">{{'common.my'| translate }}</span>
  </a>
  }

  @if (aaService.principal.getValue().isModerator) {
  <a class="nav-link border-bottom py-2 py-xl-3" [routerLink]="['qa']" (click)="collapse()" data-test="sidenav-qa-area">
    <span class="material-symbols-outlined">workspace_premium</span>
    <span class="nav-label ms-3">{{'common.qa'| translate }}</span>
  </a>
  }

  @if (aaService.principal.getValue().isDepositor || aaService.principal.getValue().isModerator) {
  <pure-imports-nav></pure-imports-nav>
  }

  @if (aaService.principal.getValue().isModerator) {
  <pure-batch-nav></pure-batch-nav>
  }

  <a class="nav-link border-bottom py-2 py-xl-3" [routerLink]="['cart']" (click)="collapse()"
    data-test="sidenav-basket">
    <svg fill="currentColor" height="24px" width="24px">
      <use href="assets/icons/icons.svg#cart"></use>
    </svg>
    <span class="nav-label ms-3 text-nowrap">{{'common.basket'| translate }}</span>
    @if(cartService.objectIds.length > 0) {
    <div class="matBadge" matBadge='{{ cartService.objectIds.length }}'></div>
    }
  </a>

  <a class="nav-link py-2 py-xl-3" [routerLink]="['ou_tree']" (click)="collapse()"
    data-test="sidenav-organizational-units">
    <span class="material-symbols-outlined">account_tree</span>
    <span class="nav-label ms-3 text-nowrap">{{'common.ouTree'| translate }}</span>
  </a>

</ng-template>