@if(log) {

<tr class="bg-light border-bottom border-white d-flex py-3">
    @if (log.state === state.RUNNING) {

        <td class="col-2 px-1">
            <span>{{ batchSvc.getProcessLog().state | titlecase }}</span>

            @if (log.batchLogHeaderId === batchSvc.getProcessLog().batchLogHeaderId) {
                @if (batchSvc.isProcessRunning()) {
                    <span>
                        {{ batchSvc.getProcessLog().percentageOfProcessedItems -
                            calculateProcessedStep(batchSvc.getProcessLog().numberOfItems) }}&percnt;
                    </span>
                }
            } @else {

                <span class="material-symbols-outlined pe-1" title="Something gone wrong!">
                    error
                </span>

            }
        </td>

    } @else {

        <td class="col-2 px-1 d-flex justify-content-between">
            <span>{{ getProcessLogHeaderStateTranslation(log.state) }}</span>
            @if (log.state === state.FINISHED) {
                <span class="material-symbols-outlined text-success pe-1">check_circle</span>
            } @else {
                <span class="material-symbols-outlined text-danger pe-1">cancel</span>
            }
        </td>

    }
    
    <td class="col-6">
        <span>{{ getProcessMethodTranslation(log.method) }}</span>
    </td>

    <td class="col-3 d-flex justify-content-between">
        <span>{{ log.endDate | date:'mediumDate' }}</span>
        <div class="pe-3">
            <span class="material-symbols-outlined text-secondary">schedule</span>&nbsp;
            <span>{{ log.endDate | date: "HH:mm" }}</span>
        </div>
    </td>

    <td class="d-flex justify-content-center">
        @if (log.state === state.RUNNING
            && log.batchLogHeaderId === batchSvc.getProcessLog().batchLogHeaderId
            && batchSvc.isProcessRunning()) {

            <span class="spinner-border spinner-border-sm text-secondary ms-3" style="cursor: wait" aria-hidden="true"></span>

        } @else {

            <a [routerLink]="['/batch/logs/', log.batchLogHeaderId]">
                <span class="material-symbols-outlined ms-3 my-0 matBadge" style="cursor: pointer" matBadge='{{ log.numberOfItems }}'>
                    list
                </span>
            </a>

        }
    </td>
</tr>

}