<div id="privacy" class="mt-5 mb-5">

    <h2>Data protection information</h2>
    <hr>

    <h3 class="mt-4">At a glance</h3>
    <hr>
    <p>
        The Max Planck Digital Library (MPDL) takes the protection of your personal data very seriously. In doing so, we
        comply with the relevant provisions of data protection laws, in particular the EU General Data Protection
        Regulation (GDPR) and the German Federal Data Protection Act (BDSG).
    </p>
    <p>
        This document is intended to provide you with detailed information about how we use the data collected during
        your visit to our website and to inform you of your options and your rights under data protection law.
    </p>

    <h3 class="mt-4">General information and mandatory disclosures</h3>
    <hr>

    <h4 class="mt-4">Responsible body</h4>
    <hr>
    <p>
        Responsible for the processing of your data is the
    </p>
    <p>
        Max Planck Digital Library (MPDL)<br />
        Landsberger Straße 346<br />
        80687 München
    </p>
    <p>
        Tel.: +49 89 909 311-0<br />
        E-Mail: <a href="mailto:contact&#64;mpdl.mpg.de" class="link-info">contact&#64;mpdl.mpg.de</a>
    </p>
    <p>
        as an organizational unit of the
    </p>
    <p>
        Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.<br />
        Hofgartenstraße 8<br />
        80539 Munich<br />
        Germany<br />
        Commercial Register No. VR 13378 B<br />
        AG Berlin-Charlottenburg
    </p>

    <h4 class="mt-4">Data Protection Officer</h4>
    <p>
        The Data Protection Officer of the Max Planck Society for the Advancement of Science can be contacted by email
        at <a href="mailto:datenschutz&#64;mpg.de" class="link-info">datenschutz&#64;mpg.de</a> oder telefonisch unter +49 89 2108-1554 erreicht werden.
    </p>

    <h3 class="mt-4">Description and scope of data processing</h3>
    <hr>

    <h4 class="mt-4">Provision of the website and log files</h4>
    <hr>
    <p>
        Every time you visit our website, our system, i.e. the web server, automatically collects information from the
        system of your calling computer or end device.
    </p>
    <p>
        We collect the following data:
    </p>
    <ul>
        <li>
            &#x2022; Information about the browser type and version used
        </li>
        <li>
            &#x2022; The operating system of the end device
        </li>
        <li>
            &#x2022; The internet service provider
        </li>
        <li>
            &#x2022; The IP address
        </li>
        <li>
            &#x2022; The date and time of access
        </li>
        <li>
            &#x2022; The previous website from which the user accessed our website (referrer URL)
        </li>
    </ul>

    <h5 class="mt-4">Purpose of data processing</h5>
    <p>
        Our system needs to store your IP address temporarily to enable delivery of the website to your device. To do
        this, the IP address of the end device must remain stored for the duration of the session. The above data is
        stored in so-called log files to ensure the functionality of our website. In addition, this data helps us to
        optimize the website and to ensure the security of our information technology systems (e.g. to detect attacks).
    </p>

    <h5 class="mt-4">Legal basis</h5>
    <p>
        The legal basis for the temporary storage of this data and the log files is Art. 6 Para. 1 Subpara. 1 lit. f
        GDPR (our legitimate interests as the website operator in the secure, smooth and legally compliant provision of
        the website).
    </p>

    <h5 class="mt-4">Storage duration</h5>
    <p>
        The above data is deleted as soon as it is no longer required for the purpose for which it was collected. In the
        case of data collection for the provision of the website, this is the case when the respective session has
        ended.
    </p>
    <p>
        If the data is stored in log files, this is the case after seven days at the latest. It is possible to store the
        data for a longer period. In this case, we will delete or anonymize the user's IP address so that it can no
        longer be assigned to the accessing client and the data contained can no longer be linked to a particular
        person.
    </p>

    <h4 class="mt-4">User accounts</h4>
    <hr>
    <p>
        Setting up a user account involves the storage and processing of personal data, namely surname, first name,
        institute affiliation and e-mail address. The data is used exclusively for the purpose of using the services of
        MPG.PuRe.
    </p>
    <p>
        Employees of the Max Planck Society who are responsible for maintaining the data at their institutes or
        facilities can request the creation of such an account from the Max Planck Digital Library (MPDL) by sending an
        e-mail to <a href="mailto:pure-support&#64;listsrv.mpg.de" class="link-info">pure-support&#64;listsrv.mpg.de</a>.
    </p>

    <h5 class="mt-4">Purpose of processing</h5>
    <p>
        The creation of a user account is mandatory for entering and managing publication data in MPG.PuRe. It is not
        possible to use these functionalities without creating an account and the associated storage of personal data.
    </p>

    <h5 class="mt-4">Legal basis</h5>
    <p>
        The data is stored and processed on the basis of legitimate interest in accordance with Art. 6 (1) f&#41; GDPR.
        Our legitimate interest arises from the above-mentioned purpose for data collection.
    </p>

    <h5 class="mt-4">Storage duration</h5>
    <p>
        The user accounts and the associated personal data will be deleted at your request within one month at the
        latest.
    </p>

    <h5 class="mt-4">Processing many authors in the edit mask using AI</h5>
    <p>
        In the edit mask, it is possible to enter many authors in one field using copy&paste (e.g. from the respective
        PDF or from a website). This data is then separated by name and first name using artificial intelligence and
        entered into the input mask in a structured manner.
    </p>
    <p>
        For this purpose, the entered data is automatically forwarded via an interface to the chat service “Chat AI” of
        the AI Service Center for Sensitive and Critical Infrastructures (KISSKI) (https://kisski.gwdg.de/) of the
        Gesellschaft für wissenschaftliche Datenverarbeitung mbH Göttingen (GWDG).</p>
    <p>
        The Large Language Model (LLM) “Llama” is used, which is hosted by the GWDG and therefore no contents of the
        requests (chat histories) are stored.
    </p>

    <h6 class="mt-4">Purpose of data processing</h6>
    <p>
        The ability to insert long author lists from unstructured data into the input mask is an optional service. It
        makes work considerably easier, as this data can otherwise only be entered manually.
    </p>

    <h6 class="mt-4">Legal basis</h6>
    <p>
        The data is processed on the basis of legitimate interest in accordance with Art. 6 para. 1 f&#41; GDPR. Our
        legitimate interest arises from the above-mentioned purpose for data collection.
    </p>

    <h6 class="mt-4">Duration of storage</h6>
    <p>
        KISSKI does not store any content from the requests (chat histories) on its servers
    </p>

    <h4 class="mt-4">Session cookies</h4>
    <hr>
    <p>
        We use so-called “session cookies” to make it easier for you to use our website. These are small text files that
        are only stored on your hard drive for the duration of your visit to our website and, depending on the settings
        of your browser program, are deleted again when you close your browser. These cookies do not retrieve any
        information about you that is stored on your hard drive and do not affect your files.
    </p>
    <p>
        Most browsers are set to accept cookies automatically. However, you can disable the storage of cookies or set
        your browser to alert you when cookies are sent. Please note that disabling cookies may affect some of the
        features on our website.
    </p>

    <h4 class="mt-4">
        Website analysis
    </h4>
    <hr>
    <p>
        We use the open-source web analysis service Matomo (formerly Piwik).
    </p>

    <h5 class="mt-4">Purpose of processing</h5>
    <p>
        We use Matomo to analyze the use of our website and to make regular improvements. The statistics obtained help
        us to optimize our services and make them more interesting for you as a user.

    </p>
    <p>
        Every time you visit our website, our system collects the following data and information from the computer
        system of the visiting computer:

    </p>
    <ul>
        <li>
            &#x2022; IP address, anonymized by shortening it
        </li>
        <li>
            &#x2022; Two cookies to distinguish between different visitors (pk_id and pk_sess)
        </li>
        <li>
            &#x2022; Previously visited URL (referrer), if transmitted by the browser
        </li>
        <li>
            &#x2022; Name and version of the operating system
        </li>
        <li>
            &#x2022; Name, version and language setting of the browser
        </li>
    </ul>
    <p>
        Additionally, if JavaScript is activated:
    </p>
    <ul>
        <li>
            &#x2022; Visited URLs on this website
        </li>
        <li>
            &#x2022; Time of page views
        </li>
        <li>
            &#x2022; Type of HTML requests
        </li>
        <li>
            &#x2022; screen resolution and color depth
        </li>
        <li>
            &#x2022; Vom Browser unterstützte Techniken und Formate (z. B. Cookies, Java, Flash, PDF)
        </li>
    </ul>
    <p>
        The data is stored and analyzed exclusively on a central server operated by the Max Planck Society.
    </p>
    <p>
        Only anonymized data is stored and used with Matomo technology. The IP addresses are anonymized immediately
        after processing and before they are stored. They do not allow any identification of visitors to this website.
        Your data will not be passed on to third parties. Matomo uses cookies. The information generated by the cookie
        in the pseudonymous user profile is not used to personally identify the visitor to a website and is not merged
        with personal data about the pseudonym holder.
    </p>

    <h5 class="mt-4">Legal basis</h5>
    <p>
        The legal basis for the use of Matomo is Art. 6 Para. 1 Subpara. 1 lit. a GDPR (your consent, which you have
        given via our consent banner). You can revoke this consent at any time with effect for the future.
    </p>

    <h5 class="mt-4">Storage duration</h5>
    <p>
        The data is usually stored for 30 days and deleted after the final annual totals for the access statistics have
        been formed.
    </p>

    <h5 class="mt-4">Revocation of consent</h5>
    <p>
        Of course, you have the option to revoke your consent to this data collection with effect for the future. Data
        already legally collected up to the point of consent revocation is not affected. You have the following
        independent options to prevent data collection by the central server:
    </p>
    <ul>
        <li>&#x2022;
            Activate the “Do-Not-Track” or “Do Not Follow” setting in your browser. As long as this setting is active,
            our central Matomo server will not store any of your data. Important: The Do-Not-Track instruction usually
            only applies to the one device and the one browser in which you activate the setting. If you use multiple
            devices/browsers, you must activate Do-Not-Track separately everywhere.
        </li>
        <li>&#x2022;
            Use our opt-out function. Click on the tick in the following selection box to stop or reactivate data
            collection. As long as the selection box is deactivated, our central Matomo server will not store any of
            your data. Important: For the opt-out, we have to store a special recognition cookie in your browser. If you
            delete this or use a different PC/browser, you will have to object to data collection again on this page.
        </li>
    </ul>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="trackVisits" id="trackVisits" checked
            onclick="if (this.checked != true) alert('Opt-Out!');" />
        <label class="form-check-label" for="trackVisits">
            <strong>
                <span id="labelOptOut">
                    Ihr Besuch dieser Webseite wird aktuell von der Matomo Webanalyse erfasst. Diese Checkbox abwählen
                    für Opt-Out.
                </span>

                <span id="labelOptIn" style="display:none;">
                    Ihr Besuch dieser Webseite wird aktuell von der Matomo Webanalyse nicht erfasst. Diese Checkbox
                    aktivieren für Opt-In.
                </span>
            </strong>
        </label>
    </div>

    <p>
        The storage and analysis of data is always done anonymously. Session cookies are deleted at the latest when you
        close your browser. Personal user profiles are not created.
    </p>

    <h3 class="mt-4">Your rights</h3>
    <hr>
    <p>
        According to the General Data Protection Regulation (GDPR), you have the right:
    </p>
    <ul>
        <li>&#x2022;
            to request information about your personal data processed by us in accordance with Art. 15 GDPR. This
            includes the purposes of processing, the categories of personal data, the categories of recipients of the
            data, the planned storage period, the origin of your data, and the existence of automated decision-making
            including profiling;
        </li>
        <li>&#x2022;
            in accordance with Art. 16 GDPR, to request the correction of incorrect or incomplete personal data stored
            by us;
        </li>
        <li>&#x2022;
            in accordance with Art. 17 GDPR, to request the deletion of your personal data stored by us, unless the
            processing is necessary to exercise the right to freedom of expression and information, to fulfill a legal
            obligation, for reasons of public interest or to assert, exercise or defend legal claims;
        </li>
        <li>&#x2022;
            in accordance with Art. 18 GDPR, to demand the restriction of the processing of your personal data if you
            dispute the accuracy of the data, if the processing is unlawful and you refuse the deletion of your data,
            and in cases where we no longer need your data but you need it to enforce legal claims. A restriction of
            processing will also be carried out if you have objected to the processing but it is not yet certain whether
            our legitimate interests outweigh yours;
        </li>
        <li>&#x2022;
            in accordance with Art. 20 GDPR, to receive the personal data concerning you, which you have provided to us,
            in a structured, commonly used and machine-readable format and have the right to transmit those data to
            another controller;
        </li>
        <li>&#x2022;
            in accordance with Art. 7 (3) GDPR, to withdraw consent at any time. The data processed before we receive
            your request may still be legally processed;
        </li>
        <li>&#x2022;
            PURSUANT TO ART. 21 GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA. IF THE
            PROCESSING OF YOUR DATA IS BASED ON THE LEGITIMATE INTEREST OF THE MPDL OR THIRD PARTIES AND YOUR OBJECTION
            IS BASED ON YOUR PARTICULAR SITUATION, WE WILL COME ACCORDINGLY COMPLY WITH THAT REQUEST, UNLESS THERE ARE
            GROUNDS FOR PROCESSING THAT OUTWEIGH YOUR INTERESTS THAT ARE WORTHY OF PROTECTION, OR WE NEED YOUR DATA TO
            ENFORCE LEGAL CLAIMS.
        </li>
        <li>&#x2022;
            Complain to a supervisory authority in accordance with Art. 77 GDPR. If you believe that we have not
            sufficiently complied with your rights and our obligations under the General Data Protection Regulation, you
            have the right to file a complaint with a data protection authority. The authority responsible for us is the
            Bavarian State Office for Data Protection Supervision (BayLDA), Promenade 18, 91522 Ansbach.
        </li>
    </ul>
</div>