//Teil1
.jumbotron {
  background-image: url("../../../assets/images/newimback4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infobox {
  backdrop-filter: blur(3px); /* subtle glass effect */
}

.card-img-top {
  height: 12vw;
  min-height: 150px;
  object-fit: cover;
  object-position: top;
}

.search {
  transition: background 0.25s;
}
