.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  background-image: image("minerva_background2.jpg");
  background-size: cover;
  background-position: center;
}

.card-img-top {
  height: 12vw;
  min-height: 150px;
  object-fit: cover;
  object-position: top;
}


.infobox {
  //background-color: rgba($body-secondary-bg, 0.9); //#f6f6f6f0 ;
  border-radius: .3rem;
}

