
<div class="input-group">
  <input class="form-control" type="text" [formControl]="formForOuName" [ngbTypeahead]="suggestOus"
    [ngClass]="{'is-invalid': validationError}" (selectItem)="suggestOusSelector($event)"
    [resultFormatter]="suggestOusFormatter" [inputFormatter]="suggestOusFormatter" [readonly]="formForOuId?.value"
    [placeholder]="'common.autosuggestPlaceholder' | translate" />

  @if(searching) {
  <button class="btn btn-outline-dark" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }

  @if(formForOuId?.value) {
  <button class="btn btn-outline-dark" type="button" (click)="deleteFields()">
    <span class="bi bi-x"></span>
  </button>
  }

  

</div>

@if(validationEnabled && validationError) {
    <div class="text-danger">Creator organization name is required</div>
  }