
<div class="input-group">
  <input class="form-control" type="text" [formControl]="formForOuName" [ngbTypeahead]="suggestOus"
    [ngClass]="{'is-invalid': validationError}" (selectItem)="suggestOusSelector($event)"
    [resultFormatter]="suggestOusFormatter" [inputFormatter]="suggestOusFormatter" [readonly]="formForOuId?.value"
    [placeholder]="'common.autosuggestPlaceholder' | translate" />

  @if(searching) {
  <button class="btn btn-outline-dark" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }

  @if(formForOuId?.value) {
    <button type="button" class="btn btn-outline-dark btn-sm">
      <span class="material-symbols-outlined"  title="{{formForOuId?.value}}" (click)="toggleAffPopover(formForOuId?.value)">info</span>
    </button>

  <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
    <span class="bi bi-x"></span>
  </button>
  }



</div>

