
<div class="row align-items-center top_nav_pos bg-body" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="col-md ps-0">
    <nav id="topnav" class="navbar navbar-expand bg-body">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="top_nav">

          <ng-content select="[start]"></ng-content>



            <!--
                  <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('first')">
                          <span class="material-symbols-outlined">sort_by_alpha</span>
                  </a>
                  <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('second')">
                          <span class="material-symbols-outlined">manage_search</span>
                  </a>
                  -->
            <!--
            <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('third')">
                    <span class="material-symbols-outlined">public</span>
            </a>
            <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('fourth')">
                    <span class="material-symbols-outlined">public_off</span>
            </a>    Je248PkX
            <div class="vr"></div>
            -->

            <!--
            <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('fivth')">
              <span class="material-symbols-outlined">upload</span>
            </a>
            -->

          <!--
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('eighth')">
                        <span class="material-symbols-outlined">web_stories</span>
                </a>
                -->


          <!--
                <div class="vr"></div>
                <a [routerLink]="[]" class="svg-bg-icon nav-link px-2 align-items-start" (click)="do_some_navigation('nineth')">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g id="DOI_logo" transform="translate(-1 -1)">
                                        <circle id="Ellipse_3" data-name="Ellipse 3" cx="12" cy="12" r="12"
                                                transform="translate(1 1)" />
                                        <path id="Pfad_3497" data-name="Pfad 3497"
                                                d="M15.026,36.471H12.8v-.9a3.833,3.833,0,0,1-.987.7,3.14,3.14,0,0,1-1.465.373,3.237,3.237,0,0,1-2.218-.834A3.716,3.716,0,0,1,7,32.959a3.429,3.429,0,0,1,1.188-2.737,3.52,3.52,0,0,1,2.214-.977,3.635,3.635,0,0,1,1.479.244,3.76,3.76,0,0,1,.924.65V25.374h2.223Zm-2.272-3.5a1.773,1.773,0,0,0-.414-1.221,2.03,2.03,0,0,0-1.261-.562,1.731,1.731,0,0,0-1.209.7,1.791,1.791,0,0,0-.367,1.1,1.715,1.715,0,0,0,.384,1.069,1.38,1.38,0,0,0,1.094.6,1.737,1.737,0,0,0,1.774-1.684Z"
                                                transform="translate(-4.872 -19.803)" fill="#fff" />
                                        <path id="Pfad_3498" data-name="Pfad 3498"
                                                d="M62.312,25.618a1.334,1.334,0,1,0,1.332,1.325,1.261,1.261,0,0,0-.389-.936,1.285,1.285,0,0,0-.944-.389Zm-5.852,3.729a3.982,3.982,0,0,0-3.176,1.284,3.617,3.617,0,0,0-.922,2.439,3.78,3.78,0,0,0,.915,2.576,4.421,4.421,0,0,0,6.216,0,3.7,3.7,0,0,0,.915-2.515,3.66,3.66,0,0,0-.922-2.5,3.83,3.83,0,0,0-3.025-1.284Zm4.67.26v7.057h2.362V29.607H61.131ZM56.389,31.5a1.462,1.462,0,0,1,1.1.479,1.588,1.588,0,0,1,.461,1.155A1.637,1.637,0,0,1,57.5,34.3a1.481,1.481,0,0,1-1.109.471,1.459,1.459,0,0,1-1.2-.578,1.687,1.687,0,0,1,0-2.12,1.459,1.459,0,0,1,1.2-.578Z"
                                                transform="translate(-41.732 -20.002)" fill="#fff" />
                                </g>
                        </svg>
                </a>
          -->

          <!--</div>-->
        </div>
      </div>
    </nav>

  </div>
  <div class="col-md-7 ps-0">
    <div class="float-end">
      <ng-content select="[end]"></ng-content>
    </div>
  </div>


</div>


