
    <pure-item-view-metadata-element [sub]="true" [condition]="creatorMap.size > 0">
      <span label></span>
      <span content>
        <div class="list-group" id="collapseExample">
          @for (author of creatorMap.keys(); track author; let i = $index) {

            <div class="list-group-item p-0 pb-1
            {{isIncludedInCurrrentHighlights(creatorMap.get(author)) ? 'mark' : ''}}
            {{i >= maxDisplay ? 'd-none' : ''}}"

                 (mouseenter)="highlightAffiliations(creatorMap.get(author))"
                 (mouseleave)="unhighlightAffiliations()">

              @if(author.person) {
                {{ (author?.person?.familyName || 'n/a') + ', ' + (author?.person?.givenName || 'n/a') }}
                <span class="me-2"><sup>{{creatorMap.get(author)}}</sup></span>

                @if (author?.person?.orcid) {
                  <span class="me-2" style="vertical-align: center">
                    <a [href]="author?.person?.orcid" target="_blank">

                      <img alt="ORCID logo"
                           src="assets/images/ORCID-iD_icon_vector.svg"
                           width="16" height="16"/>

                    </a>
                  </span>

                }
                @if (author?.person?.identifier?.id) {
                  <span class="me-2">
                    <a [href]="'/cone' + author?.person?.identifier?.id" target="_blank">
                      <img alt="CoNE logo"
                           src="assets/icons/CoNE_icon.svg"
                           width="16" height="16"/>

                    </a>
                  </span>

                }
                <span class="small"> ({{'CreatorRoles.' + author.role | translate}})</span>
              }
              @else {
                {{ author?.organization?.name }}
              }
            </div>
          }
          @if(creatorMap.size > maxDisplay) {
          <div class="container float-start">
            <button type="button" class="btn btn-sm btn-link p-0 me-3" (click)="showMore(20)">show more...</button>
            <button type="button" class="btn btn-sm btn-link p-0 me-3" (click)="showMore(creatorMap.size)">show all {{creatorMap.size}}...</button>
          </div>
          } @else if (creatorMap.size === maxDisplay) {
            <div class="container float-start">
          <button type="button" class="btn btn-sm btn-link p-0" (click)="showLess()">show less...</button>
          </div>
          }
        </div>
      </span>
    </pure-item-view-metadata-element>
    <pure-item-view-metadata-element [sub]="true" [condition]="affiliations.length > 0">
      <span label>{{ 'MetadataFields.affiliations' | translate }}</span>
      <span content>
        <div class="list-group">
         @for (aff of affiliations; track aff; let i = $index) {
           <div class="list-group-item p-0 pb-1 {{currentAffiliationHighlights.indexOf(i+1)!=-1 ? 'mark' : ''}}"
                data-affiliation-id="i+1"
                (mouseenter)="highlightAffiliations([i+1])"
                (mouseleave)="unhighlightAffiliations()">
             <div class="row">
               <div class="col-1">{{i+1}}</div>
               <div class="col">
                 {{aff.name}}
                 @if(aff.identifier | empty) {
                   ({{aff.identifier}})
                   <span class="me-2">
                      <button class="btn btn-link p-0"
                              (click)="toggleAffPopover(aff)">

                        <span class="material-symbols-outlined">info</span>

                      </button>
                 </span>
                 }

               </div>
               </div>
           </div>

         }
          </div>
      </span>

    </pure-item-view-metadata-element>

