
    <pure-item-view-metadata-element [sub]="true" [condition]="creatorMap.size > 0">
      <span label></span>
      <span content>
        <div class="list-group" id="collapseExample">
          @for (author of creatorMap.keys(); track $index; let i = $index) {

            <div class="list-group-item list-group-item-action p-0 pb-1
            {{isIncludedInCurrrentHighlights(creatorMap.get(author)) ? 'bg-primary-subtle' : ''}}
            {{i >= maxDisplay ? 'd-none' : ''}}"

                 (mouseenter)="highlightAffiliations(creatorMap.get(author))"
                 (mouseleave)="unhighlightAffiliations()">

              @if(author.person) {
                {{ author?.person?.familyName || 'n/a' }} {{author?.person?.givenName ? ', ' + author?.person?.givenName : '' }}
                <span class="me-2"><sup>{{creatorMap.get(author)}}</sup></span>

                <pure-cone-icon [orcid]="author?.person?.orcid" [coneId]="author?.person?.identifier?.id"/>

                <span class="small"> ({{'CreatorRoles.' + author.role | translate}})</span>
              }
              @else {
                {{ author?.organization?.name }}{{ author?.organization?.address ? ', ' + author.organization?.address : '' }}
              }
            </div>
          }
          @if(creatorMap.size > maxDisplay) {
          <div class="container float-start">
            <button type="button" class="btn btn-sm btn-link p-0 me-3" (click)="showMore(20)">{{ 'common.showMore' | translate }}...</button>
            <button type="button" class="btn btn-sm btn-link p-0 me-3" (click)="showMore(creatorMap.size)">{{ 'common.showAll' | translate }} ({{creatorMap.size}})...</button>
          </div>
          } @else if (creatorMap.size === maxDisplay) {
            <div class="container float-start">
          <button type="button" class="btn btn-sm btn-link p-0" (click)="showLess()">show less...</button>
          </div>
          }
        </div>
      </span>
    </pure-item-view-metadata-element>

    @if(creatorMap.size > 0 && affiliations.length > 0) {
      <hr/>
    }

    <pure-item-view-metadata-element [sub]="true" [condition]="affiliations.length > 0">
      <span label>{{ 'MetadataFields.affiliations' | translate }}</span>
      <span content>
        <div class="list-group">
         @for (aff of affiliations; track $index; let i = $index) {
           <div class="list-group-item list-group-item-action p-0 pb-1 {{currentAffiliationHighlights.indexOf(i+1)!=-1 ? 'bg-primary-subtle' : ''}}"
                data-affiliation-id="i+1"
                (mouseenter)="highlightAffiliations([i+1])"
                (mouseleave)="unhighlightAffiliations()">

             <div class="d-flex">
               <span class="me-2">{{i+1}}</span>
               <span>
                 {{aff.name}}{{aff.address ? ', ' + aff.address : ''}}
                 @if(aff.identifier | empty) {
                   <button class="me-2 btn btn-sm p-0" (click)="toggleAffPopover(aff)">
                     <span class="material-symbols-outlined">info</span>
                   </button>
                 }
               </span>
             </div>
           </div>

         }
          </div>
      </span>

    </pure-item-view-metadata-element>

