<div class="container pb-4">
<h6>Sort by</h6>
<div class="row">
  <div class="col">
    <select class="form-select" (change)="handleInputChange($event)">
      @for (val of sortOptionNames; track val) {
        <option [value]="val" [selected]="val === selectedSort">
          {{ val }}
        </option>
      }
    </select>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-secondary btn-sm" (click)="switchSortOrder()">
      <i class="bi {{selectedSortOrder==='asc' ? 'bi-arrow-up' : 'bi-arrow-down'}}"></i>
    </button>

  </div>
</div>
</div>

