<div class="container pb-4">
<h6>{{'common.sort' | translate}}</h6>
  @for(sortEntry of sortEntries; track sortEntry.sort; let index = $index) {
    <div class="row mt-2 mb-2">
      <div class="col-1 align-self-center">
       {{index +1 }}:
      </div>
      <div class="col">
        <select class="form-select" (change)="handleInputChange($event, index)">
          @for (val of sortOptionEntries; track val) {
            <option [value]="val[0]" [selected]="val[0] === sortEntry.sort">
              {{ val[1].label | translate}}
            </option>
          }
        </select>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-secondary btn-sm" (click)="switchSortOrder(index); t.close();"
                [ngbTooltip]="('common.sort' | translate) + ': ' + (('Search.' + sortEntry.sortOrder) | translate)"
        #t = "ngbTooltip">
          <i class="bi {{sortEntry.sortOrder ==='asc' ? 'bi-arrow-up' : 'bi-arrow-down'}}"></i>
        </button>

      </div>
    </div>
    }

  <div class="row">
    <div class="col">
      <div class="">
  <button type="button" class="btn btn-secondary me-2 p-0" (click)="addSortCriterion(0)">
    <i class="bi bi-plus"></i>
  </button>
    <button type="button" class="btn btn-secondary btn-sm p-0" (click)="removeSortCriterion(sortEntries.length -1)" [disabled]="sortEntries.length === 1">
      <i class="bi bi-dash"></i>
    </button>
      </div>
    </div>
  </div>

</div>

