@if (aaService.principal.getValue().isDepositor || aaService.principal.getValue().isModerator)
{
  <pure-item-badges [item]="item" [showVersion]="true" [showMetadata]="false"></pure-item-badges>
<div class="container-fluid">
    <form [formGroup]="form" >
      <!-- context selection only for new items -->
      @if(!item?.objectId) {

        <div class="d-sm-flex flex-sm-row gap-1 mb-3 mt-2 px-3 align-items-center" formGroupName="context">
            <label for="context" class="col-sm-2 col-form-label">{{ 'MetadataFields.context' | translate }}</label>
            <div class="col-sm">
                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                    <div class="col-sm">
                        <select id="contextFromSelect" class="form-select" formControlName="objectId"
                            data-test="context" (change)="context_change(contextFromSelect.value)" #contextFromSelect>
                            <option [ngValue]="null" selected disabled>Context</option>
                            @for (contextObject of user_contexts; track contextObject) {
                            <option [value]="contextObject.objectId">{{contextObject.name}}</option>
                            }
                        </select>

                    </div>

                    <div class="col-sm-1">
                        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                    </div>
                </div>
            </div>
        </div>
      }
        <!--<div class="row g-1 mb-1">-->
        <pure-metadata-form [meta_form]="metadata_form" [context]="context" (notice)="handleNotification($event)">
        </pure-metadata-form>
        <!--</div>-->

        <div class="accordion" id="accordionPanelsMetadata">
            <!--GROUP Files-->
            <div class="accordion-item border-0">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBodyFilesGroup" aria-expanded="true"
                        aria-controls="accordionBodyFilesGroup">
                      {{ 'MetadataFields.filesLocators' | translate }}
                    </button>
                </h2>
                <div id="accordionBodyFilesGroup" class="accordion-collapse collapse show">

                  @let filesAvailable = internalFiles && internalFiles.controls.length > 0;

                    <div class="accordion-body mt-3 mb-3">
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">

                          <div class="col-sm-2">
                            <label class="col-form-label small">{{ 'common.files' | translate }}</label>
                            @if (filesAvailable) {
                            <div class="form-check form-switch small py-1">
                              <input class="form-check-input" type="checkbox" role="switch" id="switchSortFiles"
                                     [checked]="switchFileSortingMode" (change)="changeSortingMode()">
                              <label class="form-check-label" for="switchSortFiles">Sort Mode</label>
                            </div>
                            }
                          </div>

                        <div class="col-sm">
                          @if(filesAvailable) {
                            <div cdkDropList class="col-sm drag-list" (cdkDropListDropped)="dropInternalFiles($event)">
                                @for (file of internalFiles.controls; track file; let
                                fileIndex = $index) {
                                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                                    <div cdkDrag class="col-sm drag-list-box"> <!-- (cdkDragMoved)="onDragMove($event)" -->
                                        <pure-file-form [file_form]="file" [index]="fileIndex"
                                            [index_length]="internalFiles.controls.length"
                                            (notice)="handleInternalFileNotification($event)"></pure-file-form>
                                    </div>
                                    <div class="col-sm-1">
                                        <pure-add-remove-buttons [index]="fileIndex" [hiddenAddButton]="true"
                                            (notice)="handleInternalFileNotification($event)"></pure-add-remove-buttons>
                                    </div>
                                </div>
                                  <hr/>
                                }
                                @empty {
                                <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'add fileIndex'"
                                    (notice)="handleInternalFileNotification($event)"></pure-add-remove-buttons>
                                }
                            </div>
                          }


                          <div class="col-sm-10">
                            <pure-file-upload [file_upload_form]="internalFiles"
                                              (fileUploadNotice)="handleFileUploadNotification($event)"></pure-file-upload>
                          </div>

                        </div>
                        </div>
                    </div>


                  <hr/>

                  @let locatorsAvailable = externalReferences && externalReferences.controls.length > 0;
                    <div class="accordion-body mt-3 mb-3">
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                          <div class="col-sm-2">
                            <label class="col-form-label">{{ 'common.links' | translate }}</label>
                            @if(locatorsAvailable) {
                              <div class="form-check form-switch small">
                                <input class="form-check-input" type="checkbox" role="switch" id="switchSortFiles"
                                       [checked]="switchFileSortingMode" (change)="changeSortingMode()">
                                <label class="form-check-label" for="switchSortFiles">Sort Mode</label>
                              </div>
                            }
                          </div>


                        <div class="col-sm">
                          @if (locatorsAvailable) {
                            <div cdkDropList class="col-sm drag-list"
                                (cdkDropListDropped)="dropExternalReferences($event)">
                                @for (externalUrl of externalReferences.controls; track externalUrl; let
                                externalUrlIndex = $index) {
                                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                                    <div class="col-sm drag-list-box" cdkDrag>
                                        <pure-file-form [file_form]="externalUrl" [index]="externalUrlIndex"
                                            [index_length]="externalReferences.controls.length"
                                            (notice)="handleExternalReferenceNotification($event)"></pure-file-form>
                                    </div>
                                    <div class="col-sm-1">
                                        <pure-add-remove-buttons [index]="externalUrlIndex"
                                            (notice)="handleExternalReferenceNotification($event)"></pure-add-remove-buttons>
                                    </div>
                                </div>
                                  <hr/>
                                }
                            </div>
                          }
                          @else {
                            <pure-add-remove-buttons [index]="0" [del_val]="'hidden'"
                                                     [add_val]="'add externalReference'"
                                                     (notice)="handleNoExternalReferences()"></pure-add-remove-buttons>
                          }
                        </div>
                    </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="d-sm-flex flex-sm-row gap-1 mb-3 px-3">
            <label for="title" class="col-sm-2 col-form-label">local tags</label>
            <div class="col-sm">
                <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                    <div class="col-sm">
                        <pure-chips [form]="form" [chips]="localTags.value" [control_name]="'localTags'"></pure-chips>
                    </div>
                    <div class="col-sm-1">
                        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="d-sm-flex flex-sm-row mb-3 px-3 justify-content-end">
            <div class="col-auto">
                <button class="btn btn-primary me-3" id="save" type="button" value="save" data-test="save" (click)="submit('save')">SAVE</button>
                @if (!form.controls['objectId'].value || (authorizationInfo && authorizationInfo.actions['SUBMIT'])) {
                <button class="btn btn-primary me-3" id="submit" type="button" value="submit" (click)="submit('submit')">SUBMIT</button>
                }
                @if (authorizationInfo && authorizationInfo.actions['RELEASE']) {
                <button class="btn btn-primary" id="release" type="button" value="release" (click)="submit('release')">RELEASE</button>
                }
            </div>
        </div>
    </form>
</div>

<pre>valid? {{form.valid}}</pre>

<div class="container-fluid d-sm-flex flex-sm-row mb-1">
    <pre class="col-sm">{{form.value | json}}</pre>
    <pre class="col-sm">{{form_2_submit | json}}</pre>
</div>

} @else {
<!--TODO No Depositor/Admin rights Page/Message-->
<p>No Depositor/Admin rights</p>
}
