<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <!--
  <div class="form-group mb-2">
    <label for="oldPassword" class="form-label">Old password</label>
    <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword"
           [class.is-invalid]="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" />

  </div>
  -->
  <div class="form-group mb-2">
    <label for="newPassword1" class="form-label">New password</label>
    <input id="newPassword1" type="password" class="form-control" formControlName="newPassword1"/>
    <pure-validation-error [control]="changePasswordForm.get('newPassword1')"/>
  </div>

  <div class="form-group mb-2">
    <label for="newPassword2" class="form-label">Repeat new password</label>
    <input id="newPassword2" type="password" class="form-control" formControlName="newPassword2"/>
  </div>

  @if(errorMessage)
  {
    <div class="alert alert-danger">
      {{errorMessage}}
    </div>
  }
  @if(passwordChangeSuccess)
  {
    <div class="alert alert-success">
      {{ 'common.updateSuccessful' | translate }}
    </div>
  }

  <button type="submit" class="btn btn-primary" [disabled]="passwordChangeLoading">Set new password</button>

</form>
