@if(detail) {

<tr class="bg-light border-bottom border-white d-flex py-2">
  <td class="col-2 px-1 align-text-top">
    <span>{{ 'ImportStatus.' + detail.status | translate }}</span>
  </td>

  <td class="col-1 align-text-top">
    <span>{{ 'ImportErrorLevel.' + detail.errorLevel | translate }}</span>
  </td>

  <td class="col-9 align-text-top d-table-cell">
    @if(hasTranslation(detail.message.substr(0,50))) {
      <span>{{ 'ImportMessage.' + detail.message | translate }}</span>

    } @else {
      @if(detail.message.length > 80) {

      <pre class="d-inline">{{ firstContentFrom(detail.message) }}</pre>
      <button type="button" class="border-0 bg-transparent float-end" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed">
        <span class="material-symbols-outlined">unfold_more</span>
      </button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <pre class="d-inline">{{ moreContentFrom(detail.message) }}</pre>
      </div>

      } @else {

        <pre>{{ detail.message | separate | titlecase }}</pre>

      }
    }
  </td>
</tr>

}