<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadataSource">

    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingChangeGenre">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseChangeGenre" aria-expanded="false" aria-controls="collapseChangeGenre">
          <span class="float-start ps-2 m-3">Change Genre</span>
        </button>
      </h5>
      <div id="collapseChangeGenre" class="accordion-collapse collapse" aria-labelledby="headingChangeGenre"
        data-bs-parent="#accordionMetadataSource">
        <div class="accordion-body">
          <pure-change-source-genre-form></pure-change-source-genre-form>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingChangeGenre">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseAdjustEdition" aria-expanded="false" aria-controls="collapseAdjustEdition">
          <span class="float-start ps-2 m-3">Adjust Edition</span>
        </button>
      </h5>
      <div id="collapseAdjustEdition" class="accordion-collapse collapse" aria-labelledby="headingChangeGenre"
        data-bs-parent="#accordionMetadataSource">
        <div class="accordion-body">
          <pure-replace-source-edition-form></pure-replace-source-edition-form>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingChangeGenre">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseAddIdentifier" aria-expanded="false" aria-controls="collapseAddIdentifier">
          <span class="float-start ps-2 m-3">Add Identifier</span>
        </button>
      </h5>
      <div id="collapseAddIdentifier" class="accordion-collapse collapse" aria-labelledby="headingChangeGenre"
        data-bs-parent="#accordionMetadataSource">
        <div class="accordion-body">
          <pure-add-source-identifier-form></pure-add-source-identifier-form>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingChangeGenre">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseReplaceIdentifier" aria-expanded="false" aria-controls="collapseReplaceIdentifier">
          <span class="float-start ps-2 m-3">Replace Identifier</span>
        </button>
      </h5>
      <div id="collapseReplaceIdentifier" class="accordion-collapse collapse" aria-labelledby="headingChangeGenre"
        data-bs-parent="#accordionMetadataSource">
        <div class="accordion-body">
          <pure-change-source-identifier-form></pure-change-source-identifier-form>
        </div>
      </div>
    </div>

  </div>
</div>