<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.localTags.replace' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.localTags.replace.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeLocalTagsForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-2">
        <label class="col-form-label">{{ 'batch.actions.localTags.replace.from' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="localTagFrom"
          [ngClass]="{'border border-danger': changeLocalTagsForm.get('localTagFrom')?.pending}">
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-2 col-sm-6">
        <!--
        @if(valSvc.notValidField(changeLocalTagsForm.controls['localTagFrom'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeLocalTagsForm.controls['localTagFrom']) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
        -->
        <pure-validation-error [control]="changeLocalTagsForm.get('localTagFrom')"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <label class="col-form-label">{{ 'batch.actions.localTags.replace.to' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="localTagTo"
          [ngClass]="{'border border-danger': changeLocalTagsForm.get('localTagTo')?.pending}">
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-2 col-sm-6">
        <!--
        @if(valSvc.notValidField(changeLocalTagsForm.controls['localTagTo'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeLocalTagsForm.controls['localTagTo']) }}
        </span>
        } @else if(changeLocalTagsForm.hasError('notEquals')) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.localTags' | translate }} {{ valSvc.getErrorMsg(changeLocalTagsForm) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }-->
        <pure-validation-error [control]="changeLocalTagsForm.get('localTagTo')"/>
        <pure-validation-error [control]="changeLocalTagsForm"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeLocalTagsForm.valid" class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>

  </form>

</div>