<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.localTags.add' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.localTags.add.info' | translate }}
    </span>
  </div>

  <form [formGroup]="addLocalTagsForm" (ngSubmit)="onSubmit()" autocomplete="off"
    (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="col-sm-2">
        <label class="col-form-label">{{ 'batch.actions.localTags.replace.to' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <pure-chips [form]="addLocalTagsForm" [chips]="tagsToAdd.value" [control_name]="'localTags'" />
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-2 col-sm-6">
        @if (addLocalTagsForm.invalid) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.localTags' | translate }} {{ 'validation.notDuplicates' | translate }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div>
        <button type="submit" [disabled]="tagsToAdd.value.length === 0 || !addLocalTagsForm.valid" 
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>

  </form>

</div>