<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
  <h2 class="m-0" i18n="@@batch.actions.localTags.add">Add</h2>
  <div class="mt-2 mb-5">
    <span i18n="@@batch.actions.localTags.add.info">
      The following tags will be added to all items.
    </span>
  </div>

  <form [formGroup]="addLocalTagsForm" (ngSubmit)="onSubmit()" autocomplete="off"
    (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="col-sm-2">
        <label class="col-form-label" i18n="@@batch.actions.localTags.replace.to">New tag</label>
      </div>
      <div class="col-sm-10">
        <pure-chips [form]="addLocalTagsForm" [chips]="tagsToAdd.value" [control_name]="'localTags'" />
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-2 col-sm-6">
        @if (addLocalTagsForm.invalid) {
        <span class="form-text text-danger small">
          Local tag duplicated
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="mb-1 row">
      <div class="offset-sm-9 col-sm-3">
        <button type="submit" [disabled]="tagsToAdd.value.length === 0 || addLocalTagsForm.invalid" 
          class="btn btn-outline-secondary border-2 col-4 float-end">
          GO
        </button>
      </div>
    </div>

  </form>

</div>