<div class="d-flex flex-column min-vh-100">
  <pure-header class="mb-5"></pure-header>
  <pure-info-panel></pure-info-panel>
  <div class="d-flex flex-row mt-5">
    <!--
    <div class="d-none d-lg-block">hide on screens smaller than lg</div>
    see: https://getbootstrap.com/docs/5.3/utilities/display/

    alternative: use navbar-expand-lg (requires navbar-toggler and collapse navbar-collapse d-lg-flex)
    -->
    <div class="col-2 d-none d-lg-block">
      <pure-sidenav [mobile]="false"></pure-sidenav>
    </div>
    <div class="col-lg-10 col-sm-12 mt-5">
      <div class="container-fluid">
        <div class="col-lg-10 col-sm-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <pure-scroll-to-top></pure-scroll-to-top>
  <!--<pure-foot class="mt-auto"></pure-foot>-->
  <pure-footer class="mt-auto"></pure-footer>
</div>