<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
    <h2 class="m-0" i18n="@@batch.actions.metadata.extRef.contentCategory">Content Category</h2>
    <div class="mt-2 mb-5">
        The content category of file locators will be changed as follows
    </div>

    <form [formGroup]="changeExternalReferenceContentCategoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3 row">
            <div class="col-sm-3">
                <label class="col-form-label">Content category to be
                    replaced</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryFrom">
                    <option value="" selected disabled hidden>-</option>
                    @for (category of contentCategories; track category) {
                        <option [value]="category">{{category | titlecase}}</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Replacing content category</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryTo">
                    <option value="" selected disabled hidden>-</option>
                    @for (category of contentCategories; track category) {
                        <option [value]="category">{{category | titlecase}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="offset-sm-3 col-sm-6">
                @if (validSvc.notValidField(changeExternalReferenceContentCategoryForm.controls['externalReferenceContentCategoryTo'])) {
                <span class="form-text text-danger small">
                    Previous and new content categories {{ validSvc.getFieldError(changeExternalReferenceContentCategoryForm) }}
                </span>
                } @else {
                <span>&nbsp;</span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" [disabled]="changeExternalReferenceContentCategoryForm.invalid || changeExternalReferenceContentCategoryForm.pristine"
                    class="btn btn-outline-secondary col-1 float-end">
                    Change
                </button>
            </div>
        </div>
    </form>

</div>