<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
      {{principal.user?.name}}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close();"></button>
</div>

<div class="modal-body">


  <div class="row">
    <div class="col-3">Login Name</div>
    <div class="col-9">{{principal.user?.loginname}}</div>
  </div>
  <div class="row">
    <div class="col-3">Email</div>
    <div class="col-9">{{principal.user?.email}}</div>
  </div>
  <div class="row">
    <div class="col-3">Affiliation</div>
    <div class="col-9">{{principal.user?.affiliation?.name}}</div>
  </div>

  <hr/>
  <h5>Moderator & Depositor Roles</h5>
  <div class="row">
    <div class="col-3">Depositor</div>
    <div class="col-9">
      <ul>
      @for(context of principal.depositorContexts; track context.objectId) {
          <li>{{context.name}} ({{context.objectId}})</li>
      }
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-3">Moderator</div>
    <div class="col-9">
      <ul class="item-list">
        @for(context of principal.moderatorContexts; track context.objectId) {
          <li>{{context.name}} ({{context.objectId}})</li>
        }
      </ul>
    </div>
  </div>

  <hr/>
  <h5>Other Roles</h5>
  @for(grant of principal.user?.grantList; track grant) {
    @if(grant.role !== 'MODERATOR' && grant.role !== 'DEPOSITOR') {
      <div class="row">
        <div class="col text-break">{{grant.role}} ({{grant.objectRef}})</div>
      </div>
    }

  }
  <hr/>
  <h5>Change password</h5>

  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <!--
    <div class="form-group mb-2">
      <label for="oldPassword" class="form-label">Old password</label>
      <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword"
             [class.is-invalid]="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" />

    </div>
    -->
    <div class="form-group mb-2">
      <label for="newPassword1" class="form-label">New password</label>
      <input id="newPassword1" type="password" class="form-control" formControlName="newPassword1"
             [class.is-invalid]="changePasswordForm.get('newPassword1')?.invalid && changePasswordForm.get('newPassword1')?.touched"/>
      <div class="invalid-feedback">
        Please choose a password with a length between 8 and 32 characters, and at least one uppercase, one lowercase, one digit and one special character.
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="newPassword2" class="form-label">Repeat new password</label>
      <input id="newPassword2" type="password" class="form-control" formControlName="newPassword2"
             [class.is-invalid]="changePasswordForm.get('newPassword2')?.invalid && changePasswordForm.get('newPassword2')?.touched"/>
    </div>

    @if(errorMessage)
    {
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    }
    @if(passwordChangeSuccess)
    {
      <div class="alert alert-success">
        Password changed successfully
      </div>
    }

    <button type="submit" class="btn btn-primary" [disabled]="passwordChangeLoading">Set new password</button>

  </form>

</div>

<div class="modal-footer">



  <!--<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Download</button>-->
</div>
