<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">
    {{ 'batch.actions.metadata.source.replaceId' | translate }}
  </h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.source.replaceId.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeSourceIdentifierForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.adjust' | translate }}
        </label>
      </div>
      <div class="col-sm-1">
        <select class="form-select" formControlName="sourceNumber">
          <option value="1" selected>1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.replaceId.type' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceIdentifierType">
          <option [value]='' selected disabled>
            {{ 'batch.actions.metadata.source.replaceId.default' | translate }}
          </option>
          @for (type of sourceIdTypes; track type) {
            <option [value]="type">{{ 'IdType.' + type | translate }}</option>
          }
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.replaceId.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" formControlName="sourceIdentifierFrom">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.replaceId.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" formControlName="sourceIdentifierTo">
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if(valSvc.notValidField(changeSourceIdentifierForm.controls['sourceIdentifierTo'])) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.source.replaceId.invalid' | translate }} {{ valSvc.getFieldError(changeSourceIdentifierForm) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="changeSourceIdentifierForm.invalid || changeSourceIdentifierForm.pristine"
          class="btn btn-outline-secondary border-2 col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>
