<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.source.addId' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.source.addId.info' | translate }}
    </span>
  </div>

  <form [formGroup]="addSourceIdentifierForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">{{ 'batch.actions.metadata.source.adjust' | translate }}</label>
      <div class="col-sm-2">
        <select class="form-select" formControlName="sourceNumber">
          <option [value]="1" selected>1</option>
          <option [value]="2">2</option>
        </select>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-3 col-form-label">{{ 'batch.actions.metadata.source.addId.type' | translate }}</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceIdentifierType" 
          [ngClass]="{'border border-danger': addSourceIdentifierForm.get('sourceIdentifierType')?.pending || addSourceIdentifierForm.get('sourceIdentifierType')?.invalid && (addSourceIdentifierForm.get('sourceIdentifierType')?.touched || addSourceIdentifierForm.get('sourceIdentifierType')?.dirty)}">
          <option [value]="null" selected disabled hidden>{{ 'batch.actions.metadata.source.addId.default' | translate }}</option>
          @for (type of sourceIdTypes; track type) {
            <option [value]="type">{{ 'SourceIdType.' + type | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="addSourceIdentifierForm.get('sourceIdentifierType')"/>
      </div>
    </div> 

    <div class="row">
      <label class="col-sm-3 col-form-label">{{ 'batch.actions.metadata.source.addId.to' | translate }}</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="sourceIdentifier" 
          [ngClass]="{'border border-danger': addSourceIdentifierForm.get('sourceIdentifier')?.pending || addSourceIdentifierForm.get('sourceIdentifier')?.invalid && (addSourceIdentifierForm.get('sourceIdentifier')?.touched || addSourceIdentifierForm.get('sourceIdentifier')?.dirty)}">
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="addSourceIdentifierForm.get('sourceIdentifier')"/>
      </div>
    </div> 

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!addSourceIdentifierForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>
