<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadataPublication">

    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingReviewType">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseReviewType" aria-expanded="false" aria-controls="collapseReviewType">
          <span class="float-start ps-2 m-3">Review Type</span>
        </button>
      </h5>
      <div id="collapseReviewType" class="accordion-collapse collapse" aria-labelledby="headingReviewType"
        data-bs-parent="#accordionMetadataPublication">
        <div class="accordion-body">
          <pure-change-review-method-form></pure-change-review-method-form>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingAddKeywords">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseAddKeywords" aria-expanded="false" aria-controls="collapseAddKeywords">
          <span class="float-start ps-2 m-3">Add Keywords</span>
        </button>
      </h5>
      <div id="collapseAddKeywords" class="accordion-collapse collapse" aria-labelledby="headingAddKeywords"
        data-bs-parent="#accordionMetadataPublication">
        <div class="accordion-body">
          <pure-add-keywords-form></pure-add-keywords-form>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingReplaceKeywords">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseReplaceKeywords" aria-expanded="false" aria-controls="collapseReplaceKeywords">
          <span class="float-start ps-2 m-3">Replace Keywords</span>
        </button>
      </h5>
      <div id="collapseReplaceKeywords" class="accordion-collapse collapse" aria-labelledby="headingIpRanges"
        data-bs-parent="#accordionMetadataPublication">
        <div class="accordion-body">
          <pure-replace-keywords></pure-replace-keywords>
        </div>
      </div>
    </div>

  </div>
</div>
