@if (aaService.principal.getValue().isDepositor || aaService.principal.getValue().isModerator)
{
<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="d-sm-flex flex-sm-row gap-1 mb-3 mt-2 px-3 align-items-center" formGroupName="context">
            <label for="context" class="col-sm-2 col-form-label">Context</label>
            <div class="col-sm">
                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                    <div class="col-sm">
                        <select id="contextFromSelect" class="form-select" formControlName="objectId"
                            (change)="context_change(contextFromSelect.value)" #contextFromSelect>
                            <option [value]="null" selected disabled>Context</option>
                            @for (contextObject of user_contexts; track contextObject) {
                            <option [value]="contextObject.objectId">{{contextObject.name}}</option>
                            }
                        </select>

                    </div>

                    <div class="col-sm-1">
                        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row g-1 mb-1">-->
        <pure-metadata-form [meta_form]="metadata_form" (notice)="handleNotification($event)">
        </pure-metadata-form>
        <!--</div>-->

        <div class="accordion" id="accordionPanelsMetadata">
            <!--GROUP Files-->
            <div class="accordion-item border-0">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBodyFilesGroup" aria-expanded="true"
                        aria-controls="accordionBodyFilesGroup">
                        Files and Locators Group
                    </button>
                </h2>
                <div id="accordionBodyFilesGroup" class="accordion-collapse collapse show">
                    <div class="accordion-body mt-3 mb-3">
                        <!-- TODO File upload -->
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                            <label class="col-sm-2 col-form-label">File Upload</label>
                            <pure-file-upload [file_upload_form]="internalFiles"></pure-file-upload>
                        </div>
                    </div>
                    @if (internalFiles.controls.length > 0) {
                    <div class="accordion-body mt-3 mb-3">
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                            <label class="col-sm-2 col-form-label">Files</label>
                            <div class="form-check form-switch col-sm py-1">
                                <input class="form-check-input" type="checkbox" role="switch" id="switchSortFiles"
                                [checked]="switchFileSortingMode" (change)="changeSortingMode()">
                                <label class="form-check-label" for="switchSortFiles">Sort Mode</label>
                            </div>
                        </div>
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                            <div class="col-sm-2"></div>
                            <div cdkDropList class="col-sm drag-list" (cdkDropListDropped)="dropInternalFiles($event)">
                                @for (file of internalFiles.controls; track file; let
                                fileIndex = $index) {
                                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                                    <div cdkDrag class="col-sm"> <!-- (cdkDragMoved)="onDragMove($event)" -->
                                        <pure-file-form [file_form]="file" [index]="fileIndex"
                                            [index_length]="internalFiles.controls.length"
                                            (notice)="handleFileNotification($event)"></pure-file-form>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    @if (externalReferences.controls.length > 0) {
                    <div class="accordion-body mt-3 mb-3">
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                            <label class="col-sm-2 col-form-label">External References</label>
                            <div class="form-check form-switch col-sm py-1">
                                <input class="form-check-input" type="checkbox" role="switch" id="switchSortFiles"
                                    [checked]="switchFileSortingMode" (change)="changeSortingMode()">
                                <label class="form-check-label" for="switchSortFiles">Sort Mode</label>
                            </div>
                        </div>
                        <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                            <div class="col-sm-2"></div>
                            <div cdkDropList class="col-sm drag-list"
                                (cdkDropListDropped)="dropExternalReferences($event)">
                                @for (externalUrl of externalReferences.controls; track externalUrl; let
                                externalUrlIndex = $index) {
                                <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                                    <div class="col-sm drag-list-box" cdkDrag>
                                        <pure-file-form [file_form]="externalUrl" [index]="externalUrlIndex"
                                            [index_length]="externalReferences.controls.length"
                                            (notice)="handleExternalReferenceNotification($event)"></pure-file-form>
                                    </div>
                                    <div class="col-sm-1">
                                        <pure-add-remove-buttons [index]="externalUrlIndex"
                                            (notice)="handleExternalReferenceNotification($event)"></pure-add-remove-buttons>
                                    </div>
                                </div>
                                }
                                @empty {
                                <pure-add-remove-buttons [index]="0" [del_val]="'hidden'"
                                    [add_val]="'add externalReference'"
                                    (notice)="handleExternalReferenceNotification($event)"></pure-add-remove-buttons>
                                }
                            </div>


                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="d-sm-flex flex-sm-row gap-1 mb-3 px-3 align-items-center">
            <label for="title" class="col-sm-2 col-form-label">message</label>
            <div class="col-sm">
                <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                    <div class="col-sm">
                        <input type="text" class="form-control" id="message" name="message" formControlName="message">
                    </div>
                    <div class="col-sm-1">
                        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                    </div>
                </div>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row gap-1 mb-3 px-3">
            <label for="title" class="col-sm-2 col-form-label">local tags</label>
            <div class="col-sm">
                <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                    <div class="col-sm">
                        <pure-chips [form]="form" [chips]="localTags.value" [control_name]="'localTags'"></pure-chips>
                    </div>
                    <div class="col-sm-1">
                        <!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                    </div>
                </div>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row mb-3 px-3">
            <div class="col-sm offset-sm-2">
                <button class="ms-sm-1 btn btn-sm btn-outline-secondary" type="submit" value="save">S A V E</button>
            </div>
        </div>
    </form>
</div>
<pre>valid? {{form.valid}}</pre>
<div class="container-fluid d-sm-flex flex-sm-row mb-1">
    <pre class="col-sm">{{form.value | json}}</pre>
    <pre class="col-sm">{{form_2_submit | json}}</pre>
</div>
} @else {
<!--TODO No Depositor/Admin rights Page/Message-->
<p>No Depositor/Admin rights</p>
}