<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">
    {{ 'batch.actions.metadata.source.changeGenre' | translate }}
  </h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.source.changeGenre.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeSourceGenreForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.changeGenre.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceGenreFrom" 
          [class.is-invalid]="changeSourceGenreForm.get('sourceGenreFrom')?.invalid && changeSourceGenreForm.get('sourceGenreFrom')?.touched || changeSourceGenreForm.get('sourceGenreFrom')?.pending">
          <option [value]="null" selected disabled hidden>Genre</option>
          @for (genre of (sourceGenres | sortByLabel : 'SourceGenre.'); track genre) {
            <option [value]="genre">{{ 'SourceGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeSourceGenreForm.get('sourceGenreFrom')"/>
      </div>
    </div>    

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.changeGenre.to' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceGenreTo" 
          [class.is-invalid]="changeSourceGenreForm.get('sourceGenreTo')?.invalid && changeSourceGenreForm.get('sourceGenreTo')?.touched || changeSourceGenreForm.get('sourceGenreTo')?.pending">
          <option [value]="null" selected disabled hidden>Genre</option>
          @for (genre of (sourceGenres | sortByLabel : 'SourceGenre.'); track genre) {
            <option [value]="genre"> {{ 'SourceGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeSourceGenreForm.get('sourceGenreTo')"/>
        <pure-validation-error [control]="changeSourceGenreForm"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeSourceGenreForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>