<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">
    {{ 'batch.actions.metadata.source.changeGenre' | translate }}
  </h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.source.changeGenre.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeSourceGenreForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.changeGenre.from' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceGenreFrom" [ngClass]="{'border border-danger': changeSourceGenreForm.get('sourceGenreFrom')?.pending}">
          <option [value]="null" selected disabled hidden>Genre</option>
          @for (genre of sourceGenres; track genre) {
            <option [value]="genre">{{ 'SourceGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeSourceGenreForm.controls['sourceGenreFrom'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeSourceGenreForm.controls['sourceGenreFrom']) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>    

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">
          {{ 'batch.actions.metadata.source.changeGenre.to' | translate }}
        </label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceGenreTo" [ngClass]="{'border border-danger': changeSourceGenreForm.get('sourceGenreTo')?.pending}">
          <option [value]="null" selected disabled hidden>Genre</option>
          @for (genre of sourceGenres; track genre) {
            <option [value]="genre"> {{ 'SourceGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeSourceGenreForm.controls['sourceGenreTo'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeSourceGenreForm.controls['sourceGenreTo']) }}
        </span>
        } @else if(changeSourceGenreForm.hasError('notEquals')) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.source.changeGenre.invalid' | translate }} {{ valSvc.getErrorMsg(changeSourceGenreForm) }}
        </span>
        } @else {
          <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeSourceGenreForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>