
@let colorClass= (action === 'delete' || action === 'withdraw') ? 'danger' : 'primary';

<div class="modal-header">
  <h4 class="modal-title" [class.text-danger]="action === 'withdraw'|| action === 'delete'" id="modal-basic-title">
    {{ 'common.' + action | translate }}
    @if(action === 'rollback') {
     Version {{rollbackVersion}}
    }

  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>


<form #commentForm="ngForm">
<div class="modal-body">
  @if(errorMessage) {
    <div class="alert alert-danger text-break" role="alert">
      {{ errorMessage }}
    </div>
  }


  <p>{{'common.item' | translate}} {{item.objectId}}<br/>
  <b>{{item.metadata.title}}</b>
  </p>


  @if(action === 'release') {
    <p class="small" [innerHTML]="'common.releaseExportControl' | translate"></p>
  }

  @if(action !== 'delete' && action !== 'addDoi' && action !== 'rollback') {

      <div class="form-group">
        <label for="inputComment">{{ 'common.comment' | translate}}{{action === 'withdraw' ? '*' : ''}}</label>
        <textarea type="text"
                  id="inputComment"
                  name="comment"
                  rows="4"
                  class="form-control"
                  [class.is-invalid]="commentInput.invalid && commentInput.touched"
                  placeholder="{{ 'common.comment' | translate}}" [(ngModel)]="comment"
                  [required]="action === 'withdraw'"
                  #commentInput="ngModel">

        </textarea>
        <div class="invalid-feedback">
          Please add a comment.
        </div>
      </div>
  }

  @if(colorClass === 'danger') {
    <p class="text-danger">{{'common.actionWarning' | translate}}</p>
  }

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm border-2" (click)="activeModal.close()" [disabled]="loading">{{'common.cancel' | translate}}


  </button>
  <button type="submit" class="btn btn-{{colorClass}} btn-sm border-2" (click)="go()" [disabled]="loading || commentForm.invalid">{{ 'common.' + action | translate }}
    @if(loading)
    {
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span class="visually-hidden" role="status">Loading...</span>
    }
  </button>


</div>
</form>





