<div class="imports">
    <div class="modal-header">
        <h4 class="modal-title">Log</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    
    <div class="modal-body">
        <!--div class="d-flex flex-column justify-content-center pt-5 text-success">
            <hr>
            <p class="d-flex justify-content-center text-success">import-list-details-log works!</p>
            <img class="mx-auto" src="/assets/images/mocks/Screenshot_logs.png" aria-hidden="true" width="30%">
            <hr>
        </div-->
        <pre>{{ log }}</pre>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>