<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
    <h2 class="m-0" i18n="@@batch.actions.genre.change">Change Genre</h2>
    <div class="mt-2 mb-5">
      <p>
        The items will be transformed from one genre to another.
      </p>
      <p><strong>
          Please note that all metadata fields that are not allowed within the new genre will be deleted
          automatically!
        </strong></p>
    </div>

    <form [formGroup]="changeGenreForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3 row">
        <div class="col-sm-2">
          <label class="col-form-label">Genre to be replaced</label>
        </div>
        <div class="col-sm-10">
          <select class="form-select" formControlName="genreFrom">
            <option [value]='' selected disabled>Genre</option>
            @for (genre of genres; track genre) {
              <option [value]="genre">{{genre | titlecase}}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label class="col-form-label">Replacing genre</label>
        </div>
        <div class="col-sm-10">
          <select class="form-select" formControlName="genreTo">
            <option [value]=''  selected disabled>Genre</option>
            @for (genre of genres; track genre) {
              <option [value]="genre">{{genre | titlecase}}</option>
            }
          </select>
        </div>
      </div>

      <div class="mb-2 row">
        <div class="offset-sm-2 col-sm-6">
          @if (valSvc.notValidField(changeGenreForm.controls['genreTo'])) {
          <span class="form-text text-danger small">
            Previous and new genres {{ valSvc.getFieldError(changeGenreForm.controls['genreTo']) }}
          </span>
          } @else {
          <span>&nbsp;</span>
          }
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" [ngClass]="{'text-secondary': !changeGenreForm.controls['genreTo'].value.includes('THESIS')}">Degree type</label>
        <div class="col-sm-10">
          <select class="form-select" formControlName="degreeType" [attr.disabled]="changeGenreForm.controls['genreTo'].value.includes('THESIS') ? null : ''">
            <option value=null selected disabled>Type</option>
            @for (degreeType of degreeTypes; track degreeType) {
              <option [value]="degreeType">{{degreeType | titlecase}}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-9 col-sm-3">
          <button type="submit" [disabled]="changeGenreForm.invalid || changeGenreForm.pristine" 
            class="btn btn-outline-secondary col-4 float-end">
            GO
          </button>
        </div>
      </div>
    </form>

  </div>