<div class="accordion-item border-0">

  <h2 class="accordion-header">
    <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#accordionBodyFilesGroup" aria-expanded="true"
            aria-controls="accordionBodyFilesGroup">
      {{fileSectionSearchCriterion.type === 'INTERNAL_MANAGED' ? 'Files' : 'Locators'}}
    </button>
  </h2>
  <div id="accordionBodyFilesGroup" class="accordion-collapse collapse show">
    <div class="accordion-body mt-3 mb-3">

      <div class="row">
        <div class="col-md-6 col-xxl-4">
          <div class="container mb-4">
            <h5>with {{fileSectionSearchCriterion.type === 'INTERNAL_MANAGED' ? 'file(s)' : 'locator(s)'}}</h5>
            <select class="form-select"
                    [formControl]="$any(fileSectionSearchCriterion.content).get('component_available')">
              @for (val of fileSectionSearchCriterion.availabilityOptions; track val) {
                <option [value]="val">
                  {{ val }}
                </option>
              }
            </select>
          </div>
          @if (fileSectionSearchCriterion.type === 'INTERNAL_MANAGED') {
            <div class="container mb-4">
              <h5>Visibility</h5>
              @for (visibility of fileSectionSearchCriterion.componentVisibilitySearchCriterion.visibilityOptions; track visibility; let i = $index; ) {
                <div class="col-md-6 col-xxl-4">
                  <div class="form-check">
                    <input id="fileVisibility{{i}}" class="form-check-input" type="checkbox"
                           [formControl]="$any(fileSectionSearchCriterion.componentVisibilitySearchCriterion.componentVisibilityFormGroup).get(visibility)"/>
                    <label class="form-check-label" for="fileVisibility{{i}}">{{ visibility }}</label>
                  </div>
                </div>
              }

            </div>

            <div class="container">
              <h5>Embargo Date</h5>
              <div class="container">
                from:
                <input class="form-control" type="text"
                       [formControl]="$any(fileSectionSearchCriterion.embargoDateSearchCriterion.content).get('from')"
                       placeholder="YYYY-MM-DD"/>
              </div>

              <div class="container">
                to:
                <input class="form-control" type="text"
                       [formControl]="$any(fileSectionSearchCriterion.embargoDateSearchCriterion.content).get('to')"
                       placeholder="YYYY-MM-DD"/>
              </div>
            </div>
          }

        </div>

          <div class="col-md-6 col-xxl-4">
            <h5>Content Category</h5>
            @for (cc of fileSectionSearchCriterion.componentContentCategorySearchCriterion.contentCategoryOptions; track cc; let i = $index; ) {

              <div class="form-check">
                <input id="fileCcName{{i}}" class="form-check-input" type="checkbox"
                       [formControl]="$any(fileSectionSearchCriterion.componentContentCategorySearchCriterion.contentCategoryFormGroup).get(cc)"/>
                <label class="form-check-label" for="fileCcName{{i}}">{{ cc }}</label>
              </div>
            }
          </div>
          <div class="col-md-6 col-xxl-4">
            <h5>OA Status</h5>
            @for (cc of fileSectionSearchCriterion.oaStatusSearchCriterion.oaStatusOptions; track cc; let i = $index; ) {

              <div class="form-check">
                <input id="oaStatus{{i}}" class="form-check-input" type="checkbox"
                       [formControl]="$any(fileSectionSearchCriterion.oaStatusSearchCriterion.oaStatusFormGroup).get(cc)"/>
                <label class="form-check-label" for="oaStatus{{i}}">{{ cc }}</label>
              </div>
            }
          </div>
        </div>


      </div>
    </div>
  </div>
