<div class="accordion-item border-0">

  <h2 class="accordion-header">
    <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#accordionBodyFilesGroup_' + fileSectionSearchCriterion.type" aria-expanded="true"
            aria-controls="accordionBodyFilesGroup">
      {{(fileSectionSearchCriterion.type === 'INTERNAL_MANAGED' ? 'common.files' : 'common.links') | translate}}
    </button>
  </h2>
  <div id="{{'accordionBodyFilesGroup_' + fileSectionSearchCriterion.type}}" class="accordion-collapse collapse show">
    <div class="accordion-body mt-3 mb-3">

      <div class="row">
        <div class="col-md-6 col-xxl-4">
          <div class="container mb-4">
            <h5>{{(fileSectionSearchCriterion.type === 'INTERNAL_MANAGED' ? 'common.files' : 'common.links') | translate}}</h5>
            <select class="form-select"
                    [formControl]="$any(fileSectionSearchCriterion.content).get('component_available')">
              @for (val of fileSectionSearchCriterion.availabilityOptions; track val) {
                <option [value]="val">
                  {{ 'Search.' + val | translate}}
                </option>
              }
            </select>
          </div>
          @if (fileSectionSearchCriterion.type === 'INTERNAL_MANAGED') {
            <div class="container mb-4">
              <h5>{{ 'FileMetadataFields.visibility' | translate }}</h5>
              @for (visibility of fileSectionSearchCriterion.componentVisibilitySearchCriterion.visibilityOptions; track visibility; let i = $index; ) {
                <div class="col-md-6 col-xxl-4">
                  <div class="form-check">
                    <input id="{{fileSectionSearchCriterion.type}}fileVisibility{{i}}" class="form-check-input" type="checkbox"
                           [formControl]="$any(fileSectionSearchCriterion.componentVisibilitySearchCriterion.componentVisibilityFormGroup).get(visibility)"/>
                    <label class="form-check-label" for="{{fileSectionSearchCriterion.type}}fileVisibility{{i}}">{{ 'Visibility.' + visibility | translate}}</label>
                  </div>
                </div>
              }

            </div>

            <div class="container">
              <h5>{{ 'FileMetadataFields.embargoDate' | translate }}</h5>
              <div class="container">
                {{ 'common.from' |translate }}:
                <input class="form-control" type="text"
                       [formControl]="$any(fileSectionSearchCriterion.embargoDateSearchCriterion.content).get('from')"
                       [placeholder]="'common.dateFormat' | translate"/>
              </div>

              <div class="container">
                {{ 'common.to' |translate }}:
                <input class="form-control" type="text"
                       [formControl]="$any(fileSectionSearchCriterion.embargoDateSearchCriterion.content).get('to')"
                       [placeholder]="'common.dateFormat' | translate"/>
              </div>
            </div>
          }

        </div>

          <div class="col-md-6 col-xxl-4">
            <h5>{{ 'FileMetadataFields.contentCategory' | translate }}</h5>
            @for (cc of fileSectionSearchCriterion.componentContentCategorySearchCriterion.contentCategoryOptions; track cc; let i = $index; ) {

              <div class="form-check">
                <input id="{{fileSectionSearchCriterion.type}}fileCcName{{i}}" class="form-check-input" type="checkbox"
                       [formControl]="$any(fileSectionSearchCriterion.componentContentCategorySearchCriterion.contentCategoryFormGroup).get(cc)"/>
                <label class="form-check-label" for="{{fileSectionSearchCriterion.type}}fileCcName{{i}}">{{ 'ContentCategories.' + cc | translate }}</label>
              </div>
            }
          </div>
          <div class="col-md-6 col-xxl-4">
            <h5>{{ 'FileMetadataFields.oaStatus' | translate }}</h5>
            @for (cc of fileSectionSearchCriterion.oaStatusSearchCriterion.oaStatusOptions; track cc; let i = $index; ) {

              <div class="form-check">
                <input id="{{fileSectionSearchCriterion.type}}oaStatus{{i}}" class="form-check-input" type="checkbox"
                       [formControl]="$any(fileSectionSearchCriterion.oaStatusSearchCriterion.oaStatusFormGroup).get(cc)"/>
                <label class="form-check-label" for="{{fileSectionSearchCriterion.type}}oaStatus{{i}}">{{ 'OAStatus.' + cc | translate }}</label>
              </div>
            }
          </div>
        </div>


      </div>
    </div>
  </div>
