<div class="form-control border-0 p-4 mb-2">
  <h2 class="m-0" i18n="@@batch.actions.metadata.orcid.add">Add ORCID</h2>
  <div class="mt-2 mb-5">
    The ORCID stored in CoNE for the selected person will be added to the
    items. Any existing values will be overwritten.
  </div>

  <form [formGroup]="changeOrcidForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label"for="changeOrcidForm">CoNE</label>
      </div>
      <div class="col-sm-8">
        <pure-selector id="changeOrcidForm" [form]="changeOrcidForm" [control_name]="'completeName'" (notice)="updatePerson($event)" pureConePersons
          placeholder="search cone ...">
          <ng-container *pureOption="let item">{{ item.text }}</ng-container>
        </pure-selector>
      </div>
      <div *ngIf="changeOrcidForm.get('orcid')?.value" class="col-sm-1">
        <a href="{{changeOrcidForm.get('orcid')?.value}}">
          <img class="" height="24px" width="auto" src="assets/images/orcid.svg" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="!changeOrcidForm.valid" class="btn btn-outline-secondary col-1 float-end">
          Add
        </button>
      </div>
    </div>
  </form>

</div>