<div class="modal-content bg-light-subtle p-4">
  @if (message.title) {
  <div class="modal-header bg-info-subtle text-center p-1">
    <h5 class="modal-title">{{message.title}}</h5>
  </div>
  }
  <div class="modal-body">
    <span class="text-info-emphasis">{{message.text}}</span>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary btn-sm me-3" (click)="confirm()">{{message.confirm}}</button>
    <button type="button" class="btn btn-outline-info btn-sm" (click)="reject()">{{message.reject}}</button>
  </div>
</div>