<div [formGroup]="meta_form">
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
        <label for="title" class="col-sm-2 col-form-label col-form-label-sm">title</label>
        <div class="col-sm">
            <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm">
                    <input type="text" class="form-control form-control-sm" id="title" name="title"
                        formControlName="title">
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <label for="alt_titles" class="col-sm-2 col-form-label col-form-label-sm">alternative titles</label>
        <div class="col-sm">
            <ng-container formArrayName="alternativeTitles">
                @for (alt of alternativeTitles.controls; track alt; let ati = $index) {
                <ng-container [formGroupName]="ati">
                    <pure-alt-title-form [alt_title_form]="alt" [index]="ati"
                        [index_length]="alternativeTitles.controls.length"
                        (notice)="handleAltTitleNotification($event)"></pure-alt-title-form>
                </ng-container>
                } @empty {
                <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'add title'"
                    (notice)="handleAltTitleNotification($event)"></pure-add-remove-buttons>
                }
            </ng-container>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
        <label for="genre" class="col-sm-2 col-form-label col-form-label-sm">genre</label>
        <div class="col-sm">
            <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm">
                    <select id="genre" class="form-select form-select-sm" formControlName="genre"
                        (change)="genre_change($event)">
                        <option [value]="null" selected>genre</option>
                        @for (g of genre_types; track g) {
                        <option [value]="g">{{g}}</option>
                        }
                    </select>
                </div>
                <div class="col-sm-1"><!--NEEDED to keep the layout including one last collumn for add-remove buttons-->
                </div>
            </div>

        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <label for="creatures" class="col-sm-1 col-form-label col-form-label-sm">creators</label>
        <div class="col-sm">
            <ng-container formArrayName="creators">
                @for (creature of creators.controls; track creature; let ci = $index) {
                <ng-container [formGroupName]="ci">
                    <pure-creator-form [creator_form]="creature" [index]="ci" [index_length]="creators.length"
                        (notice)="handleCreatorNotification($event)"></pure-creator-form>
                </ng-container>
                } @empty {
                <div class="col-sm offset-sm-1 ps-2">
                    <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'add creator'"
                        (notice)="handleCreatorNotification($event)"></pure-add-remove-buttons>
                </div>
                }
            </ng-container>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">
        <label class="col-sm-2 col-form-label col-form-label-sm">Dates</label>
        <div class="col-sm-9">
            <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Accepted</label>
                    <input type="text" class="form-control form-control-sm" formControlName="dateAccepted">
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Created</label>
                    <input type="text" class="form-control form-control-sm" formControlName="dateCreated">
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Modified</label>
                    <input type="text" class="form-control form-control-sm" formControlName="dateModified">
                </div>
            </div>
            <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Published in Print</label>
                    <input type="text" class="form-control form-control-sm" formControlName="datePublishedInPrint">
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Published Online</label>
                    <input type="text" class="form-control form-control-sm" formControlName="datePublishedOnline">
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Date Published Online</label>
                    <input type="text" class="form-control form-control-sm" formControlName="dateSubmitted">
                </div>
            </div>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
        <label class="col-sm-2 col-form-label col-form-label-sm">Thesis</label>
        <div class="col-sm-9">
            <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">Degree</label>
                    <input type="text" class="form-control form-control-sm" formControlName="degree">
                </div>
            </div>
        </div>
    </div>
    <pure-event-form [event_form]="event"></pure-event-form>
    <pure-legal-case-form [legal_case_form]="legalCase"></pure-legal-case-form>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
        <label class="col-sm-2 col-form-label col-form-label-sm">Identifiers</label>
        <div class="col-sm">
            <ng-container formArrayName="identifiers">
                @for (identifier of identifiers.controls; track identifier; let identifierIndex = $index) {
                <ng-container [formGroupName]="identifierIndex">
                    <pure-identifier-form [identifier_form]="identifier" [index]="identifierIndex" [multi]="true"
                        [index_length]="identifiers.controls.length"
                        (notice)="handleIdentifierNotification($event)"></pure-identifier-form>
                </ng-container>
                }
                @empty {
                <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'add identifier'"
                    (notice)="handleIdentifierNotification($event)"></pure-add-remove-buttons>
                }
            </ng-container>
        </div>
    </div>
    <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
        <label for="languages" class="col-sm-2 col-form-label col-form-label-sm">Languages</label>
        <div class="col-sm" id="languages">
            <ng-container formArrayName="languages">
                @for (language of languages.controls; track languageIndex; let languageIndex = $index) {
                <ng-container [formGroupName]="languageIndex">
                    <pure-language-form [language_form]="language" [index]="languageIndex" [multi]="true"
                        [index_length]="languages.controls.length"
                        (notice)="handleLanguageNotification($event)"></pure-language-form>
                </ng-container>
                }
                @empty {
                <pure-add-remove-buttons [index]="0" [del_val]="'hidden'" [add_val]="'add identifier'"
                    (notice)="handleLanguageNotification($event)"></pure-add-remove-buttons>
                }
            </ng-container>
        </div>
    </div>
</div>