<div class="form-control border-0 p-4 mb-2">

    <div class="mt-2 mb-5">
      The review type in all items will be changed as follows
    </div>

    <form [formGroup]="changeReviewMethodForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Review types to be replaced</label>
        <div class="col-sm-9">
          <select class="form-control form-select" formControlName="reviewMethodFrom">
            <option value="" selected="selected">-</option>
            <option *ngFor="let method of reviewMethods" [ngValue]="method">
              {{method | titlecase}}</option>
          </select>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Replacing review types</label>
        <div class="col-sm-9">
          <select class="form-control form-select" formControlName="reviewMethodTo">
            <option value="" selected="selected">-</option>
            <option *ngFor="let method of reviewMethods" [ngValue]="method">
              {{method | titlecase}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-3 col-sm-6">
					<div *ngIf="changeReviewMethodForm.controls['reviewMethodTo'].hasError('fieldsMatch')" class="form-text text-danger">
						Both fields can't have the same value.
					</div>
        </div>
        <div class="col-sm-3">
          <button type="submit" [disabled]="!changeReviewMethodForm.valid" class="btn btn-outline-secondary col-4 float-end">
            Change
          </button>
        </div>
      </div>
    </form>

  </div>