<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
    <h4 class="m-0">{{ 'batch.actions.metadata.extRef.contentCategory' | translate }}</h4>
    <div class="mt-2 mb-5">
        <span>
            {{ 'batch.actions.metadata.extRef.contentCategory.info' | translate }}
        </span>
    </div>

    <form [formGroup]="changeExternalReferenceContentCategoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label text-nowrap text-truncate">{{ 'batch.actions.metadata.extRef.contentCategory.from' | translate
                    }}</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryFrom"
                    [class.is-invalid]="changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryFrom')?.invalid && changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryFrom')?.touched || changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryFrom')?.pending">
                    <option [value]="null" selected disable hidden>{{ 'batch.actions.metadata.extRef.contentCategory' |
                        translate }}
                    </option>
                    @for (category of (contentCategories | sortByLabel : 'ContentCategories.'); track category) {
                    <option [value]="category"> {{ 'ContentCategories.' + category | translate }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-3 row validation-error">
            <div class="offset-sm-3 col-sm-6">
                <pure-validation-error [control]="changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryFrom')"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label text-nowrap text-truncate">{{ 'batch.actions.metadata.extRef.contentCategory.to' | translate
                    }}</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryTo"
                    [class.is-invalid]="changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryTo')?.invalid && changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryTo')?.touched || changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryTo')?.pending">
                    <option [value]="null" selected disable hidden>{{ 'batch.actions.metadata.extRef.contentCategory' |
                        translate }}
                    </option>
                    @for (category of (contentCategories | sortByLabel : 'ContentCategories.'); track category) {
                    <option [value]="category"> {{ 'ContentCategories.' + category | translate }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-3 row validation-error">
            <div class="offset-sm-3 col-sm-6">
                <pure-validation-error [control]="changeExternalReferenceContentCategoryForm.get('externalReferenceContentCategoryTo')"/>
                <pure-validation-error [control]="changeExternalReferenceContentCategoryForm"/>
            </div>
        </div>

        <div class="row">
            <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
                <button type="submit" [disabled]="!changeExternalReferenceContentCategoryForm.valid"
                    class="btn btn-outline-primary float-end">
                    GO
                </button>
            </div>
        </div>
    </form>

</div>