<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
    <h4 class="m-0">{{ 'batch.actions.metadata.extRef.contentCategory' | translate }}</h4>
    <div class="mt-2 mb-5">
        <span>
            {{ 'batch.actions.metadata.extRef.contentCategory.info' | translate }}
        </span>
    </div>

    <form [formGroup]="changeExternalReferenceContentCategoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3 row">
            <div class="col-sm-3">
                <label class="col-form-label">{{ 'batch.actions.metadata.extRef.contentCategory.from' | translate }}</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryFrom">
                    <option [value]='' selected disabled>{{ 'batch.actions.metadata.extRef.contentCategory' | translate }}
                    </option>
                    @for (category of contentCategories; track category) {
                    <option [value]="category"> {{ 'ContentCategories.' + category | translate }}</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">{{ 'batch.actions.metadata.extRef.contentCategory.to' | translate }}</label>
            </div>
            <div class="col-sm-9">
                <select class="form-select" formControlName="externalReferenceContentCategoryTo">
                    <option [value]='' selected disabled>{{ 'batch.actions.metadata.extRef.contentCategory' | translate }}
                    </option>
                    @for (category of contentCategories; track category) {
                    <option [value]="category"> {{ 'ContentCategories.' + category | translate }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="offset-sm-3 col-sm-6">
                @if
                (valSvc.notValidField(changeExternalReferenceContentCategoryForm.controls['externalReferenceContentCategoryTo']))
                {
                <span class="form-text text-danger small">
                    {{ 'batch.actions.metadata.extRef.contentCategory.invalid' | translate }} {{
                    valSvc.getErrorMsg(changeExternalReferenceContentCategoryForm) }}
                </span>
                } @else {
                <span>&nbsp;</span>
                }
            </div>
        </div>

        <div class="row">
            <div>
                <button type="submit"
                    [disabled]="changeExternalReferenceContentCategoryForm.invalid || changeExternalReferenceContentCategoryForm.pristine"
                    class="btn btn-outline-primary float-end">
                    GO
                </button>
            </div>
        </div>
    </form>

</div>