<div [formGroup]="subject_form"
    [ngClass]="{'d-none' : !genreSpecificProperties.properties.content_item_subject.display}">
    <div class="d-sm-flex flex-sm-row gap-1 mb-1">

        <div class="col-sm-2">
            <label for="subject_type" class="col-sm-2 col-form-label">Type</label>
            <select id="subject_type" class="form-select" formControlName="type">
                <option [value]="null" selected disabled>Type</option>
                @for (subject_classification_type of subject_classification_types; track subject_classification_type) {
                <option [value]="subject_classification_type">{{subject_classification_type}}</option>
                }
            </select>
            @if(subject_form.errors?.[error_types.SUBJECT_TYPE_NOT_PROVIDED]) {
            <div class="d-sm-flex flex-sm-row gap-1 mb-1">
                <div class="text-sm text-danger">Subject-Type required</div>
            </div>
            }
        </div>
        <div class="col-sm">
            <label for="subject_value" class="col-sm-2 col-form-label">Value</label>
            <input type="text" class="form-control" id="subject_value" name="subject_value" formControlName="value">
        </div>
        <div class="col-sm-1">
            <pure-add-remove-buttons [index]="index" (notice)="add_remove_subject($event)"></pure-add-remove-buttons>
        </div>
    </div>
</div>