<form [formGroup]="replaceKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row">
    <label class="col-sm-3 col-form-label">
      {{ 'batch.actions.metadata.publication.keywordsReplace.to' | translate }}
    </label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="keywords"
        [class.is-invalid]="replaceKeywordsForm.get('keywords')?.invalid && replaceKeywordsForm.get('keywords')?.touched || replaceKeywordsForm.get('keywords')?.pending">
    </div>
  </div>
  <div class="mb-2 row validation-error">
    <div class="offset-sm-3 col-sm-6">
      <pure-validation-error [control]="replaceKeywordsForm.get('keywords')"/>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
      <button type="submit" [disabled]="!replaceKeywordsForm.valid" class="btn btn-outline-primary float-end">
        GO
      </button>
    </div>
  </div>
</form>