<ng-template #personAutosuggestTemplate let-r="result" let-t="term">
  <ngb-highlight [result]="r.value" [term]="t" [style.font-size]="(r.type==='alt') ? 'small' : ''"
    [style.padding-left]="(r.type==='alt') ? '20px' : ''"
    [style.background-color]="(r.type==='main') ? 'lightgrey' : ''"></ngb-highlight>
</ng-template>

<div class="input-group">
  @if(formForPersonsCompleteName) {
  <input class="form-control" type="text" [formControl]="formForPersonsCompleteName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsId && formForPersonsId.value" placeholder="Start typing..." />
  } @else if (formForPersonsGivenName && formForPersonsFamilyName) {
    <input class="form-control form-control-sm" type="text" [formControl]="formForPersonsFamilyName" [ngbTypeahead]="suggestPersons"
    (selectItem)="suggestPersonsSelector($event)" [resultTemplate]="personAutosuggestTemplate"
    [readonly]="formForPersonsId && formForPersonsId.value" placeholder="Start typing..." />
  }

  @if(searching) {

  <button class="btn btn-outline-dark btn-sm" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }
  @if(formForPersonsId && formForPersonsId.value) {
  <button class="btn btn-outline-dark btn-sm" type="button" (click)="deleteFields()">
    <span class="bi bi-x" style="font-size: 0.875rem;"></span>
  </button>
  }
</div>
