<div class="imports">
  <div class="logs">
    @if(collectionSize > 25) {
    <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">

      <div class="col-12 d-inline-flex justify-content-end">
        <div class="small d-inline-flex align-items-center py-1">
          <pure-paginator [totalNumberOfItems]="collectionSize" [(pageNumber)]="currentPage" [(size)]="pageSize" (paginatorChanged)="refreshLogs()" />
        </div>
      </div>
    </div>
    }
    
    <div class="row">
      <div class="d-flex flex-column flex-lg-row col-12 justify-content-between mt-5 mb-3 border-bottom">
        <div class="text-nowrap text-truncate">
          @if( item?.itemId ) {
          <span>{{ 'imports.list.details.for' | translate }}</span>: <strong class="fw-bolder" data-test="item-id">{{ item?.itemId }}
          </strong>
          }
        </div>
        <div class="fw-light text-nowrap text-truncate">
          <span>{{ 'imports.list.started.on' | translate }}</span>&nbsp;
          <span>{{ item!.startDate | localizeDate }}</span>&nbsp;
          <span class="material-symbols-outlined text-secondary" style="cursor: auto">
            schedule</span>&nbsp;
          <span> {{ item?.startDate | date: "HH:mm" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-responsive col-12">
          <thead>
            <tr>
              <th scope="col" class="d-flex d-none d-md-table-cell col-2">Status</th>
              <th scope="col" class="d-flex d-none d-md-table-cell col-2">{{ 'imports.list.header.message' | translate }}</th>
              <th scope="col" class="d-flex d-none d-md-table-cell col-8">{{ 'imports.list.header.title' | translate }}</th>
            </tr>
          </thead>
        </table>
        <table class="table table-responsive col-12">
          <tbody>
            @if(collectionSize > 0) {
              <ng-container>
                @for (detail of inPage; track detail.id) {
                  @defer (on viewport) {
    
                  <pure-import-item-log [detail]="detail"></pure-import-item-log>
    
                  }
                  @placeholder {
                  <div>...</div>
                  }
                }
                @empty {
    
                <tr>
                  <th colspan="3" class="text-center col-12">
                    <span class="text-center">{{ 'imports.list.empty' | translate }}</span>
                  </th>
                </tr>
    
                }
              </ng-container>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>