<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadata">

    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingFiles">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
          <span class="float-start ps-2" i18n="@@batch.actions.metadata.files">Files</span>
        </button>
      </h4>
      <div id="collapseFiles" class="accordion-collapse collapse" aria-labelledby="headingFiles"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body p-0 my-3">
          <pure-batch-actions-metadata-files />
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingReferences">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseReferences" aria-expanded="false" aria-controls="collapseReferences">
          <span class="float-start ps-2" i18n="@@batch.actions.metadata.extRef">External References</span>
        </button>
      </h4>
      <div id="collapseReferences" class="accordion-collapse collapse" aria-labelledby="headingReferences"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body p-0 my-3">
          <pure-batch-actions-metadata-external-references />
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingORCID">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseORCID" aria-expanded="false" aria-controls="collapseORCID">
          <span class="float-start ps-2">ORCID</span>
        </button>
      </h4>
      <div id="collapseORCID" class="accordion-collapse collapse" aria-labelledby="headingORCID"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body p-0 my-3">
          <pure-batch-actions-metadata-orcid />
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingPublication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsePublication" aria-expanded="false" aria-controls="collapsePublication">
          <span class="float-start ps-2" i18n="@@batch.actions.metadata.publication">Publication</span>
        </button>
      </h4>
      <div id="collapsePublication" class="accordion-collapse collapse" aria-labelledby="headingPublication"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body p-0 my-3">
          <pure-batch-actions-metadata-publication />
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingSource">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSource" aria-expanded="false" aria-controls="collapseSource">
          <span class="float-start ps-2" i18n="@@batch.actions.metadata.source">Source</span>
        </button>
      </h4>
      <div id="collapseSource" class="accordion-collapse collapse" aria-labelledby="headingSource"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body p-0 my-3">
          <pure-batch-actions-metadata-source />
        </div>
      </div>
    </div>

  </div>
</div>