<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadata">

    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingFiles">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
          <span class="float-start ps-2 m-3">Files</span>
        </button>
      </h4>
      <div id="collapseFiles" class="accordion-collapse collapse" aria-labelledby="headingFiles"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body">
          <pure-actions-metadata-files></pure-actions-metadata-files>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingReferences">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseReferences" aria-expanded="false" aria-controls="collapseReferences">
          <span class="float-start ps-2 m-3">External References</span>
        </button>
      </h4>
      <div id="collapseReferences" class="accordion-collapse collapse" aria-labelledby="headingReferences"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body">
          <pure-actions-metadata-external-references></pure-actions-metadata-external-references>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingORCID">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseORCID" aria-expanded="false" aria-controls="collapseORCID">
          <span class="float-start ps-2 m-3">ORCID</span>
        </button>
      </h4>
      <div id="collapseORCID" class="accordion-collapse collapse" aria-labelledby="headingORCID"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body">
          <pure-actions-metadata-orcid></pure-actions-metadata-orcid>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingPublication">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsePublication" aria-expanded="false" aria-controls="collapsePublication">
          <span class="float-start ps-2 m-3">Publication</span>
        </button>
      </h4>
      <div id="collapsePublication" class="accordion-collapse collapse" aria-labelledby="headingPublication"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body">
          <pure-actions-metadata-publication></pure-actions-metadata-publication>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h4 class="accordion-header header_second_color" id="headingSource">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSource" aria-expanded="false" aria-controls="collapseSource">
          <span class="float-start ps-2 m-3">Source</span>
        </button>
      </h4>
      <div id="collapseSource" class="accordion-collapse collapse" aria-labelledby="headingSource"
        data-bs-parent="#accordionMetadata">
        <div class="accordion-body">
          <pure-actions-metadata-source></pure-actions-metadata-source>
        </div>
      </div>
    </div>

  </div>
</div>