<div class="nav-item dropdown-center">

  <a class="nav-link" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="material-symbols-outlined">apps</span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="toolsDropdown" style="transform: translateX(-4em);">
    @if (aaService.principal.getValue().isLocalAdmin || aaService.principal.getValue().isAdmin) {
    <li><a class="dropdown-item" href='https://gui.inge.mpdl.mpg.de/admintool/' target="_blank" rel="noopener noreferrer"><span class="material-symbols-outlined">
          settings
        </span> Admintool</a>
    </li>
    }
    <li><a class="dropdown-item" href='https://gui.inge.mpdl.mpg.de/cone/' target="_blank" rel="noopener noreferrer">
        <svg height="24px" width="24px">
          <use href="assets/icons/icons.svg#cone-bw"></use>
        </svg> CoNE</a>
    </li>
    <li><a class="dropdown-item" href='https://pure.mpg.de/csl-editor/' target="_blank" rel="noopener noreferrer">      
      <svg height="24px" width="24px">
          <use href="assets/icons/icons.svg#format_quote"></use>
      </svg><span> {{'header.tools.cslEditor' | translate}}</span></a>
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;<span class="material-symbols-outlined">
          api
        </span> {{'header.tools.restApi' | translate}}
    </li>
    <li><a class="dropdown-item" href='https://gui.inge.mpdl.mpg.de/rest/swagger-ui/index.html' target="_blank" rel="noopener noreferrer">
      <span class="ps-4">&bull; {{'header.tools.restApi.swagger' | translate}}</span></a>
    </li>
    <li><a class="dropdown-item" href='https://colab.mpdl.mpg.de/mediawiki/INGe_REST_API_Documentation' target="_blank" rel="noopener noreferrer">
      <span class="ps-4">&bull; {{'header.tools.restApi.documentation' | translate}}</span></a>
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;<span class="material-symbols-outlined">
          stream
        </span> {{'header.tools.oaiPmh' | translate}}
    </li>
    <li><a class="dropdown-item" href='https://gui.inge.mpdl.mpg.de/oai/provider' target="_blank" rel="noopener noreferrer">
      <span class="ps-4">&bull; {{'header.tools.oaiPmh.url' | translate}}</span></a>
    </li>
    <li><a class="dropdown-item" href='https://gui.inge.mpdl.mpg.de/oai/oaisearch.do' target="_blank" rel="noopener noreferrer">
      <span class="ps-4">&bull; {{'header.tools.oaiPmh.search' | translate}}</span></a>
    </li>
  </ul>

</div>