<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0" i18n="@@batch.actions.metadata.files.contentCategory">Content Category</h4>
    <div class="mt-2 mb-5">
      <span i18n="@@batch.actions.metadata.files.contentCategory.info">
        The file content category will be changed as follows:
      </span>
    </div>

    <form [formGroup]="changeFileContentCategoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="col-form-label" i18n="@@batch.actions.metadata.files.contentCategory.from">Content category to be replaced</label>
        </div>
        <div class="col-sm-9">
          <select class="form-select" formControlName="fileContentCategoryFrom">
            <option [value]='' selected disabled i18n="@@batch.actions.metadata.files.contentCategory">Category</option>
            @for (category of contentCategoriesOptions; track category) {
              <option [value]="category.value"> {{category.option}}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <label class="col-form-label" i18n="@@batch.actions.metadata.files.contentCategory.to">Replacing content category</label>
        </div>
        <div class="col-sm-9">
          <select class="form-select" formControlName="fileContentCategoryTo">
            <option [value]='' selected disabled i18n="@@batch.actions.metadata.files.contentCategory">Category</option>
            @for (category of contentCategoriesOptions; track category) {
              <option [value]="category.value"> {{category.option}}</option>
            }
          </select>
        </div>
      </div>
      <div class="mb-2 row">
        <div class="offset-sm-3 col-sm-6">
          @if (valSvc.notValidField(changeFileContentCategoryForm.controls['fileContentCategoryTo'])) {
          <span class="form-text text-danger small">
            Previous and new content categories {{ valSvc.getFieldError(changeFileContentCategoryForm.controls['fileContentCategoryTo']) }}
          </span>
          } @else {
          <span>&nbsp;</span>
          }
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-9 col-sm-3">
          <button type="submit" [disabled]="changeFileContentCategoryForm.invalid || changeFileContentCategoryForm.pristine" 
            class="btn btn-outline-secondary border-2 col-4 float-end">
            GO
          </button>
        </div>
      </div>
    </form>

  </div>