<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.files.contentCategory' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.files.contentCategory.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeFileContentCategoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label text-nowrap text-truncate">{{ 'batch.actions.metadata.files.contentCategory.from' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="fileContentCategoryFrom"
          [ngClass]="{'border border-danger': changeFileContentCategoryForm.get('fileContentCategoryFrom')?.pending}">
          <option [value]="null" selected disable hidden>{{ 'batch.actions.metadata.files.contentCategory' | translate
            }}</option>
          @for (category of contentCategories; track category) {
          <option [value]="category"> {{ 'ContentCategories.' + category | translate}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="offset-sm-3 col-sm-6">
        @if(valSvc.notValidField(changeFileContentCategoryForm.controls['fileContentCategoryFrom'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeFileContentCategoryForm.controls['fileContentCategoryFrom']) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label text-nowrap text-truncate">{{ 'batch.actions.metadata.files.contentCategory.to' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="fileContentCategoryTo"
          [ngClass]="{'border border-danger': changeFileContentCategoryForm.get('fileContentCategoryTo')?.pending}">
          <option [value]="null" selected disable hidden>{{ 'batch.actions.metadata.files.contentCategory' | translate
            }}</option>
          @for (category of contentCategories; track category) {
          <option [value]="category"> {{ 'ContentCategories.' + category | translate}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="offset-sm-3 col-sm-6">
        @if (valSvc.notValidField(changeFileContentCategoryForm.controls['fileContentCategoryTo'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeFileContentCategoryForm.controls['fileContentCategoryTo']) }}
        </span>
        } @else if(changeFileContentCategoryForm.hasError('notEquals')) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.metadata.files.contentCategory.invalid' | translate }} {{ valSvc.getErrorMsg(changeFileContentCategoryForm) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
      </div>
    </div>

    <div class="row">
      <div (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeFileContentCategoryForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>