@if(aaService.isLoggedIn) {
<div class="mb-4">
  <div class="dropdown">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="outside" >
    My Saved Searches
  </button>
  <div class="dropdown-menu" >
    <form >
      <h5>Save current search</h5>
      <div class="row mb-4">
        <div class="col-9">
          <input type=text class="form-control" id="searchName" [formControl]="savedSearchNameForm" placeholder="Name">
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary btn-sm" [disabled]="savedSearchNameForm.invalid || searchForm.invalid" (click)="saveCurrentSearchForm()">Save current</button>
        </div>
      </div>
    </form>
    <hr class="dropdown-divider">
        <h5>Saved search forms</h5>
        @for (savedSearch of savedSearches; track savedSearch; let i = $index;) {
          <div class="row mb-2">
           <div class="col-6">
            <button class="btn btn-link" (click)="applySearchFromHistory(i)">{{ savedSearch.name + ' '}}</button>
          </div>
            <div class="col-2">
              {{savedSearch.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <div class="col-2">
              <button class="btn btn-sm btn-secondary" (click)="copySavedSearchLink(savedSearch.objectId)">Copy link</button>
            </div>
            <div class="col-2">
              <button class="btn btn-sm btn-danger" (click)="deleteSavedSearch(i)">Delete</button>

            </div>
          </div>

        }


    </div>

</div>
</div>
}
<div class="accordion">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="accordion-item border-0">

      <h2 class="accordion-header">
        <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionBodyStandardGroup" aria-expanded="true"
                aria-controls="accordionBodyStandardGroup">
          Search terms
        </button>
      </h2>
      <div id="accordionBodyStandardGroup" class="accordion-collapse collapse show">
        <div formArrayName="flexibleFields" class="accordion-body mt-3 mb-3">

          @for (currentFormGroup of flexibleFields.controls; track currentFormGroup; let i = $index; ) {

            <div [formGroupName]="i" class="d-sm-flex flex-sm-row gap-1 mb-3 align-items-center"
                 style="margin-left: {{$any(currentFormGroup).level * 15}}px">

              @if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.OPERATOR) {
                @if (i != 0) {

                  <!--Operator -->
                  <div class="col-auto" formGroupName="content">
                    <select class="form-select form-select-sm" formControlName="operator"
                            (change)="changeOperator(i, t.value)" #t>
                      <option value="and">AND</option>
                      <option value="or">OR</option>
                      <option value="not">NOT</option>
                    </select>
                  </div>

                }
              } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.PARENTHESIS) {
                <!-- Remove parenthesis button -->
                <div class="col-sm-1">
                  <span>{{ $any(currentFormGroup).type === 'opening_parenthesis' ? '(' : ')' }}</span>
                  <button type="button" class="btn btn-sm" (click)="removeParenthesis(i)">
                    <span class="bi bi-x"></span>
                  </button>
                </div>

              } @else {
                <div class="col-auto">
                  <!-- Add parenthesis button -->
                  @if (currentlyOpenedParenthesis === undefined) {
                    <button type="button" class="btn btn-sm"
                            [disabled]="currentlyOpenedParenthesis!==undefined"
                            (click)="addOpeningParenthesis(i)">
                      (
                    </button>
                  }
                </div>
                <div class="col-sm-2">
                  <select class="form-select" formControlName="type" (change)="changeType(i, t.value)" #t>
                    <option value="title">title</option>
                    <option value="keyword">keyword</option>
                    <option value="classification">classification</option>
                    <option value="anyField">anyField</option>
                    <option value="fulltext">fulltext</option>
                    <option value="person">person</option>
                    <option value="orcid">orcid</option>
                    <option value="organization">organization</option>
                    <option value="orcid">orcid</option>
                    <optgroup label="Dates">
                      <option value="anyDate">anyDate</option>
                      <option value="publishedInPrintDate">publishedInPrintDate</option>
                      <option value="publishedDate">publishedDate</option>
                      <option value="acceptedDate">acceptedDate</option>
                      <option value="submittedDate">submittedDate</option>
                      <option value="modifiedDate">modifiedDate</option>
                      <option value="createdDate">createdDate</option>
                    </optgroup>
                    <optgroup label="Event">
                      <option value="eventTitle">eventTitle</option>
                      <option value="eventStartDate">eventStartDate</option>
                      <option value="eventEndDate">eventEndDate</option>
                    </optgroup>
                    <option value="genre">genre</option>
                    <option value="reviewMethod">reviewMethod</option>
                    <option value="language">language</option>
                    <option value="source">source</option>
                    <option value="journal">journal</option>
                    <option value="localTag">localTag</option>
                    <option value="identifier">identifier</option>
                    <option value="collection">collection</option>
                    <option value="projectInfo">projectInfo</option>
                  </select>
                  <!--Type -->
                  <!--
                  <select class="form-select form-select-sm" formControlName="type" (change)="changeType(i, t.value)"
                          #t>
                    @for (searchType of searchTypeKeys; track searchType) {
                      <option value="{{searchType}}">
                        {{ searchType }}
                      </option>
                    }
                  </select>
                  -->
                </div>


                <!-- Input -->
                @if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.STANDARD) {
                  <div class="col" formGroupName="content">
                    <input class="form-control" type="text" formControlName="text"/>
                  </div>
                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.PERSON) {
                  <div class="col-sm-2" formGroupName="content">
                    <select class="form-select" formControlName="role">
                      <option value="">
                        PERSON
                      </option>
                      @for (val of personOptions; track val) {
                        <option [value]="val">
                          {{ val }}
                        </option>
                      }
                    </select>
                  </div>
                  <div class="col">
                    <pure-person-autosuggest [formForPersonsName]="$any(currentFormGroup).content.get('text')"
                                             [formForPersonsId]="$any(currentFormGroup).content.get('hidden')"/>
                  </div>
                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.ORGANIZATION) {

                  <div class="col" formGroupName="content">
                    <pure-ou-autosuggest [formForOuName]="$any(currentFormGroup).content.get('text')"
                                         [formForOuId]="$any(currentFormGroup).content.get('hidden')"/>
                  </div>

                  <!--
                  <div class="col-3">
                    <input class="form-control" type="text" formControlName="hidden"/>
                  </div>
                  -->
                  <div class="col-sm-2 form-check" formGroupName="content">
                    <input id="predecessorsAndSuccessors" class="form-check-input" type="checkbox"
                           formControlName="includePredecessorsAndSuccessors"/>
                    <label class="form-check-label" style="font-size:12px;" for="predecessorsAndSuccessors">
                      Include predecessors and successors
                    </label>
                  </div>

                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.DATE) {

                  <div class="col" formGroupName="content">
                    <input class="form-control" type="text" formControlName="from" placeholder="YYYY-MM-DD"/>
                  </div>
                  <div class="col" formGroupName="content">
                    <input class="form-control" type="text" formControlName="to" placeholder="YYYY-MM-DD"/>
                  </div>

                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.IDENTIFIER) {
                  <div class="col-sm-3" formGroupName="content">
                    <select class="form-select" formControlName="identifierType">
                      <option value="">
                        -
                      </option>
                      @for (idType of identifierOptions; track idType) {
                        <option [value]="idType">
                          {{ idType }}
                        </option>
                      }
                    </select>
                  </div>
                  <div class="col" formGroupName="content">
                    <input class="form-control" type="text" formControlName="text"/>
                  </div>
                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.CLASSIFICATION) {
                  <div class="col-sm-3" formGroupName="content">
                    <select class="form-select form-select-sm" formControlName="classificationType">
                      <option value="todo">TODO</option>
                      <!--
                      @for(classificationType of identifierOptions; track classificationType) {
                        <option [value]="classificationType">
                          {{ idType }}
                        </option>
                      }
                      -->
                    </select>
                  </div>
                  <div class="col" formGroupName="content">
                    <input class="form-control" type="text" formControlName="text"/>
                  </div>
                } @else if (searchTypes[$any(currentFormGroup).type]['displayType'] == DisplayType.ENUM) {

                  <div class="col" formGroupName="content">
                    <select class="form-select" formControlName="text">
                      @for (val of $any(currentFormGroup).getValues(); track val) {
                        <option [value]="val">
                          {{ val }}
                        </option>
                      }
                    </select>
                  </div>
                }

                <div class="col-sm-1">
                  <!-- WARNING!!!-->
                  <!-- if type is omitted, submit will trigger remove ... -->
                  <button type="button" class="btn btn-sm btn-outline-dark"
                          (click)="addSearchCriterion(i, $any(currentFormGroup))">
                    <strong>+</strong>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-dark" (click)="removeSearchCriterion(i)">
                    <strong>-</strong>
                  </button>
                </div>


              }
            </div>

            <!-- Possible closing parenthesis-->
            @if (possibleCriterionsForClosingParenthesisMap.includes($any(currentFormGroup))) {
              <div class="row" style="margin-left: {{($any(currentFormGroup).level-1) * 15}}px">
                <div class="col-sm-1">
                  <button type="button" class="btn btn-sm " (click)="addClosingParenthesis(i)">
                    )
                  </button>
                </div>
              </div>
            }

          }


        </div>


      </div>
    </div>




    <!--Item state -->
    <div class="accordion-item border-0">

      <h2 class="accordion-header">
        <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionBodyPubStatusGroup" aria-expanded="true"
                aria-controls="accordionBodyPubStatusGroup">
          Item Status
        </button>
      </h2>
      <div id="accordionBodyItemStateGroup" class="accordion-collapse collapse show">
        <div class="accordion-body mt-3 mb-3">


          <div class="row mb-3">
            @for (pubState of itemStateListSearchCriterion.itemStateOptions; track pubState; let i = $index; ) {
              <div class="col-md-6 col-xxl-4">
                <div class="form-check">
                  <input id="pubStateName{{i}}" class="form-check-input" type="checkbox"
                         [formControl]="$any(itemStateListSearchCriterion.publicationStatesFormGroup).get(pubState)"/>
                  <label class="form-check-label" for="pubStateName{{i}}">{{ pubState }}</label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!--Genre -->
    <div class="accordion-item border-0">

      <h2 class="accordion-header">
        <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionBodyGenreGroup" aria-expanded="true"
                aria-controls="accordionBodyGenreGroup">
          Genres
        </button>
      </h2>
      <div id="accordionBodyGenreGroup" class="accordion-collapse collapse show">
        <div class="accordion-body mt-3 mb-3">

          <div class="row mb-3">
            <div class="col-md-6 col-xxl-4">
              <div class="form-check">
                <input id="checkAllGenres" class="form-check-input" type="checkbox"
                       (change)="genreListSearchCriterion.selectAll($event)"/>
                <label class="form-check-label" for="checkAllGenres">Check all</label>
              </div>
            </div>
          </div>

          <!--All genres except THESIS -->
          <div #myElement class="row" *ngFor="let row of getRows(); let i = index">
              <div class="col-md-6 col-xxl-4" *ngFor="let col of getCols(); let j = index">
                @if (genreListSearchCriterion.genreOptions[(i + j * getAnzGenreRows())] != 'THESIS'){
                    <div class="form-check">
                        <input id="genreName{{(i + j * getAnzGenreRows())}}" class="form-check-input" type="checkbox"
                               [formControl]="$any(genreListSearchCriterion.genreFormGroup).get(genreListSearchCriterion.genreOptions[(i + j * getAnzGenreRows())])"/>
                        <label class="form-check-label" for="genreName{{(i + j * getAnzGenreCols())}}">{{ genreListSearchCriterion.genreOptions[(i + j * getAnzGenreRows())] }}</label>
                      <!--<pre>{{getAnzGenreRows()}},{{getAnzGenreCols()}}  {{i}},{{j}} : {{ (i + j * getAnzGenreRows()) }} : {{ genreListSearchCriterion.genreOptions[(i + j * getAnzGenreRows())] | json }}</pre>-->
                    </div>
                }
              </div>
          </div>

          <div class="row mb-3">
          </div>
          <div class="row mb-3">
            @for (currentGenre of genreListSearchCriterion.genreOptions; track currentGenre; let i = $index; ) {
              @if (currentGenre != 'THESIS'){
              <div class="col-md-6 col-xxl-4">
                <div class="form-check">
                  <input id="genreName{{i}}" class="form-check-input" type="checkbox"
                         [formControl]="$any(genreListSearchCriterion.genreFormGroup).get(currentGenre)"/>
                  <label class="form-check-label" for="genreName{{i}}">{{ currentGenre }}</label>
                </div>
              </div>
              }
            }
          </div>

          <!--THESIS genre-->
          <div class="row mt-2">
              <div class="col-md-6 col-xxl-4">
                <div class="form-check">
                  <input id="genreDegreeName" class="form-check-input" type="checkbox"
                         [formControl]="$any(genreListSearchCriterion.genreFormGroup).get('THESIS')"/>
                  <label class="form-check-label" for="genreDegreeName">THESIS</label>
                </div>
              </div>
          </div>
          <!--Degrees -->
          <div class="row">
            @for (currentDegree of genreListSearchCriterion.degreeOptions; track currentDegree; let i = $index; ) {
              <div class="col-md-4 col-xxl-2">
                <div class="form-check">
                  <input id="degreeName{{i}}" class="form-check-input" type="checkbox"
                         [formControl]="$any(genreListSearchCriterion.degreeFormGroup).get(currentDegree)"/>
                  <label class="form-check-label" for="degreeName{{i}}">{{ currentDegree }}</label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!--Publication status -->
    <div class="accordion-item border-0">

      <h2 class="accordion-header">
        <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordionBodyPubStatusGroup" aria-expanded="true"
                aria-controls="accordionBodyPubStatusGroup">
          Publication Status
        </button>
      </h2>
      <div id="accordionBodyPubStatusGroup" class="accordion-collapse collapse show">
        <div class="accordion-body mt-3 mb-3">


          <div class="row mb-3">
            @for (pubState of publicationStateSearchCriterion.pubStateOptions; track pubState; let i = $index; ) {
                <div class="col-md-6 col-xxl-4">
                  <div class="form-check">
                    <input id="pubStateName{{i}}" class="form-check-input" type="checkbox"
                           [formControl]="$any(publicationStateSearchCriterion.publicationStatesFormGroup).get(pubState)"/>
                    <label class="form-check-label" for="pubStateName{{i}}">{{ pubState }}</label>
                  </div>
                </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!--Files -->
    <pure-file-section-component [fileSectionSearchCriterion]="fileSectionSearchCriterion" />

    <!-- Locators -->
    <pure-file-section-component [fileSectionSearchCriterion]="locatorSectionSearchCriterion" />


    <div class="btn-grid mt-2">

      <button type="button" class="btn btn-sm btn-outline-primary"
              [disabled]="searchForm.invalid || flexibleFields.controls.length === 0" (click)="search()">
        search
      </button>
      <button type="button" class="btn btn-sm btn-outline-danger"
              [disabled]="searchForm.invalid || flexibleFields.controls.length === 0" (click)="reset()">
        reset
      </button>
      <button type="button" class="btn btn-sm btn-outline-info"
              [disabled]="searchForm.invalid || flexibleFields.controls.length === 0" (click)="show_form()">
        show form
      </button>
      <button type="button" class="btn btn-sm btn-outline-dark"
              [disabled]="searchForm.invalid || flexibleFields.controls.length === 0" (click)="show_query()">
        show query
      </button>

    </div>

    <!--
    <div [formGroup]="genreListFormGroup">
      <div formGroupName="genres">
        <ul class="list-group" style="max-height:200px">
      @for (currentGenre of genreListKeys; track currentGenre; let i = $index; ) {
        <li class="list-group-item">
          <input id="genre" class="form-check-input" type="checkbox"
                 formControlName="currentGenre"/>
          <label class="form-check-label" for="genre">{{currentGenre}}</label>
        </li>
      }
        </ul>
      </div>


    </div>
    -->

  </form>

  @if (result) {
    <pre>{{ result | json }}</pre>
  }
  @if (query) {
    <pre>{{ query | json }}</pre>
  }
</div>
