<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.genre.change' | translate }}</h4>
  <div class="mt-2 mb-5">
    <p>
      {{ 'batch.actions.genre.change.info' | translate }}
    </p>
    <p>
      <strong>
        <span>
          {{ 'batch.actions.genre.change.reminder' | translate }}
        </span>
      </strong>
    </p>
  </div>

  <form [formGroup]="changeGenreForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'batch.actions.genre.change.from' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="genreFrom" 
          [class.is-invalid]="changeGenreForm.get('genreFrom')?.invalid && changeGenreForm.get('genreFrom')?.touched || changeGenreForm.get('genreFrom')?.pending"
          data-test="genre-to-be-replaced">
          <option [value]="null" selected disable hidden>Genre</option>
          @for (genre of (genres | sortByLabel : 'MdsPublicationGenre.'); track genre) {
          <option [value]="genre">{{ 'MdsPublicationGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeGenreForm.get('genreFrom')"/> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label">{{ 'batch.actions.genre.change.to' | translate }}</label>
      </div>
      <div class="col-sm-9">
        <select class="form-select" formControlName="genreTo" 
          [class.is-invalid]="changeGenreForm.get('genreTo')?.invalid && changeGenreForm.get('genreTo')?.touched || changeGenreForm.get('genreTo')?.pending"
          data-test="replacing-genre">
          <option [value]="null" selected disable hidden>Genre</option>
          @for (genre of (genres | sortByLabel : 'MdsPublicationGenre.'); track genre) {
          <option [value]="genre">{{ 'MdsPublicationGenre.' + genre | translate }}</option>
          }
        </select>
      </div>
    </div>

    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeGenreForm.get('genreTo')"/>
        <pure-validation-error [control]="changeGenreForm"/>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label"
        [ngClass]="{'text-secondary': changeGenreForm.controls['genreTo'].value !== 'THESIS'}">
        {{ 'batch.actions.genre.change.type' | translate }}
      </label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="degreeType"
          [class.is-invalid]="changeGenreForm.controls['genreTo'].value === 'THESIS' && (changeGenreForm.get('degreeType')?.invalid && changeGenreForm.get('degreeType')?.touched || changeGenreForm.get('degreeType')?.pending)" 
          [ngClass]="{'text-secondary': changeGenreForm.controls['genreTo'].value !== 'THESIS'}">
          <option [value]="null" selected disable hidden>{{ 'batch.actions.genre.change.type' | translate }}</option>
          @for (degreeType of degreeTypes; track degreeType) {
          <option [value]="degreeType">{{ 'DegreeType.' + degreeType | translate }}</option>
          }
        </select>
      </div>
    </div>

    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <pure-validation-error [control]="changeGenreForm.get('degreeType')"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeGenreForm.valid"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>