/* MPDL Previous Corporate Identity */
$mpdl-red: #b20004;
$mpdl-orange: #d45a00;
$mpdl-yellow: #f2b200;
$mpdl-green: #60850c;
$mpdl-blue-1: #0084bc;
$mpdl-blue-2: #00387d;
$mpdl-purple: #5a117d;


/* MPG Web Styleguide */
$mpg-blue: #00445F;
$mpg-secondary-blue: #006699;
$mpg-green: #006C66;
$mpg-secondary-green: #00786C;

$mpg-gray: #666666;
$mpg-secondary-gray: #777777;
$mpg-bg-gray: rgb(238, 238, 238);
$mpg-light-gray: rgb(246, 246, 246);

$mpg-slate-gray-0: #29485d;
$mpg-slate-gray-1: #455a64;//#47637c;
$mpg-slate-gray-2: #8898ac;

$mpg-sand-orange-0: #ef7c00;
$mpg-sand-orange-1: #f89748;
$mpg-sand-orange-2: #fbc18c;

/* MPDL Corporate Identity Relaunch Preview */
$mpdl-change-green: #7CD97A;
$mpdl-pale-purple: #BEB7DE;
$mpdl-grey-blue: #7BB7C2;
$mpdl-pale-blue: #A8DBDD;
$mpdl-pink: #E42F8E;
$mpdl-orange: #F47828;
$mpdl-apricot: #FFD6C4;
$mpdl-dark: #373A37;
$mpdl-light: rgb(226, 232, 226);
