@import 'abstract';
//@import '../../node_modules/material-symbols/index.css';
//@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0&icon_names=account_tree,apps,cancel,check_circle,copy_all,delete,delete_forever,edit,error,first_page,folder_shared,get_app,help,home,info,last_page,list,navigate_before,navigate_next,note_add,place,public_off,schedule,search,task_alt,tune,upload,warning,web_stories,workspace_premium");
@import 'vendor';
@import 'themes/themes_pure';
@import 'base';
@import 'components';


