<div class="input-group">
<input class="form-control" type="text" [ngModel]="selectedCslName"
       [ngbTypeahead]="suggestCsl"
       (selectItem)="suggestCslSelector($event)"
       [resultFormatter]="suggestCslFormatter"
       [inputFormatter]="suggestCslFormatter"
       [readonly]="(selectedCslId | empty)"
       placeholder="Start typing..."/>

  @if(searching) {
  <button class="btn btn-outline-dark" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  }

@if(selectedCslId) {
  <button class="btn btn-outline-dark" type="button" (click)="deleteFields()">
    <span class="bi bi-x"></span>
  </button>
}
</div>
