<div class="breadcrumb" [ngClass]="{ 'scrolled': isScrolled }">
  <a [routerLink]="['/home']">
    <span class="material-symbols-outlined" title="Home">Home</span>
  </a>

  <ng-container *ngFor="let crumb of breadcrumbs; let last = last; let first = first">
    @if(crumb.label.length && crumb.label !== 'Home') {
    <span class="text-muted">&gt;</span>
      @if(last) {
        <span class="bold">{{ crumb.label }}</span>
      } @else {
      <a [routerLink]="crumb.link">
        <span>{{ crumb.label }}</span>
      </a>
     }
    }
  </ng-container>
</div>