<nav>
  <a [routerLink]="['/home']">
    <span class="material-symbols-outlined">Home</span>
  </a>
  @for(breadcrumb of breadcrumbs$ | async; track breadcrumb.labelKey; let last = $last) {
    @if(breadcrumb.labelKey) {
      @if(breadcrumb.labelKey !== 'common.home') {
        <span class="text-muted"> &gt; </span>
        @if(last) {
          <span class="last">{{ '' + breadcrumb.labelKey | translate }}</span>
        } @else {
          @if(!breadcrumb.active) {
            <span>{{ '' + breadcrumb.labelKey | translate }}</span>
          } @else {
          <span>
            <a [routerLink]="breadcrumb.url">{{ '' + breadcrumb.labelKey | translate }}</a>
          </span>
          }
        }
      }
    }
  }
</nav>
