<div class="my-2 ms-3">
  <div class="accordion accordion-flush" id="accordionMetadataOrcid">

    <div class="accordion-item">
      <h5 class="accordion-header header_third_color" id="headingAddOrcid">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseAddOrcid" aria-expanded="false" aria-controls="collapseAddOrcid">
          <span class="float-start ps-2 m-3">Add ORCID</span>
        </button>
      </h5>
      <div id="collapseAddOrcid" class="accordion-collapse collapse" aria-labelledby="headingAddOrcid"
        data-bs-parent="#accordionMetadataOrcid">
        <div class="accordion-body p-0 my-2">
          <pure-replace-orcid-form></pure-replace-orcid-form>
        </div>
      </div>
    </div>

  </div>
</div>
