<div class="batch col-lg-12 col-sm-12">
  @if (isReady) {
  <div class="actions mt-4">
    <span>
      {{ 'batch.actions.info' | translate }}
    </span>

    <div class="mt-5">
      <div class="accordion accordion-flush" id="accordionActions">
        <div class="accordion-item border-0">
          <h3 class="accordion-header" id="headingItemState">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseItemState" aria-expanded="true" aria-controls="collapseItemState">
              <span class="float-start ps-2">{{ 'batch.actions.item.state' | translate }}</span>
            </button>
          </h3>
          <div id="collapseItemState" class="accordion-collapse collapse" aria-labelledby="headingItemState"
            data-bs-parent="#accordionActions">
            <div class="accordion-body bg-body p-0 my-3">
              <pure-batch-actions-item-state />
            </div>
          </div>
        </div>


        <div class="accordion-item border-0">
          <h3 class="accordion-header mt-1" id="headingContext">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseContext" aria-expanded="false" aria-controls="collapseContext">
              <span class="float-start ps-2">{{ 'batch.actions.context' | translate }}</span>
            </button>
          </h3>
          <div id="collapseContext" class="accordion-collapse collapse" aria-labelledby="headingContext"
            data-bs-parent="#accordionActions">
            <div class="accordion-body bg-body p-0 my-3">
              @defer {
              <pure-batch-change-context />
              }
            </div>
          </div>
        </div>


        <div class="accordion-item border-0">
          <h3 class="accordion-header mt-1" id="headingTags">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
              <span class="float-start ps-2">{{ 'batch.actions.localTags' | translate }}</span>
            </button>
          </h3>
          <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="headingTags"
            data-bs-parent="#accordionActions">
            <div class="accordion-body bg-body p-0 my-3">
              @defer {
              <pure-batch-actions-local-tags />
              }
            </div>
          </div>
        </div>


        <div class="accordion-item border-0">
          <h3 class="accordion-header mt-1" id="headingGenre">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">
              <span class="float-start ps-2">{{ 'batch.actions.genre' | translate }}</span>
            </button>
          </h3>
          <div id="collapseGenre" class="accordion-collapse collapse" aria-labelledby="headingGenre"
            data-bs-parent="#accordionActions">
            <div class="accordion-body bg-body p-0 my-3">
              @defer {
              <pure-batch-change-genre />
              }
            </div>
          </div>
        </div>


        <div class="accordion-item border-0">
          <h3 class="accordion-header mt-1" id="headingMetadata">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMetadata" aria-expanded="false" aria-controls="collapseMetadata">
              <span class="float-start ps-2">{{ 'batch.actions.metadata' | translate }}</span>
            </button>
          </h3>
          <div id="collapseMetadata" class="accordion-collapse collapse" aria-labelledby="headingMetadata"
            data-bs-parent="#accordionActions">
            <div class="accordion-body bg-body p-0 my-2">
              @defer {
              <pure-batch-actions-metadata />
              }
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  }
</div>