<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.metadata.orcid.add' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.metadata.orcid.add.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeOrcidForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label" for="changeOrcidForm">CoNE</label>
      </div>
      <div class="col-sm-8">

        <pure-person-autosuggest id="changeOrcidForm" 
          [formForPersonsCompleteName]="$any(changeOrcidForm.get('completeName'))"
          [formForPersonsGivenName]="$any(changeOrcidForm.get('givenName'))"
          [formForPersonsFamilyName]="$any(changeOrcidForm.get('familyName'))"
          [formForPersonOrganizations]="$any(changeOrcidForm.get('organizations'))"
          [formForPersonsIdValue]="$any(changeOrcidForm.get('identifier.id'))"
          [formForPersonsIdType]="$any(changeOrcidForm.get('identifier.type'))"
          [formForPersonsOrcid]="$any(changeOrcidForm.get('orcid'))"
          [validationError]=false
          data-test="changeOrcidForm-autosuggest">
        </pure-person-autosuggest>

      </div>

      <div class="col-sm-1">
        @if(changeOrcidForm.get('identifier.type')?.value == 'CONE' && changeOrcidForm.get('identifier.id')?.value) {
          <a target="_blank" [href]="'/cone'+changeOrcidForm.get('identifier.id')?.value">
            <img alt="CoNE logo" src="assets/icons/CoNE_icon.svg" width="24" height="24">
          </a>
          &nbsp;
        }
        @if(changeOrcidForm.get('orcid')?.value) {
          <a target="_blank" [href]="changeOrcidForm.get('orcid')?.value">
            <img class="" height="24px" width="auto" src="assets/images/orcid.svg" />
          </a>
        }
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1">
        <button type="submit" [disabled]="changeOrcidForm.invalid || changeOrcidForm.pristine"
          class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>