<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0" i18n="@@batch.actions.metadata.orcid.add">Add ORCID</h4>
  <div class="mt-2 mb-5">
    <span i18n="@@batch.actions.metadata.orcid.add.info">
      The ORCID stored in CoNE for the selected person will be added to the
      items. Any existing values will be overwritten.
    </span>
  </div>

  <form [formGroup]="changeOrcidForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <div class="col-sm-3">
        <label class="col-form-label"for="changeOrcidForm">CoNE</label>
      </div>
      <div class="col-sm-8">
        <pure-selector id="changeOrcidForm" [form]="changeOrcidForm" [control_name]="'completeName'" (notice)="updatePerson($event)" pureConePersons
          placeholder="{{ placeholder }}">
          <ng-container *pureOption="let item">{{ item.text }}</ng-container>
        </pure-selector>
      </div>
      @if(changeOrcidForm.get('orcid')?.value) {
      <div class="col-sm-1">
        <a href="{{changeOrcidForm.get('orcid')?.value}}">
          <img class="" height="24px" width="auto" src="assets/images/orcid.svg" />
        </a>
      </div>
      }
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="changeOrcidForm.invalid || changeOrcidForm.pristine" class="btn btn-outline-secondary border-2 col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>