<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card">
  <h2 class="m-0" i18n="@@batch.actions.metadata.source.addId">Add Identifier</h2>
  <div class="mt-2 mb-5">
    <span i18n="@@batch.actions.metadata.source.addId.info">
      New Identifiers (IDs) will be added to the existing sources
    </span>
  </div>

  <form [formGroup]="addSourceIdentifierForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" i18n="@@batch.actions.metadata.source.adjust">Source to be adjusted</label>
      <div class="col-sm-1">
        <select class="form-select" formControlName="sourceNumber">
          <option value="1" selected>1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" i18n="@@batch.actions.metadata.source.addId.type">Type of ID</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="sourceIdentifierType">
          <option [value]=''  selected disabled>Type</option>
          @for (type of sourceIdTypes; track type) {
            <option [value]="type">{{type | titlecase}}</option>
          }
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label" i18n="@@batch.actions.metadata.source.addId.to">Value of additional ID</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="sourceIdentifier">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="addSourceIdentifierForm.invalid || addSourceIdentifierForm.pristine"
          class="btn btn-outline-secondary col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>