<div class="imports">
  <div class="logs">
    @if(this.import.anzImportedItems || filteredSize > 25) {

    <div class="row top_nav_pos navbar bg-body" [ngClass]="{ 'scrolled': isScrolled }">

      <div class="col-lg-12 col-sm-12 d-inline-flex" [ngClass]="this.import.anzImportedItems ? 'justify-content-between': 'justify-content-end' ">
        @if(this.import.anzImportedItems) {
        <div class="d-inline-flex justify-content-start align-items-center">
          <a id="delete" role="button" class="btn border-0" ngbTooltip="{{ 'imports.list.details.delete' | translate }}" placement="bottom-left" (click)='doDelete();'>
            <span class="material-symbols-outlined">
              delete_forever
            </span>
          </a>
          @if(caseSubmit()) {
          <a id="submit" role="button" class="btn border-0" ngbTooltip="{{ 'imports.list.details.submit' | translate }}" placement="bottom-left" (click)='doSubmit();'>
            <span class="material-symbols-outlined">
              workspace_premium
            </span>
          </a>
          }
          @if(caseSubmitAndRelease() || caseRelease()) {
          <a id="release" role="button" class="btn border-0" ngbTooltip="{{ 'imports.list.details.release' | translate }}" placement="bottom-left" (click)='doRelease();'>
            <span class="material-symbols-outlined">
              public
            </span>
          </a>
          }
        </div>
        }

        @if(filteredSize > 25) {
        <div class="small d-inline-flex justify-content-end align-items-center py-1">
          <pure-paginator [totalNumberOfItems]="filteredSize" [(pageNumber)]="currentPage" [(size)]="pageSize" (paginatorChanged)="refreshLogs()" />
        </div>
        }

      </div>
      
    </div>
    }

    <div class="row">
      <div class="col-lg-9 col-sm-12 d-flex justify-content-between mt-5 mb-3 border-bottom">
        <div>
          <span>{{ 'imports.list.items.for' | translate }}</span>: <strong class="fw-bolder">{{ import.name }}
          </strong><span class="fw-light">(  {{ 'ImportFormat.' + import.format | translate }} )</span>
        </div>
        <div class="fw-light">
          <span>{{'imports.list.started.on' | translate }}</span><span> {{ import.startDate | localizeDate }} </span><span
            class="material-symbols-outlined" style="cursor: auto">
            schedule</span><span> {{ import.startDate | date: "HH:mm" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <table class="table table-responsive col-12 mt-1">
          <thead>

            @if(inPage.length > 0) {
            <tr>
              <th scope="col" class="col-2 ps-1">Status</th>
              <th scope="col" class="col-4">{{ 'imports.list.header.title' | translate}}</th>
              <th scope="col" class="col-3">{{ 'imports.list.header.finished' | translate}}</th>
              <th scope="col" class="col-2">{{ 'imports.list.header.message' | translate}}</th>
              <th scope="col">Log</th>
            </tr>
            }

          </thead>
        </table>
        <table class="table table-responsive col-12 mt-1">

          <tbody>
            <ng-container>
              @for (item of inPage; track item.id) {
                @defer (on viewport) {
  
                <pure-detail-log [item]="item"></pure-detail-log>
  
                }
                @placeholder {
                <div>...</div>
                }
              }
              @empty {
  
              <tr>
                <th colspan="3" class="text-center col-19">
                  <span class="text-center">{{ 'imports.list.empty' | translate }}</span>
                </th>
              </tr>
  
              }
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="col-lg-3 d-none d-lg-block mt-4">
        <div class="border rounded p-3 m-1">
          @if(unfilteredSize > 0) {
          <span class="me-0"> {{ this.import.anzImportedItems }}/{{ this.import.anzFrom }} <span class="me-0">
            {{ 'imports.list.details.count' | translate }}</span>
          </span>
          }
        </div>
        <br>
        <span>{{ 'imports.list.details.filter' | translate }}</span>
        <br>
        <form [formGroup]="filterForm" (change)="onFilterChange()">
          @if(fine > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fine" formControlName="fine">
            <label class="form-check-label" for="fine">
              {{ 'ImportErrorLevel.FINE' | translate }}
            </label>
          </div>
          }
          @if(warning > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="warning" formControlName="warning">
            <label class="form-check-label" for="warning">
              {{ 'ImportErrorLevel.WARNING' | translate }}
            </label>
          </div>
          }
          @if(problem > 0 || error > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="error" formControlName="error">
            <label class="form-check-label" for="error">
              {{ 'ImportErrorLevel.ERROR' | translate }}
            </label>
          </div>
          }
          @if(fatal > 0) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fatal" formControlName="fatal">
            <label class="form-check-label" for="fatal">
              {{ 'ImportErrorLevel.FATAL' | translate }}
            </label>
          </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>