<div class="form-control border-0 rounded-0 px-4 py-3 mb-2 action-card bg-light">
  <h4 class="m-0">{{ 'batch.actions.context.change' | translate }}</h4>
  <div class="mt-2 mb-5">
    <span>
      {{ 'batch.actions.context.change.info' | translate }}
    </span>
  </div>

  <form [formGroup]="changeContextForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <label for="contextFrom" class="col-sm-3 col-form-label">{{ 'batch.actions.context.change.from' | translate
        }}</label>
      <div class="col-sm-9">
        <select id="contextFrom" class="form-select" formControlName="contextFrom"
          [ngClass]="{'border border-danger': changeContextForm.get('contextFrom')?.pending}">
          <option [value]="null" selected disable hidden>{{ 'batch.actions.context' | translate }}</option>
          @for (contextObject of user_contexts; track contextObject) {
          <option [value]="contextObject.objectId">{{contextObject.name}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <!--
        @if(valSvc.notValidField(changeContextForm.controls['contextFrom'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeContextForm.controls['contextFrom']) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
        -->
        <pure-validation-error [control]="changeContextForm.get('contextFrom')"/>
      </div>
    </div>

    <div class="row">
      <label for="contextTo" class="col-sm-3 col-form-label">{{ 'batch.actions.context.change.to' | translate }}</label>
      <div class="col-sm-9">
        <select id="contextTo" class="form-select" formControlName="contextTo"
          [ngClass]="{'border border-danger': changeContextForm.get('contextTo')?.pending}">
          <option [value]="null" selected disable hidden>{{ 'batch.actions.context' | translate }}</option>
          @for (contextObject of user_contexts; track contextObject) {
          <option [value]="contextObject.objectId">{{contextObject.name}}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-2 row validation-error">
      <div class="offset-sm-3 col-sm-6">
        <!--
        @if(valSvc.notValidField(changeContextForm.controls['contextTo'])) {
        <span class="form-text text-danger small">
          {{ valSvc.getErrorMsg(changeContextForm.controls['contextTo']) }}
        </span>
        } @else if (changeContextForm.hasError('notEquals')) {
        <span class="form-text text-danger small">
          {{ 'batch.actions.context.change.invalid' | translate }} {{valSvc.getErrorMsg(changeContextForm) }}
        </span>
        } @else {
        <span>&nbsp;</span>
        }
        -->
        <pure-validation-error [control]="changeContextForm.get('contextTo')"/>
        <pure-validation-error [control]="changeContextForm"/>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-11 col-sm-1" (click)="checkIfAllRequired()">
        <button type="submit" [disabled]="!changeContextForm.valid" class="btn btn-outline-primary float-end">
          GO
        </button>
      </div>
    </div>
  </form>

</div>