<div class="navbar-nav" xmlns="http://www.w3.org/1999/html">

  @if(displayButtons === 'all' || displayButtons==='addOnly' || (displayButtons==='allowedOnly' && isAdd)) {

    <button class="btn btn-link svg-icon nav-link px-2" (click)="addSelectedToCart()" style="vertical-align: baseline;" [disabled]="!isAdd" 
      ngbTooltip="{{ 'common.addToCart' | translate }}"
      placement="bottom-left">
        <svg fill="currentColor" height="24px" width="24px">
            <use href="assets/icons/icons.svg#cart-add"></use>
        </svg>
    </button>
  }

  @if(displayButtons === 'all' || displayButtons==='removeOnly' || (displayButtons==='allowedOnly' && isRemove)) {

    <button  class=" btn btn-link nav-link px-2" [disabled]="!isRemove" (click)="removeSelectedFromCart()"
      ngbTooltip="{{ 'common.removeFromCart' | translate }}"
        placement="bottom-left">
      <svg fill="currentColor" height="24px" width="24px">
          <use href="assets/icons/icons.svg#cart-remove"></use>
      </svg>
    </button>
  }
</div>
