<ng-content select="[topnav]">
  <!-- Default top nav for item lists-->
  <pure-topnav>
      <ng-content select="[listTopNavElements]" start>

          <button start class="btn btn-link nav-link" (click)="openExportModal()"
            ngbTooltip="{{ 'common.export' | translate }} ({{ 'common.selection' | translate }})"
            [disabled]="selectionService.selectedIds$.value.length === 0">
            <span class="material-symbols-outlined">upload</span>
          </button>
          @if (aa.isLoggedIn) {
            <button start class="btn btn-link nav-link" (click)="openExportAllModal()"
                    ngbTooltip="{{ 'common.export' | translate }} ({{ 'common.all' | translate }})"
                    [disabled]="number_of_results === 0">
              <span class="material-symbols-outlined">unarchive</span>
            </button>
          }
          @if (searchResultType) {
            <button start class="btn btn-link nav-link" (click)="openFeedModal()"
                    ngbTooltip="Atom Feed URL" >
              <span class="material-symbols-outlined">rss_feed</span>
            </button>
          }
        <div start class="vr"></div>
        <pure-topnav-cart start></pure-topnav-cart>
        <div start class="vr"></div>
        <pure-topnav-batch start/>

        <div start class="vr"></div>
        <ng-content select="[furtherTopNavElements]"/>


      </ng-content>

      <pure-paginator end [totalNumberOfItems]="number_of_results" [(size)]="size" [(pageNumber)]="currentPage" (paginatorChanged)="paginatorChanged()"/>

  </pure-topnav>
</ng-content>

<div class="row">
    <div class="col-12 col-xl-9">
        @if (result_list | async; as list) {
        <div>
            <div>
                <div class="form-check m-3">
                    <input #input [formControl]="select_all" class="form-check-input" type="checkbox" value=""
                        id="form_check" (change)="selectAllItems($event)">
                    <label for="form_check"><small>{{ (input.checked ? 'common.deselectAll' : 'common.selectAll') | translate }}</small></label>
                </div>
            </div>
            <div class="list-group list-group-flush">
                @for (item of list; track item; let last = $last) {
                <div class="list-group-item list-group-item-action py-0">
                    <pure-item-list-element [item]="item" [last_item]="last"
                        [authenticated]="aa.isLoggedIn"></pure-item-list-element>
                </div>
                }
            </div>
        </div>
        }
      @else {
      <pure-loading/>
      }

    </div>
    <div class="d-none d-xl-block col-xl-3">
        <div class="mt-4">

            <div>
              <div class="container pb-4">{{number_of_results}} {{'common.items' | translate}}</div>
              <div class="row">
              <ng-content #sortAndFilter></ng-content>
              </div>

            </div>
        </div>
    </div>
</div>
