<ng-content select="[topnav]">
  <!-- Default top nav for item lists-->
  <pure-topnav>
      <ng-content select="[listTopNavElements]" start>
        <pure-topnav-cart start/>
        <div start class="vr"></div>
        <pure-topnav-batch start/>
        <div start class="vr"></div>
        <div class="navbar-nav" start>
          <button start class="btn btn-link nav-link" (click)="openExportModal()" ngbTooltip="Cite & Export" [disabled]="selectionService.selectedIds$.value.length === 0">
            <span class="material-symbols-outlined">upload</span>
          </button>
        </div>
      </ng-content>

      <pure-paginator end [totalNumberOfItems]="number_of_results" [(size)]="size" [(pageNumber)]="currentPage" (paginatorChanged)="paginatorChanged()"/>

  </pure-topnav>
</ng-content>

<div class="row">
    <div class="col-lg-9 col-sm-12">
        @if (result_list | async; as list) {
        <div>
            <div>
                <div class="form-check m-3">
                    <input #input [formControl]="select_all" class="form-check-input" type="checkbox" value=""
                        id="form_check" (change)="selectAllItems($event)">
                    <label for="form_check"><small>{{ (input.checked ? 'common.deselectAll' : 'common.selectAll') | translate }}</small></label>
                </div>
            </div>
            <div class="list-group list-group-flush">
                @for (item of list; track item; let last = $last) {
                <div class="list-group-item py-0">
                    <pure-item-list-element [item]="item" [last_item]="last"
                        [authenticated]="aa.isLoggedIn"></pure-item-list-element>
                </div>
                }
            </div>
        </div>
        }
      @else {
      <pure-loading/>
      }

    </div>
    <div class="col-lg-3 d-none d-lg-block">
        <div class="mt-4">

            <div>
              <div class="container pb-4">{{number_of_results}} items found</div>
              <div class="row">
              <ng-content #sortAndFilter></ng-content>
              </div>

            </div>
        </div>
    </div>
</div>
