<div class="row align-items-center top_nav_pos bg-body" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="col-xl ps-0">
        <pure-topnav></pure-topnav>
    </div>
  <div class="col-xl ps-0">
    <div class="float-end">
      <pure-paginator [totalNumberOfItems]="number_of_results" [(size)]="size" [(pageNumber)]="currentPage" (paginatorChanged)="paginatorChanged()"/>
    </div>
  </div>


</div>
<div class="row">
    <div class="col-lg-9 col-sm-12">
        @if (result_list | async; as list) {
        <div class="card">
            <div class="card-header">
                <div class="form-check m-3">
                    <input #input [formControl]="select_all" class="form-check-input" type="checkbox" value=""
                        id="form_check" (change)="selectAllItems($event)">
                    <label for="form_check"><small
                        [innerHTML]="input.checked ? deselectAll  : selectAll"></small></label>
                </div>
            </div>
            <div class="list-group list-group-flush">
                @for (item of list; track item; let last = $last) {
                <div class="list-group-item py-0">
                    <pure-item-list-element [item]="item" [last_item]="last"
                        [authenticated]="aa.isLoggedIn"></pure-item-list-element>
                </div>
                }
            </div>
        </div>
        }
    </div>
    <div class="col-lg-3 d-none d-lg-block">
        <div class="card mt-4">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="container pb-4">{{number_of_results}} items found</div>
              <div class="row">
              <ng-content #sortAndFilter></ng-content>
              </div>

            </div>
        </div>
    </div>
</div>
