<form [formGroup]="replaceKeywordsForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Replacing key words</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="keywords">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" [disabled]="replaceKeywordsForm.invalid || replaceKeywordsForm.pristine" class="btn btn-outline-secondary col-1 float-end">
          GO
        </button>
      </div>
    </div>
  </form>