<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"><span class="material-symbols-outlined">login</span> Login</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>


<form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
<div class="modal-body">
  @if(errorMessage) {
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  }
  @if(forcedLogout) {
    <div class="alert alert-warning" role="alert">
      Your login expired or is invalid. Please login again.
    </div>
  }

    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" formControlName="username" placeholder="Enter username" data-test="username"
             [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Enter password" data-test="password"
             [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <div class="invalid-feedback">
        Please choose a password.
      </div>
    </div>

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary btn-sm border-2" data-test="sign-in">Sign In</button>
</div>

</form>



