<div class="modal-content border border-secondary bg-light-subtle p-4">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
    </div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="email" formControlName="username" />
        <input type="password" class="form-control" placeholder="pwd" formControlName="password" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info btn-sm me-2" (click)="close()">Close</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" (click)="login()">Sign In</button>
      </div>
    </form>
  </div>